Repository denoland/std, changes with the labels that .github/labeler.yml gives for each.
All labels: assert, async, bytes, cbor, cli, collections, crypto, csv, data-structures, datetime, dotenv, encoding, expect, fmt, front-matter, fs, html, http, ini, internal, io, json, jsonc, log, media-types, msgpack, net, path, random, regexp, semver, streams, tar, testing, text, toml, ulid, uuid, webgpu, yaml

.github/labeler.yml:

assert:
  - changed-files:
      - any-glob-to-any-file: assert/**
async:
  - changed-files:
      - any-glob-to-any-file: async/**
bytes:
  - changed-files:
      - any-glob-to-any-file: bytes/**
cbor:
  - changed-files:
      - any-glob-to-any-file: cbor/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**
collections:
  - changed-files:
      - any-glob-to-any-file: collections/**
crypto:
  - changed-files:
      - any-glob-to-any-file: crypto/**
csv:
  - changed-files:
      - any-glob-to-any-file: csv/**
data-structures:
  - changed-files:
      - any-glob-to-any-file: data_structures/**
datetime:
  - changed-files:
      - any-glob-to-any-file: datetime/**
dotenv:
  - changed-files:
      - any-glob-to-any-file: dotenv/**
encoding:
  - changed-files:
      - any-glob-to-any-file: encoding/**
expect:
  - changed-files:
      - any-glob-to-any-file: expect/**
fmt:
  - changed-files:
      - any-glob-to-any-file: fmt/**
front-matter:
  - changed-files:
      - any-glob-to-any-file: front_matter/**
fs:
  - changed-files:
      - any-glob-to-any-file: fs/**
html:
  - changed-files:
      - any-glob-to-any-file: html/**
http:
  - changed-files:
      - any-glob-to-any-file: http/**
ini:
  - changed-files:
      - any-glob-to-any-file: ini/**
internal:
  - changed-files:
      - any-glob-to-any-file: internal/**
io:
  - changed-files:
      - any-glob-to-any-file: io/**
json:
  - changed-files:
      - any-glob-to-any-file: json/**
jsonc:
  - changed-files:
      - any-glob-to-any-file: jsonc/**
log:
  - changed-files:
      - any-glob-to-any-file: log/**
media-types:
  - changed-files:
      - any-glob-to-any-file: media_types/**
msgpack:
  - changed-files:
      - any-glob-to-any-file: msgpack/**
net:
  - changed-files:
      - any-glob-to-any-file: net/**
path:
  - changed-files:
      - any-glob-to-any-file: path/**
random:
  - changed-files:
      - any-glob-to-any-file: random/**
regexp:
  - changed-files:
      - any-glob-to-any-file: regexp/**
semver:
  - changed-files:
      - any-glob-to-any-file: semver/**
streams:
  - changed-files:
      - any-glob-to-any-file: streams/**
tar:
  - changed-files:
      - any-glob-to-any-file: tar/**
testing:
  - changed-files:
      - any-glob-to-any-file: testing/**
text:
  - changed-files:
      - any-glob-to-any-file: text/**
toml:
  - changed-files:
      - any-glob-to-any-file: toml/**
ulid:
  - changed-files:
      - any-glob-to-any-file: ulid/**
uuid:
  - changed-files:
      - any-glob-to-any-file: uuid/**
webgpu:
  - changed-files:
      - any-glob-to-any-file: webgpu/**
yaml:
  - changed-files:
      - any-glob-to-any-file: yaml/**

ingest nodes from dreamcatcher ecosystem
  2024-11-20-notes.md
  gold-definitions/dream-catcher-platform.md
  gold-tasks.md
Labels: none

docs: simplify README
  README.md
Labels: none

chore: simplify README (#6195)
  README.md
Labels: none

feat(async): add `isRetriable` option to `retry` (#6196)
  async/retry.ts
  async/retry_test.ts
Labels: async

Unstable
  async/retry_test.ts
  async/unstable_retry.ts
  async/unstable_retry_test.ts
Labels: async

Export unstable
  async/deno.json
Labels: async

fix(fs): improve the error message when the symlink target does not exist
  fs/ensure_symlink.ts
  fs/ensure_symlink_test.ts
Labels: fs

fix lint
  fs/ensure_symlink_test.ts
Labels: fs

update
  cli/unstable_prompt_select_test.ts
Labels: cli

definition reconciliation
  gold-definitions/actor-service-provider.md
  gold-definitions/actor.md
  gold-definitions/artifact.md
  gold-definitions/dreamcatcher-foundation.md
  gold-definitions/gateway-network.md
  gold-definitions/identity.md
  gold-definitions/jita.md
  gold-definitions/legal-gateway.md
  gold-definitions/napp.md
  gold-definitions/service-provider.md
  gold-definitions/shockwave.md
  gold-definitions/trading-as.md
  gold-definitions/universal-api-gateway.md
  gold-tasks.md
Labels: none

reformat
  2024-11-20-notes.md
Labels: none

update summary
  gold-definitions-summary.md
Labels: none

add svg dep graph
  .github/graph.ts
  .github/markdown_dependency_graph.svg
  README.md
  deno.json
  deno.lock
Labels: none

node style in svg graph
  .github/graph.ts
  .github/markdown_dependency_graph.svg
Labels: none

fdp for svg layout
  .github/graph.ts
  .github/markdown_dependency_graph.svg
Labels: none

improve docs, add examples
  fs/ensure_symlink.ts
Labels: fs

refactor(api): convert interfaces to readonly
  api/napp-api.ts
  execution/api.ts
  execution/compartment.ts
  execution/filesResolver.ts
  snapshots/mock-provider.ts
  snapshots/tip.ts
Labels: none

fix: untar checksum calculation for the pax format
  tar/untar_stream.ts
Labels: tar
