Repository denoland/std, pull requests merged in 2023-11, with the labels that each got.

#3755 refactor(path): format test names
  path/basename_test.ts
  path/common_test.ts
  path/dirname_test.ts
  path/extname_test.ts
  path/from_file_url_test.ts
  path/glob_test.ts
  path/is_absolute_test.ts
  path/join_test.ts
  path/parse_format_test.ts
  path/relative_test.ts
  path/resolve_test.ts
  path/to_file_url_test.ts
  path/zero_length_strings_test.ts
Labels: path

#3736 chore(http): remove `http/unstable_errors`
  http/http_errors.ts
  http/http_errors_test.ts
  http/unstable_errors.ts
Labels: http

#3756 refactor(console): format test names
  console/unicode_width_test.ts
Labels: console

#3760 fix: add `[Symbol.dispose]()` to `MockListener()`
  http/server_test.ts
Labels: http

#3744 refactor: cleanup `TextLineStream()` and its tests
  streams/text_line_stream.ts
  streams/text_line_stream_test.ts
Labels: streams

#3768 chore: use `Deno.readTextFile()` and `Deno.writeTextFile()` in tests
  fs/copy_test.ts
  fs/empty_dir_test.ts
  fs/ensure_link_test.ts
  fs/move_test.ts
  http/file_server_test.ts
Labels: http, fs

#3766 feat(testing/mock): enable `spy` to accept a class constructor
  testing/mock.ts
  testing/mock_test.ts
Labels: testing

#3772 chore(http): fix file server test names
  http/file_server_test.ts
Labels: http

#3762 fix(fmt): format duration rounding error.
  fmt/duration.ts
  fmt/duration_test.ts
Labels: fmt

#3698 fix(msgpack): encode huge objects #3696
  bytes/concat.ts
  bytes/concat_test.ts
  msgpack/encode.ts
  msgpack/encode_test.ts
Labels: bytes

#3751 feat: `ServerSentEventStream()`
  http/mod.ts
  http/server_sent_event_stream.ts
  http/server_sent_event_stream_test.ts
Labels: http

#3779 fix: rework file server tests
  http/file_server_test.ts
Labels: http

#3739 perf(streams): add single-character fast path for `DelimiterStream()`
  streams/delimiter_stream.ts
  streams/delimiter_stream_test.ts
Labels: streams

#3758 BREAKING(async): deprecate `deferred()` in favor of `Promise.withResolvers()`
  async/deferred.ts
Labels: async

#3763 BREAKING(encoding): remove deprecated binary APIs
  encoding/binary.ts
  encoding/binary_test.ts
Labels: encoding

#3786 refactor: remove use of `deferred()`
  async/abortable.ts
  async/abortable_test.ts
  async/mux_async_iterator.ts
  http/server_test.ts
  signal/mod.ts
  streams/merge_readable_streams.ts
Labels: async, http, streams, signal

#3787 chore: use `ReadableStream.from()` where possible
  crypto/crypto_test.ts
  streams/byte_slice_stream_test.ts
  streams/early_zip_readable_streams_test.ts
  streams/limited_bytes_transform_stream_test.ts
  streams/limited_transform_stream_test.ts
  streams/merge_readable_streams_test.ts
  streams/reader_from_stream_reader_test.ts
  streams/to_array_buffer_test.ts
  streams/to_blob_test.ts
  streams/to_json_test.ts
  streams/to_text_test.ts
  streams/zip_readable_streams_test.ts
Labels: streams, crypto

#3788 chore: use `Array.fromAsync()` where possible
  archive/tar_test.ts
  async/abortable_test.ts
  async/mux_async_iterator_test.ts
  async/pool_test.ts
  async/tee_test.ts
  csv/csv_parse_stream_test.ts
  csv/csv_stringify_stream_test.ts
  fs/empty_dir.ts
  fs/expand_glob_test.ts
  fs/walk_test.ts
  http/unstable_cookie_map_test.ts
  json/_test_common.ts
  json/concatenated_json_parse_stream_test.ts
  json/json_parse_stream_test.ts
  json/json_stringify_stream_test.ts
  streams/byte_slice_stream_test.ts
  streams/early_zip_readable_streams_test.ts
  streams/iterate_reader_test.ts
  streams/limited_bytes_transform_stream_test.ts
  streams/limited_transform_stream_test.ts
  streams/merge_readable_streams_test.ts
  streams/readable_stream_from_reader_test.ts
  streams/to_transform_stream_test.ts
  streams/zip_readable_streams_test.ts
Labels: async, http, csv, json, streams, fs, archive

#3783 BREAKING(http): deprecate `ServerSentEvent()`
  http/server_sent_event.ts
  http/unstable_server_sent_event.ts
Labels: http

#3791 docs(path): fix `@deprecated` note for `isGlob()`
  path/glob.ts
Labels: path

#3784 BREAKING(bytes): deprecate `concat()` signatures that don't use `Uint8Array[]` argument
  bytes/concat.ts
  bytes/concat_test.ts
  io/read_delim.ts
  io/read_lines.ts
  streams/delimiter_stream.ts
  streams/readable_stream_from_reader_test.ts
  streams/to_array_buffer.ts
  uuid/v3.ts
  uuid/v5.ts
Labels: streams, bytes, io, uuid

#3806 test(http): fix op leak in file_server_test
  http/file_server_test.ts
Labels: http

#3734 feat: `std/data_structures`
  .github/labeler.yml
  _tools/check_circular_submodule_dependencies.ts
  collections/binary_heap.ts
  collections/binary_search_node.ts
  collections/binary_search_tree.ts
  collections/mod.ts
  collections/red_black_node.ts
  collections/red_black_tree.ts
  data_structures/_binary_search_node.ts
  data_structures/_binary_search_node_test.ts
  data_structures/_red_black_node.ts
  data_structures/_red_black_node_test.ts
  data_structures/_test_utils.ts
  data_structures/binary_heap.ts
  data_structures/binary_heap_test.ts
  data_structures/binary_search_tree.ts
  data_structures/binary_search_tree_test.ts
  data_structures/comparators.ts
  data_structures/comparators_test.ts
  data_structures/mod.ts
  data_structures/red_black_tree.ts
  data_structures/red_black_tree_test.ts
  testing/time.ts
Labels: testing, collections

#3799 fix(crypto): validate that digest length must be an integer between 0 and isize::MAX
  crypto/crypto.ts
  crypto/crypto_test.ts
Labels: crypto

#3804 docs: improve deprecation notices
  crypto/keystack.ts
  crypto/to_hash_string.ts
  datetime/to_imf.ts
  encoding/ascii85.ts
  encoding/base32.ts
  encoding/base58.ts
  encoding/base64.ts
  encoding/base64url.ts
  encoding/hex.ts
  fmt/colors.ts
  front_matter/_formats.ts
  front_matter/any.ts
  front_matter/json.ts
  front_matter/toml.ts
  front_matter/yaml.ts
  http/cookie_map.ts
  http/http_status.ts
  http/method.ts
  http/server.ts
  http/server_sent_event.ts
  http/unstable_server_sent_event.ts
  io/buf_reader.ts
  io/buf_writer.ts
  io/buffer.ts
  io/copy_n.ts
  io/limited_reader.ts
  io/mod.ts
  io/multi_reader.ts
  io/read_delim.ts
  io/read_int.ts
  io/read_lines.ts
  io/read_long.ts
  io/read_range.ts
  io/read_short.ts
  io/read_string_delim.ts
  io/slice_long_to_bytes.ts
  io/string_reader.ts
  io/string_writer.ts
  media_types/type_by_extension.ts
  path/glob.ts
  path/mod.ts
  path/posix.ts
  path/posix/glob.ts
  path/win32.ts
  path/windows/glob.ts
  permissions/mod.ts
  signal/mod.ts
  streams/copy.ts
  streams/iterate_reader.ts
  streams/read_all.ts
  streams/readable_stream_from_reader.ts
  streams/reader_from_iterable.ts
  streams/reader_from_stream_reader.ts
  streams/writable_stream_from_writer.ts
  streams/write_all.ts
  streams/writer_from_stream_writer.ts
  testing/asserts.ts
Labels: testing, http, fmt, streams, crypto, datetime, encoding, front_matter, io, media_types, path, signal

#3803 BREAKING(crypto): remove `crypto.subtle.timingSafeEqual()` method
  crypto/crypto.ts
  crypto/crypto_test.ts
Labels: crypto

#3530 BREAKING: move `std/flags` to new `std/cli` sub-module
  cli/mod.ts
  cli/parse_args.ts
  cli/parse_args_test.ts
  flags/mod.ts
  http/file_server.ts
Labels: http, flags

#3809 BREAKING(fs): deprecate `EOL` enum
  fs/eol.ts
Labels: fs

#3812 chore(collections): improve deprecation notices
  collections/binary_heap.ts
  collections/binary_search_node.ts
  collections/binary_search_tree.ts
  collections/red_black_node.ts
  collections/red_black_tree.ts
Labels: collections

#3813 chore(crypto): cleanup tests
  crypto/crypto_test.ts
Labels: crypto

#3781 BREAKING(http): deprecate `enum Status` in favour of `STATUS_CODES` object
  http/file_server.ts
  http/file_server_test.ts
  http/http_status.ts
  http/status.ts
  http/status_test.ts
  http/util.ts
Labels: http

#3801 chore(csv): use `TextDecoderStream()` in test
  csv/csv_parse_stream_test.ts
Labels: csv

#3817 docs(path): correct `globToRegExp()` deprecation notice
  path/glob.ts
Labels: path

#3818 refactor(collections): unify function overloads
  collections/max_by.ts
  collections/max_of.ts
  collections/min_by.ts
  collections/min_of.ts
  collections/partition.ts
  collections/sort_by.ts
  collections/zip.ts
Labels: collections

#3793 feat(crypto): support `BLAKE2B-160` algorithm
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.mjs
  crypto/_wasm/mod.ts
  crypto/_wasm/src/digest.rs
  crypto/crypto.ts
  crypto/crypto_test.ts
Labels: crypto

#3823 docs(collection): document overloads (revert #3818)
  collections/max_by.ts
  collections/max_of.ts
  collections/min_by.ts
  collections/min_of.ts
  collections/partition.ts
  collections/sort_by.ts
Labels: collections

#3833 chore(testing): remove examples
  testing/bdd.ts
  testing/bdd_examples/user.ts
  testing/bdd_examples/user_flat_test.ts
  testing/bdd_examples/user_mixed_test.ts
  testing/bdd_examples/user_nested_test.ts
  testing/bdd_examples/user_test.ts
  testing/chai_example.ts
  testing/fast_check_example.ts
  testing/mock.ts
  testing/mock_examples/internals_injection.ts
  testing/mock_examples/internals_injection_test.ts
  testing/mock_examples/interval.ts
  testing/mock_examples/interval_test.ts
  testing/mock_examples/parameter_injection.ts
  testing/mock_examples/parameter_injection_test.ts
  testing/mock_examples/random.ts
  testing/mock_examples/random_test.ts
  testing/sinon_example.ts
  testing/time.ts
Labels: testing

#3834 BREAKING: deprecate `std/http/method`
  http/method.ts
  http/unstable_method.ts
Labels: http

#3832 chore: update Rust for `std/crypto` to 1.74.0
  .github/workflows/ci.yml
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.mjs
  crypto/_wasm/rust-toolchain.toml
Labels: crypto

#3663 BREAKING(collections): deprecate `groupBy()`
  collections/group_by.ts
  collections/mod.ts
Labels: collections

#3836 refactor(datetime): replace enum with object
  datetime/week_of_year.ts
Labels: datetime

#3835 refactor(fs): correct test names
  fs/_util_test.ts
  fs/copy_test.ts
  fs/empty_dir_test.ts
  fs/ensure_dir_test.ts
  fs/ensure_file_test.ts
  fs/ensure_link_test.ts
  fs/ensure_symlink_test.ts
  fs/eol_test.ts
  fs/exists_test.ts
  fs/expand_glob_test.ts
  fs/move_test.ts
  fs/walk_test.ts
Labels: fs

#3842 refactor(fmt): replaced enums with const objects
  fmt/printf.ts
Labels: fmt

#3843 refactor(console): replace enums with const objects
  console/_tools/generate_data.ts
Labels: console

#3837 refactor(jsonc): replace `enum` with string union type
  jsonc/parse.ts
Labels: jsonc

#3839 chore(console): improve console test coverage
  console/_rle_test.ts
Labels: console

#3847 BREAKING(http): remove `ServerSentEvent()`
  http/mod.ts
  http/server_sent_event.ts
  http/unstable_server_sent_event.ts
  http/unstable_server_sent_event_test.ts
Labels: http

#3848 BREAKING(media_types): remove `typeByExtension()`
  media_types/mod.ts
  media_types/type_by_extension.ts
  media_types/type_by_extension_test.ts
Labels: media_types

#3849 BREAKING(datetime): remove `toIMF()`
  datetime/mod.ts
  datetime/to_imf.ts
  datetime/to_imf_test.ts
Labels: datetime

#3852 BREAKING(async): remove deprecated `deferred()`
  async/deferred.ts
  async/deferred_test.ts
  async/mod.ts
Labels: async

#3850 BREAKIING(fs): remove `EOL` enum, add OS-dependent `EOL`
  fs/eol.ts
  fs/eol_test.ts
Labels: fs

#3853 BREAKING(collections): remove deprecated APIs
  collections/binary_heap.ts
  collections/binary_search_node.ts
  collections/binary_search_tree.ts
  collections/mod.ts
  collections/red_black_node.ts
  collections/red_black_tree.ts
Labels: collections

#3854 BREAKING(bytes): remove spread `concat()` overload
  bytes/concat.ts
  bytes/concat_test.ts
  streams/delimiter_stream.ts
Labels: streams, bytes

#3851 docs(http): fix `Status` enum deprecation notice
  http/status.ts
Labels: http

#3840 refactor(toml): replace ArrayType enum with union
  toml/stringify.ts
Labels: toml

#3855 deprecate(log): remove enums and add deprecation notices
  log/handlers_test.ts
  log/levels.ts
  log/logger.ts
  log/mod.ts
  log/test.ts
Labels: log

#3872 refactor(dotenv): move `stringify()` to own file
  dotenv/mod.ts
  dotenv/mod_test.ts
  dotenv/stringify.ts
  dotenv/stringify_test.ts
Labels: dotenv

#3873 refactor(dotenv): move `parse()` to own file
  dotenv/mod.ts
  dotenv/mod_test.ts
  dotenv/parse.ts
  dotenv/parse_test.ts
Labels: dotenv

#3877 Revert "BREAKING(media_types): remove `typeByExtension()`"
  media_types/content_type.ts
  media_types/mod.ts
  media_types/type_by_extension.ts
  media_types/type_by_extension_test.ts
Labels: media_types

#3879 chore(http): remove test files with symbols in the filename
  http/file_server_test.ts
  http/testdata/%
  http/testdata/%25A.txt
  http/testdata/file#2.txt
Labels: http
