Repository denoland/std, pull requests merged in 2023-12, with the labels that each got.

#3883 chore(jsonc): rename testdata file
  jsonc/testdata/JSONTestSuite/test_parsing/n_structure_trailing_hastag.json
Labels: jsonc

#3882 chore(http): rename test file
  http/file_server_test.ts
  http/testdata/test_file.txt
Labels: http

#3887 chore(async): complete documentation
  async/abortable.ts
  async/deadline.ts
  async/delay.ts
  async/mux_async_iterator.ts
  async/pool.ts
  async/retry.ts
  async/tee.ts
Labels: async

#3891 chore(async): `exponentialBackoffWithJitter()` tweaks
  async/_util.ts
  async/_util_test.ts
  async/retry.ts
  async/retry_test.ts
Labels: async

#3892 chore(http): add test for file containing space in name
  .gitignore
  http/file_server_test.ts
Labels: http

#3893 chore(streams): complete documentation
  streams/buffer.ts
  streams/byte_slice_stream.ts
  streams/copy.ts
  streams/delimiter_stream.ts
  streams/early_zip_readable_streams.ts
  streams/iterate_reader.ts
  streams/limited_bytes_transform_stream.ts
  streams/limited_transform_stream.ts
  streams/merge_readable_streams.ts
  streams/read_all.ts
  streams/readable_stream_from_reader.ts
  streams/reader_from_iterable.ts
  streams/reader_from_stream_reader.ts
  streams/text_delimiter_stream.ts
  streams/text_line_stream.ts
  streams/to_array_buffer.ts
  streams/to_blob.ts
  streams/to_json.ts
  streams/to_text.ts
  streams/to_transform_stream.ts
  streams/writable_stream_from_writer.ts
  streams/write_all.ts
  streams/writer_from_stream_writer.ts
  streams/zip_readable_streams.ts
Labels: streams

#3897 chore(fs): complete documentation
  fs/_util.ts
  fs/copy.ts
  fs/ensure_file.ts
  fs/eol.ts
  fs/exists.ts
  fs/expand_glob.ts
  fs/move.ts
  fs/walk.ts
  path/_common/glob_to_reg_exp.ts
Labels: fs, path

#3896 chore(collections): complete documentation
  collections/deep_merge.ts
  collections/drop_last_while.ts
  collections/group_by.ts
  collections/join_to_string.ts
  collections/mod.ts
  collections/sample.ts
  collections/sort_by.ts
  collections/union.ts
Labels: collections

#3898 fix(fs): improve `exists()` test coverage
  fs/exists_test.ts
Labels: fs

#3903 deprecation(io): IO types in favour of Web Streams API
  io/types.d.ts
  types.d.ts
Labels: io

#3902 chore(fmt): replace `stripColor()` use with `stripAnsiCode()`
  assert/_format_test.ts
  assert/assert_equals_test.ts
  assert/assert_is_error.ts
  console/unicode_width.ts
  expect/_format_test.ts
  fmt/colors_test.ts
  testing/snapshot.ts
  testing/snapshot_test.ts
Labels: testing, fmt, console, assert, expect

#3901 chore(console): complete documentation
  console/unicode_width.ts
Labels: console

#3900 chore(assert): complete documentation
  assert/assert.ts
  assert/assert_almost_equals.ts
  assert/assert_array_includes.ts
  assert/assert_equals.ts
  assert/assert_exists.ts
  assert/assert_false.ts
  assert/assert_greater.ts
  assert/assert_greater_or_equal.ts
  assert/assert_instance_of.ts
  assert/assert_is_error.ts
  assert/assert_less.ts
  assert/assert_less_or_equal.ts
  assert/assert_match.ts
  assert/assert_not_equals.ts
  assert/assert_not_instance_of.ts
  assert/assert_not_match.ts
  assert/assert_not_strict_equals.ts
  assert/assert_object_match.ts
  assert/assert_rejects.ts
  assert/assert_strict_equals.ts
  assert/assert_string_includes.ts
  assert/assert_throws.ts
  assert/assertion_error.ts
  assert/equal.ts
  assert/fail.ts
  assert/unimplemented.ts
  assert/unreachable.ts
Labels: assert

#3906 test(fs): fix `expandGlob()` test assertion
  fs/expand_glob_test.ts
Labels: fs

#3910 fix(assert): disallow scalar string args in `assertArrayIncludes()`
  assert/assert_array_includes.ts
  assert/assert_array_includes_test.ts
Labels: assert

#3917 fix(assert): export parameter type alias for `assertArrayIncludes()`
  assert/assert_array_includes.ts
Labels: assert

#3916 refactor(fs): trim internal dependencies
  fs/_util.ts
Labels: fs

#3919 perf(crypto): use `Promise.all()` for `KeyStack` data comparisons
  crypto/unstable_keystack.ts
Labels: crypto

#3920 fix(toml): handle CRLF as newline in parsing multiline string
  toml/_parser.ts
  toml/parse_test.ts
Labels: toml

#3925 refactor(encoding): cleanup deprecated API use
  crypto/unstable_keystack.ts
  encoding/ascii85.ts
Labels: crypto, encoding

#3931 deprecation(front_matter): move `Format` enum deprecation forward
  front_matter/_formats.ts
Labels: front_matter

#3932 chore(front_matter): cleanup deprecation-related code
  front_matter/_test_utils.ts
  front_matter/any.ts
  front_matter/any_test.ts
  front_matter/create_extractor_test.ts
  front_matter/json_test.ts
  front_matter/mod.ts
  front_matter/test.ts
  front_matter/test_test.ts
  front_matter/toml.ts
  front_matter/toml_test.ts
  front_matter/yaml.ts
  front_matter/yaml_test.ts
Labels: front_matter

#3936 fix(text): fix closestString
  text/closest_string.ts
  text/closest_string_test.ts
Labels: text

#3938 feat(expect): support message checks in expect().toThrow
  assert/assert_is_error.ts
  assert/assert_is_error_test.ts
  expect/_matchers.ts
  expect/_to_throw_test.ts
  expect/expect.ts
Labels: assert, expect

#3905 feat(http): `signCookie()`, `verifyCookie()` and `parseSignedCookie()`
  http/mod.ts
  http/unstable_signed_cookie.ts
  http/unstable_signed_cookie_test.ts
Labels: http

#3941 docs(encoding): complete documentation
  encoding/ascii85.ts
  encoding/base32.ts
  encoding/base58.ts
  encoding/base64.ts
  encoding/base64url.ts
  encoding/hex.ts
Labels: encoding

#3944 fix(cli): re-export promptSecret from mod.ts
  cli/mod.ts
Labels: cli

#3943 chore(http): deprecate `CookieMap()`
  http/cookie_map.ts
  http/unstable_cookie_map.ts
Labels: http

#3940 perf(encoding): increase `varint.decode()` performance by 45x
  encoding/varint.ts
  encoding/varint_test.ts
Labels: encoding

#3946 chore(semver): remove regexp array
  semver/_shared.ts
  semver/parse.ts
  semver/parse_comparator.ts
  semver/parse_range.ts
Labels: semver

#3939 deprecation(semver): deprecate `SemVer` argument for `parse()` and `canParse()`
  semver/can_parse.ts
  semver/format_test.ts
  semver/parse.ts
  semver/range_min_test.ts
Labels: semver

#3953 chore(semver): regex template strings
  semver/_shared.ts
Labels: semver

#3955 chore(semver): rename internal constants for better readability
  semver/_shared.ts
Labels: semver

#3934 perf(streams): make `toBlob()` 20-30% faster
  streams/to_blob.ts
Labels: streams

#3951 BREAKING(http): remove deprecated `std/http/method` API
  http/method.ts
  http/mod.ts
  http/unstable_method.ts
  http/unstable_method_test.ts
Labels: http, v0.210.0

#3952 BREAKING(encoding): remove deprecated APIs
  encoding/ascii85.ts
  encoding/base32.ts
  encoding/base58.ts
  encoding/base64.ts
  encoding/base64url.ts
  encoding/hex.ts
  encoding/hex_test.ts
Labels: v0.210.0

#3958 deprecation(semver): deprecate `rcompare()`
  semver/rcompare.ts
Labels: semver

#3921 docs(crypto): complete documentation
  crypto/crypto.ts
  crypto/to_hash_string.ts
  crypto/unstable_keystack.ts
Labels: crypto

#3961 feat(testing): enable the `using` keyword on `FakeTime()`
  async/retry_test.ts
  datetime/parse_test.ts
  http/unstable_cookie_map_test.ts
  testing/mock.ts
  testing/time.ts
  testing/time_test.ts
  ulid/test.ts
Labels: testing, async, http, datetime, ulid

#3924 BREAKING(crypto): remove `toHashString()`
  crypto/mod.ts
  crypto/to_hash_string.ts
  crypto/to_hash_string_test.ts
Labels: crypto, v0.210.0

#3971 chore(encoding): improve test coverage
  encoding/_util_test.ts
  encoding/ascii85_test.ts
  encoding/base32_test.ts
  encoding/base64url_test.ts
  encoding/varint_test.ts
Labels: encoding

#3963 refactor(testing): minor cleanups
  testing/mock.ts
Labels: testing

#3956 chore(semver): add regexp capturing groups
  semver/_shared.ts
  semver/parse.ts
  semver/parse_range.ts
Labels: semver

#3970 fix(path/extname): Fix incorrect import
  path/extname.ts
Labels: path

#3979 refactor(semver): use string literals
  semver/parse_range.ts
  semver/parse_test.ts
Labels: semver

#3977 fix(http): account for period in signed cookie name
  http/unstable_signed_cookie.ts
  http/unstable_signed_cookie_test.ts
Labels: http

#3981 refactor(semver): rename isX to isWildcard
  semver/parse_range.ts
Labels: semver

#3960 feat(log): Added support for structured JSON logging
  log/formatters.ts
  log/formatters_test.ts
  log/handlers.ts
  log/mod.ts
Labels: log

#3957 deprecation(semver): rename `isSemVerComparator()`
  semver/is_comparator.ts
  semver/is_comparator_test.ts
  semver/is_semver_comparator.ts
  semver/types.ts
Labels: semver

#3994 refactor(regexp): format test names
  regexp/escape_test.ts
Labels: regexp

#3984 refactor(archive): format test names
  archive/tar_test.ts
  archive/untar_test.ts
Labels: archive

#3985 refactor(async): format test names
  async/_util_test.ts
  async/abortable_test.ts
  async/deadline_test.ts
  async/debounce_test.ts
  async/delay_test.ts
  async/mux_async_iterator_test.ts
  async/pool_test.ts
  async/retry_test.ts
  async/tee_test.ts
Labels: async

#3997 refactor: add some missing explicit types
  csv/csv_parse_stream.ts
  csv/parse.ts
  data_structures/binary_heap.ts
  data_structures/comparators.ts
  datetime/constants.ts
  dotenv/stringify.ts
  expect/fn.ts
  fmt/colors.ts
  front_matter/any.ts
  front_matter/json.ts
  front_matter/toml.ts
  front_matter/yaml.ts
  html/entities.ts
  http/cookie_map.ts
  http/file_server.ts
  http/http_status.ts
  http/server.ts
  http/unstable_cookie_map.ts
  http/user_agent.ts
  ini/ini_map.ts
  log/handlers.ts
  log/levels.ts
  msgpack/decode.ts
  msgpack/encode.ts
  path/join.ts
  path/mod.ts
  path/posix.ts
  path/posix/to_file_url.ts
  path/separator.ts
  path/win32.ts
  regexp/escape.ts
  semver/comparator_format.ts
  semver/format.ts
  semver/is_semver_comparator.ts
  semver/range_format.ts
  text/compare_similarity.ts
  toml/parse.ts
  yaml/schema.ts
Labels: http, fmt, csv, datetime, dotenv, front_matter, html, log, path, regexp, semver, toml, yaml, expect, text, data_structures, ini, msgpack

#3989 refactor(crypto): format test names
  crypto/_fnv/util_test.ts
  crypto/crypto_test.ts
  crypto/timing_safe_equal_test.ts
  crypto/unstable_keystack_test.ts
Labels: crypto

#3992 refactor(datetime): format test names
  datetime/constants_test.ts
  datetime/day_of_year_test.ts
  datetime/difference_test.ts
  datetime/format_test.ts
  datetime/is_leap_test.ts
  datetime/parse_test.ts
  datetime/week_of_year_test.ts
Labels: datetime

#3987 refactor(cli): format test names
  cli/parse_args_test.ts
Labels: cli

#3983 chore(semver): replace `replace()` with `match()` capturing groups
  semver/_shared.ts
  semver/parse_range.ts
Labels: semver

#3968 feat(cli): command line spinner
  cli/mod.ts
  cli/spinner.ts
Labels: cli

#3998 chore(datetime): remove constants test file
  datetime/constants_test.ts
Labels: datetime

#3974 deprecation(semver): comparator min and max properties
  semver/comparator_intersects.ts
  semver/is_comparator.ts
  semver/parse_comparator.ts
  semver/range_max.ts
  semver/range_min.ts
  semver/test_range.ts
  semver/types.ts
Labels: semver

#4000 deprecation(encoding): deprecate `base32.byteLength()`
  encoding/base32.ts
Labels: encoding

#3988 refactor(collections): format test names
  collections/aggregate_groups_test.ts
  collections/associate_by_test.ts
  collections/associate_with_test.ts
  collections/chunk_test.ts
  collections/deep_merge_test.ts
  collections/distinct_by_test.ts
  collections/distinct_test.ts
  collections/drop_last_while_test.ts
  collections/drop_while_test.ts
  collections/filter_entries_test.ts
  collections/filter_keys_test.ts
  collections/filter_values_test.ts
  collections/find_single_test.ts
  collections/first_not_nullish_of_test.ts
  collections/group_by_test.ts
  collections/includes_value_test.ts
  collections/intersect_test.ts
  collections/join_to_string_test.ts
  collections/map_entries_test.ts
  collections/map_keys_test.ts
  collections/map_not_nullish_test.ts
  collections/map_values_test.ts
  collections/max_by_test.ts
  collections/max_of_test.ts
  collections/max_with_test.ts
  collections/min_by_test.ts
  collections/min_of_test.ts
  collections/min_with_test.ts
  collections/partition_entries_test.ts
  collections/partition_test.ts
  collections/permutations_test.ts
  collections/reduce_groups_test.ts
  collections/running_reduce_test.ts
  collections/sample_test.ts
  collections/sliding_windows_test.ts
  collections/sort_by_test.ts
  collections/sum_of_test.ts
  collections/take_last_while_test.ts
  collections/take_while_test.ts
  collections/union_test.ts
  collections/unzip_test.ts
  collections/without_all_test.ts
  collections/zip_test.ts
Labels: collections

#3993 refactor(text): format test names
  text/closest_string_test.ts
  text/compare_similarity_test.ts
  text/levenshtein_distance_test.ts
  text/word_similarity_sort_test.ts
Labels: text

#3996 refactor(dotenv): format test names
  dotenv/load_test.ts
  dotenv/mod_test.ts
  dotenv/parse_test.ts
  dotenv/stringify_test.ts
Labels: dotenv

#4002 refactor(uuid): format test names and improve test coverage
  uuid/constants_test.ts
  uuid/test.ts
  uuid/v1_test.ts
  uuid/v3_test.ts
  uuid/v4_test.ts
  uuid/v5_test.ts
Labels: uuid

#4004 deprecation(signal): move deprecation forward
  signal/mod.ts
Labels: signal

#4007 refactor(fs): trim internal utilities
  fs/_create_walk_entry.ts
  fs/_get_file_info_type.ts
  fs/_get_file_info_type_test.ts
  fs/_is_same_path.ts
  fs/_is_same_path_test.ts
  fs/_is_subdir.ts
  fs/_is_subdir_test.ts
  fs/_to_path_string.ts
  fs/_util.ts
  fs/_util_test.ts
  fs/copy.ts
  fs/empty_dir.ts
  fs/ensure_dir.ts
  fs/ensure_file.ts
  fs/ensure_link.ts
  fs/ensure_symlink.ts
  fs/expand_glob.ts
  fs/move.ts
  fs/walk.ts
Labels: fs

#4011 fix(expect): invalid return typing
  expect/_to_have_length_test.ts
  expect/expect.ts
Labels: expect

#4012 fix(cli/spinner): export private type aliases used in public API
  cli/spinner.ts
Labels: cli

#4018 chore: add more explicit types
  bytes/last_index_of_needle.ts
  http/unstable_cookie_map.ts
  io/slice_long_to_bytes.ts
  log/handlers.ts
  log/mod.ts
  path/common.ts
  path/posix/common.ts
  path/windows/common.ts
  streams/byte_slice_stream.ts
  yaml/schema/core.ts
  yaml/schema/default.ts
  yaml/schema/extended.ts
  yaml/schema/failsafe.ts
  yaml/schema/json.ts
Labels: http, streams, bytes, io, log, path, yaml

#4017 fix(cli): document milliseconds unit for `Spinner.interval`
  cli/spinner.ts
Labels: cli

#3922 BREAKING: remove `types.d.ts` at top level
  types.d.ts
Labels: v0.211.0

#3923 BREAKING(collections): remove `groupBy()`
  collections/group_by.ts
  collections/group_by_test.ts
  collections/mod.ts
Labels: collections, v0.211.0

#4014 BREAKING(http): remove deprecated `createCommonResponse()` and `Status` APIs
  http/http_status.ts
  http/mod.ts
  http/status.ts
  http/util.ts
Labels: http

#4013 BREAKING(front_matter): remove deprecated APIs
  front_matter/_formats.ts
  front_matter/any.ts
  front_matter/json.ts
  front_matter/mod.ts
  front_matter/toml.ts
  front_matter/yaml.ts
Labels: front_matter

#4016 BREAKING(path): remove deprecated APIs
  path/posix.ts
  path/posix/from_file_url.ts
  path/posix/to_file_url.ts
  path/win32.ts
  path/windows/from_file_url.ts
  path/windows/to_file_url.ts
Labels: path

#4020 test(jsonc): do not use deno.lock in subcommand
  jsonc/parse_test.ts
Labels: jsonc

#4022 chore(fs): log more information about test failure
  fs/empty_dir_test.ts
Labels: fs

#4029 refactor(fmt): format test names
  fmt/bytes_test.ts
  fmt/colors_test.ts
  fmt/duration_test.ts
  fmt/printf_test.ts
Labels: fmt

#4021 chore(log): rework `std/log` to work without deprecated `Deno.Writer`
  log/handlers.ts
Labels: log

#4028 refactor(encoding): format test names
  encoding/_util_test.ts
  encoding/ascii85_test.ts
  encoding/base32_test.ts
  encoding/base58_test.ts
  encoding/base64_test.ts
  encoding/base64url_test.ts
  encoding/hex_test.ts
  encoding/varint_test.ts
Labels: encoding

#4030 refactor(datetime): format test names
  datetime/day_of_year_test.ts
Labels: datetime

#3991 test(data_structures): format test names
  data_structures/_binary_search_node_test.ts
  data_structures/_red_black_node_test.ts
  data_structures/binary_heap_test.ts
  data_structures/binary_search_tree_test.ts
  data_structures/comparators_test.ts
  data_structures/red_black_tree_test.ts
Labels: data_structures

#3990 refactor(csv): format test names
  csv/csv_parse_stream_test.ts
  csv/csv_stringify_stream_test.ts
  csv/parse_test.ts
  csv/stringify_test.ts
Labels: csv

#4032 deprecation(semver): rename rsort to reverseSort
  semver/reverse_sort.ts
  semver/reverse_sort_test.ts
  semver/rsort.ts
Labels: semver

#4025 deprecation(semver): deprecate cmp
  semver/cmp.ts
Labels: semver

#4033 refactor(semver): add operators array
  semver/_shared.ts
  semver/is_comparator.ts
  semver/is_valid_operator_test.ts
  semver/types.ts
Labels: semver

#4024 feat(semver): optional SemVer build and prerelease properties
  semver/_shared.ts
  semver/comparator_min.ts
  semver/difference.ts
  semver/format.ts
  semver/increment.ts
  semver/increment_test.ts
  semver/is_semver.ts
  semver/is_semver_test.ts
  semver/types.ts
Labels: semver

#4035 fix(expect): align toStrictEqual behavior to jest
  expect/_matchers.ts
  expect/_to_strict_equal_test.ts
Labels: expect

#4037 deprecation(semver): deprecate `testComparator()`
  semver/test_comparator.ts
Labels: semver

#4034 fix(expect): align toEqual to jest
  expect/_matchers.ts
  expect/_to_equal_test.ts
Labels: expect

#4026 refactor(semver): use capturing groups in `parseComparator()`
  semver/_shared.ts
  semver/parse.ts
  semver/parse_comparator.ts
Labels: semver

#4023 deprecation(log): string type for `BaseHandler.formatter`
  log/handlers.ts
  log/mod.ts
Labels: log

#4042 refactor(log): prepare for `noUncheckedIndexedAccess`
  log/mod.ts
Labels: log

#4038 refactor(semver): remove `isOperator()` and cleanup `isComparator()`
  semver/_constants.ts
  semver/_shared.ts
  semver/is_comparator.ts
  semver/is_valid_operator_test.ts
  semver/types.ts
Labels: semver

#4043 refactor(media_types): prepare for `noUncheckedIndexedAccess`
  media_types/_util.ts
  media_types/format_media_type.ts
  media_types/parse_media_type.ts
Labels: media_types

#4044 docs(uuid): complete documentation
  uuid/mod.ts
  uuid/v1.ts
  uuid/v3.ts
Labels: uuid

#4001 refactor(semver): cleanup `parseRange()`
  semver/_shared.ts
  semver/parse_range.ts
Labels: semver
