Repository denoland/std, pull requests merged in 2023-08, with the labels that each got.

#3510 feat(path): single file exports
  path/_basename.ts
  path/_dirname.ts
  path/_extname.ts
  path/_format.ts
  path/_from_file_url.ts
  path/_is_absolute.ts
  path/_join.ts
  path/_normalize.ts
  path/_parse.ts
  path/_relative.ts
  path/_resolve.ts
  path/_to_file_url.ts
  path/_to_namespaced_path.ts
  path/_util.ts
  path/basename.ts
  path/dirname.ts
  path/extname.ts
  path/format.ts
  path/from_file_url.ts
  path/is_absolute.ts
  path/is_absolute_test.ts
  path/join.ts
  path/mod.ts
  path/normalize.ts
  path/parse.ts
  path/posix.ts
  path/relative.ts
  path/resolve.ts
  path/test.ts
  path/to_file_url.ts
  path/to_file_url_test.ts
  path/to_namespaced_path.ts
  path/win32.ts
Labels: path

#3520 fix: typo in parse_media_type.ts example
  media_types/parse_media_type.ts
Labels: media_types

#3528 fix(collections): redblack tree and bst not being exported from mod
  collections/mod.ts
Labels: collections

#3524 fix(http/cookie_map): Add maxAge to set/delete options
  http/cookie_map.ts
  http/cookie_map_test.ts
Labels: http

#3537 chore: repoint internal imports to single-export files
  dotenv/mod_test.ts
  fs/copy.ts
  fs/empty_dir.ts
  fs/ensure_file.ts
  fs/ensure_link.ts
  fs/ensure_symlink.ts
  fs/expand_glob.ts
  fs/walk.ts
  http/file_server.ts
  http/server.ts
  json/concatenated_json_parse_stream_test.ts
  testing/mock.ts
  testing/snapshot.ts
  testing/time.ts
  wasi/snapshot_preview1.ts
Labels: testing, http, wasi, json, fs, dotenv

#3535 docs(fs/walk): add descriptions to `WalkOptions`'s properties
  fs/walk.ts
Labels: fs

#3531 fix(testing/time): fix FakeTime.restoreFor accuracy for sync callbacks
  testing/time.ts
  testing/time_test.ts
Labels: testing

#3545 fix(path): typo in comment in _resolve
  path/_resolve.ts
Labels: path

#3544 test(examples/xeval): re-enable `xevalCliSyntaxError` test case
  examples/xeval_test.ts
Labels: examples

#3546 chore(examples): remove examples folder
  examples/README.md
  examples/cat.ts
  examples/cat_test.ts
  examples/catj.ts
  examples/catj_test.ts
  examples/chat/index.html
  examples/chat/server.ts
  examples/chat/server_test.ts
  examples/colors.ts
  examples/colors_test.ts
  examples/curl.ts
  examples/curl_test.ts
  examples/echo_server.ts
  examples/echo_server_test.ts
  examples/flags.ts
  examples/gist.ts
  examples/test.ts
  examples/test_test.ts
  examples/testdata/cat/hello.txt
  examples/testdata/cat/world.txt
  examples/testdata/catj/array.json
  examples/testdata/catj/object.json
  examples/testdata/catj/simple-array.json
  examples/testdata/catj/simple-object.json
  examples/welcome.ts
  examples/welcome_test.ts
  examples/xeval.ts
  examples/xeval_test.ts
  fmt/colors_test.ts
Labels: examples, fmt

#3550 fix(log): fix serializing BigInt value in object
  log/logger.ts
  log/logger_test.ts
Labels: log

#3560 doc: add complete docs for all dotenv functionality
  dotenv/mod.ts
Labels: dotenv

#3563 refactor: move `_util/diff` to `assert/_diff`
  assert/_diff.ts
  assert/_diff_test.ts
  assert/assert_equals.ts
  assert/assert_strict_equals.ts
  testing/snapshot.ts
Labels: testing

#3570 doc: improve dotenv config option description
  dotenv/mod.ts
Labels: dotenv

#3574 chore: revert test fix temporarily
  json/concatenated_json_parse_stream_test.ts
Labels: json

#3568 BREAKING(signal): deprecate signal module
  signal/mod.ts
Labels: signal

#3566 chore: cleanup usage of double equals
  _tools/release/02_create_pr.ts
  _tools/release/repo.ts
  archive/tar.ts
  assert/assert_instance_of.ts
  async/pool.ts
  collections/drop_last_while.ts
  collections/max_with.ts
  collections/partition.ts
  collections/take_while_test.ts
  console/_tools/generate_data.ts
  csv/_io.ts
  csv/parse.ts
  datetime/day_of_year.ts
  dotenv/mod.ts
  encoding/hex.ts
  flags/mod.ts
  fmt/printf.ts
  fs/copy.ts
  fs/ensure_symlink.ts
  fs/exists.ts
  fs/expand_glob.ts
  fs/walk.ts
  http/cookie.ts
  http/cookie_map.ts
  http/server_sent_event.ts
  io/buf_reader.ts
  io/buffer_test.ts
  io/limited_reader.ts
  io/read_delim.ts
  io/read_range_test.ts
  log/handlers.ts
  log/mod.ts
  media_types/_util.ts
  media_types/parse_media_type.ts
  path/_from_file_url.ts
  path/_join.ts
  path/_to_file_url.ts
  path/glob.ts
  path/glob_test.ts
  semver/compare.ts
  semver/compare_build.ts
  semver/is_semver.ts
  semver/is_semver_comparator.ts
  semver/is_semver_range.ts
  semver/mod.ts
  semver/try_parse.ts
  streams/_common.ts
  streams/delimiter_stream.ts
  streams/readable_stream_from_iterable.ts
  streams/readable_stream_from_reader.ts
  streams/reader_from_iterable.ts
  streams/reader_from_iterable_test.ts
  streams/text_delimiter_stream.ts
  streams/to_transform_stream.ts
  streams/writable_stream_from_writer.ts
  streams/zip_readable_streams.ts
  testing/fast_check_example.ts
  wasi/snapshot_preview1.ts
  yaml/_dumper/dumper.ts
  yaml/_loader/loader.ts
Labels: testing, async, http, wasi, fmt, csv, streams, fs, archive, collections, console, datetime, dotenv, encoding, flags, io, log, media_types, path, semver, yaml

#3564 refactor(_util): remove `_util/os`
  fs/copy.ts
  fs/ensure_symlink.ts
  fs/expand_glob.ts
  http/file_server_test.ts
  path/_os.ts
  path/basename.ts
  path/dirname.ts
  path/extname.ts
  path/format.ts
  path/from_file_url.ts
  path/glob.ts
  path/is_absolute.ts
  path/join.ts
  path/mod.ts
  path/normalize.ts
  path/parse.ts
  path/relative.ts
  path/resolve.ts
  path/separator.ts
  path/to_file_url.ts
  path/to_namespaced_path.ts
  signal/test.ts
  wasi/snapshot_preview1_test.ts
Labels: http, wasi, fs, path, signal

#3576 chore(collections): remove warning from mod.ts
  collections/mod.ts
Labels: collections

#3579 BREAKING(streams): remove readable_stream_from_iterable
  streams/mod.ts
  streams/readable_stream_from_iterable.ts
  streams/readable_stream_from_iterable_test.ts
  streams/to_transform_stream_test.ts
Labels: streams

#3543 fix(log): rotating file handler sync setup and destroy
  log/handlers.ts
  log/handlers_test.ts
  log/mod.ts
Labels: log

#3586 BREAKING(yaml): change binary handling
  yaml/_type/binary.ts
  yaml/parse_test.ts
  yaml/stringify_test.ts
Labels: yaml

#3584 BREAKING(encoding): deprecate encoding/binary
  encoding/binary.ts
Labels: encoding

#3588 BREAKING(fmt): rename stripColor to stripAnsiCode
  fmt/colors.ts
Labels: fmt

#3593 [std/archive] Improve docs and general code cleanup
  archive/_common.ts
  archive/mod.ts
  archive/tar.ts
  archive/untar.ts
Labels: archive

#3589 feat(bytes): Deprecate BytesList class
  bytes/bytes_list.ts
  msgpack/encode.ts
  streams/_common.ts
  streams/delimiter_stream.ts
  streams/delimiter_stream_test.ts
Labels: streams, bytes

#3591 BREAKING(semver): remove deprecated APIs
  semver/cmp.ts
  semver/compare.ts
  semver/compare_build.ts
  semver/difference.ts
  semver/eq.ts
  semver/gt.ts
  semver/gte.ts
  semver/gtr.ts
  semver/increment.ts
  semver/lt.ts
  semver/lte.ts
  semver/ltr.ts
  semver/max_satisfying.ts
  semver/min_satisfying.ts
  semver/mod.ts
  semver/neq.ts
  semver/outside.ts
  semver/parse.ts
  semver/range_intersects.ts
  semver/rcompare.ts
  semver/rsort.ts
  semver/sort.ts
Labels: semver
