Repository denoland/std, pull requests merged in 2023-09, with the labels that each got.

#3598 test(json): fix expectation of ConcatenatedJsonParseStream test
  json/concatenated_json_parse_stream_test.ts
Labels: json

#3596 BREAKING(crypto): deprecate crypto.subtle.timingSafeEqual()
  crypto/crypto.ts
  crypto/timing_safe_equal.ts
Labels: crypto

#3595 fix(fmt): make printf respect NO_COLOR
  fmt/printf.ts
Labels: fmt

#3592 chore(async): remove unused file
  async/test.ts
Labels: async

#3590 test(http): reduce http test flakiness
  http/server_test.ts
Labels: http

#3608 feat(stripAnsiCode): escape erase character
  fmt/colors.ts
Labels: fmt

#3602 BREAKING(csv): deprecate error message exports
  csv/parse.ts
Labels: csv

#3611 Fix(streams): DelimiterStream regression
  streams/delimiter_stream.ts
  streams/delimiter_stream_test.ts
Labels: streams

#3625 style(testing/snapshot): distinguish between singular and plural forms
  testing/__snapshots__/snapshot_test.ts.snap
  testing/snapshot.ts
Labels: testing

#3622 BREAKING(media_types): deprecate typeByExtension
  media_types/type_by_extension.ts
Labels: media_types

#3612 test(http): reduce http server test flakiness
  http/server_test.ts
Labels: http

#3628 BREAKING(collections): move RedBlackTree, BinarySearchTree, and BinaryHeap to 'unstable' subdir
  collections/binary_heap.ts
  collections/binary_search_node.ts
  collections/binary_search_tree.ts
  collections/mod.ts
  collections/red_black_node.ts
  collections/red_black_tree.ts
  collections/unstable/_binary_search_node.ts
  collections/unstable/_binary_search_node_test.ts
  collections/unstable/_red_black_node.ts
  collections/unstable/_red_black_node_test.ts
  collections/unstable/_test_utils.ts
  collections/unstable/binary_heap.ts
  collections/unstable/binary_heap_test.ts
  collections/unstable/binary_search_tree.ts
  collections/unstable/binary_search_tree_test.ts
  collections/unstable/comparators.ts
  collections/unstable/comparators_test.ts
  collections/unstable/red_black_tree.ts
  collections/unstable/red_black_tree_test.ts
  testing/time.ts
Labels: testing, collections

#3633 BREAKING(datetime): deprecate to_imf.ts
  datetime/to_imf.ts
Labels: datetime

#3632 fix(http/cookie): Remove dependency to `std/datetime`
  http/cookie.ts
Labels: http

#3631 feat(streams): to ArrayBuffer/Blob/Json/Text
  streams/mod.ts
  streams/to_array_buffer.ts
  streams/to_array_buffer_test.ts
  streams/to_blob.ts
  streams/to_blob_test.ts
  streams/to_json.ts
  streams/to_json_test.ts
  streams/to_text.ts
  streams/to_text_test.ts
Labels: streams

#3637 chore(path): update _os.ts
  path/_os.ts
Labels: path

#3634 fix(front_matter): Move exports to their own module
  front_matter/_formats.ts
  front_matter/_test_utils.ts
  front_matter/any.ts
  front_matter/create_extractor.ts
  front_matter/create_extractor_test.ts
  front_matter/json.ts
  front_matter/mod.ts
  front_matter/test.ts
  front_matter/test_test.ts
  front_matter/toml.ts
  front_matter/yaml.ts
Labels: front_matter

#3638 fix(testing/time): fix FakeTime.next to return false if all timers are cleared
  testing/time.ts
  testing/time_test.ts
Labels: testing

#3640 BREAKING(streams): deprecate APIs based on legacy Reader/Writer interfaces
  streams/copy.ts
  streams/iterate_reader.ts
  streams/read_all.ts
  streams/readable_stream_from_reader.ts
  streams/reader_from_iterable.ts
  streams/reader_from_stream_reader.ts
  streams/writable_stream_from_writer.ts
  streams/write_all.ts
  streams/writer_from_stream_writer.ts
Labels: streams

#3642 feat(encoding): add encodeHex, decodeHex
  encoding/hex.ts
  encoding/hex_test.ts
Labels: encoding

#3648 test: resource leaks caused by aggressive sanitizer
  http/file_server_test.ts
  http/server_test.ts
Labels: http

#3630 BREAKING(crypto): clean up module
  crypto/keystack.ts
  crypto/to_hash_string.ts
  crypto/unstable/keystack.ts
  crypto/unstable/keystack_test.ts
Labels: crypto

#3653 BREAKING(front_matter): deprecate default exports
  front_matter/any.ts
  front_matter/json.ts
  front_matter/toml.ts
  front_matter/yaml.ts
Labels: front_matter

#3652 test(testing): use assert/mod.ts instead of testing/asserts.ts
  testing/bdd_examples/user_flat_test.ts
  testing/bdd_examples/user_mixed_test.ts
  testing/bdd_examples/user_nested_test.ts
  testing/bdd_examples/user_test.ts
  testing/bdd_test.ts
  testing/mock_examples/internals_injection_test.ts
  testing/mock_examples/parameter_injection_test.ts
  testing/mock_examples/random_test.ts
  testing/mock_test.ts
  testing/snapshot_test.ts
  testing/time_test.ts
Labels: testing

#3556 BREAKING(io): deprecate io top level module
  io/buf_reader.ts
  io/buf_writer.ts
  io/buffer.ts
  io/copy_n.ts
  io/limited_reader.ts
  io/mod.ts
  io/multi_reader.ts
  io/read_delim.ts
  io/read_int.ts
  io/read_lines.ts
  io/read_long.ts
  io/read_range.ts
  io/read_short.ts
  io/read_string_delim.ts
  io/slice_long_to_bytes.ts
  io/string_reader.ts
  io/string_writer.ts
Labels: io

#3660 BREAKING(encoding): rename encode/decode to encodeFoo/decodeFoo
  encoding/ascii85.ts
  encoding/ascii85_test.ts
  encoding/base32.ts
  encoding/base32_test.ts
  encoding/base58.ts
  encoding/base58_test.ts
  encoding/base64.ts
  encoding/base64_test.ts
  encoding/base64url.ts
  encoding/base64url_test.ts
Labels: encoding

#3662 Accept readonly arrays in aggregateGroups, reduceGroups, zip
  collections/aggregate_groups.ts
  collections/aggregate_groups_test.ts
  collections/reduce_groups.ts
  collections/reduce_groups_test.ts
  collections/zip.ts
  collections/zip_test.ts
Labels: collections

#3665 Avoid internally using strings for numbers
  http/file_server_test.ts
  streams/merge_readable_streams.ts
  streams/zip_readable_streams.ts
Labels: http, streams

#3667 fix(datetime): Correctly format midnight in 12-hour time
  datetime/_common.ts
  datetime/format_test.ts
Labels: datetime

#3666 fix(encoding): add validation of the input types
  encoding/_util.ts
  encoding/_util_test.ts
  encoding/ascii85.ts
  encoding/base32.ts
  encoding/base58.ts
  encoding/base64.ts
  encoding/hex.ts
Labels: encoding

#3644 test: make dotenv/load_test.ts less flaky
  dotenv/load_test.ts
Labels: dotenv

#3671 chore(fmt): fix spelling of 'milliseconds'
  fmt/duration.ts
Labels: fmt

#3673 BREAKING(encoding): deprecate old encode/decode in hex.ts
  encoding/hex.ts
Labels: encoding

#3674 fix(semver): Add a necessary grouping
  semver/parse.ts
  semver/parse_test.ts
Labels: semver

#3668 fix(datetime): fix dayOfYear when the timezone has DST
  .github/workflows/ci.yml
  datetime/day_of_year.ts
Labels: datetime

#3680 Add BLAKE2B-128 hash algorithm
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.mjs
  crypto/_wasm/mod.ts
  crypto/_wasm/src/digest.rs
  crypto/crypto.ts
  crypto/crypto_test.ts
Labels: crypto
