Repository denoland/std, pull requests merged in 2023-07, with the labels that each got.

#3482 chore(wasi): fix typo in a doc comment
  wasi/snapshot_preview1.ts
Labels: wasi

#3485 feat(fmt): enable `setColorEnabled` in browsers
  fmt/colors.ts
Labels: fmt

#3479 fix(async/delay): reject with existing AbortSignal reason
  async/delay.ts
  async/delay_test.ts
Labels: async

#3486 BREAKING(streams): deprecate readableStreamFromIterable
  csv/csv_parse_stream_test.ts
  csv/csv_stringify_stream.ts
  csv/csv_stringify_stream_test.ts
  json/_test_common.ts
  json/json_stringify_stream.ts
  json/json_stringify_stream_test.ts
  streams/_test_common.ts
  streams/readable_stream_from_iterable.ts
  streams/to_transform_stream.ts
Labels: csv, json, streams

#3491 chore: simplify getSetCookies
  http/cookie.ts
Labels: http

#3381 BREAKING(http/server): deprecate serve and serveTls
  examples/curl_test.ts
  http/bench.ts
  http/etag.ts
  http/file_server.ts
  http/mod.ts
  http/server.ts
  http/server_sent_event.ts
  http/testdata/file_server_as_library.ts
  http/testdata/simple_https_server.ts
  http/testdata/simple_server.ts
  http/user_agent.ts
  json/json_stringify_stream.ts
Labels: http, examples, json

#3497 Fix typo in std/testing/asserts.ts deprecation message
  testing/asserts.ts
Labels: testing

#3446 chore: parallel tests
  deno.json
  fs/exists_test.ts
  fs/testdata/exists.ts
  fs/testdata/exists_sync.ts
  fs/testdata/walk/depth/a/b/c/d/x
  fs/testdata/walk/ext/x.ts
  fs/testdata/walk/ext/y.rs
  fs/testdata/walk/ext/z.py
  fs/testdata/walk/fifo/.gitignore
  fs/testdata/walk/match/x
  fs/testdata/walk/match/y
  fs/testdata/walk/match/z
  fs/testdata/walk/nested_single_file/a/x
  fs/testdata/walk/single_file/x
  fs/testdata/walk/socket/.gitignore
  fs/testdata/walk/symlink/x
  fs/testdata/walk/symlink/y
  fs/walk_test.ts
Labels: fs

#3499 fix(http): fix handling of string port number
  http/server.ts
  http/server_test.ts
Labels: http

#3505 test(fs/walk): clean up socket file after testing
  fs/walk_test.ts
Labels: fs

#3506 docs(dotenv): Add documentation about default .env values
  dotenv/mod.ts
Labels: dotenv

#3447 BREAKING(testing/snapshot): change tab char serialization
  testing/__snapshots__/snapshot_test.ts.snap
  testing/snapshot.ts
  testing/snapshot_test.ts
Labels: testing

#3507 BREAKING(testing/snapshot): fix regression of serialization of long strings
  testing/__snapshots__/snapshot_test.ts.snap
  testing/snapshot.ts
Labels: testing

#3509 fix(toml/parse): Fix edge cases
  toml/_parser.ts
  toml/test.ts
  toml/testdata/arrays.toml
  toml/testdata/inlineTable.toml
Labels: toml
