Repository denoland/std, pull requests merged in 2023-10, with the labels that each got.

#3682 perf base64url
  encoding/base64url.ts
Labels: encoding

#3641 BREAKING(front_matter): deprecate Format enum, use union type instead
  front_matter/_formats.ts
  front_matter/any.ts
  front_matter/create_extractor.ts
  front_matter/json.ts
  front_matter/test.ts
Labels: front_matter

#3686 fix(archive/untar.ts): Cannot access symlinks in archives
  archive/testdata/with_link.tar
  archive/untar.ts
  archive/untar_test.ts
Labels: archive

#3687 refactor: remove top-level arrow sytnax use
  crypto/crypto.ts
  encoding/base64url.ts
  fmt/duration.ts
  yaml/type.ts
Labels: fmt, crypto, encoding, yaml

#3654 BREAKING(front_matter): deprecate language-specific `test` functions
  front_matter/any.ts
  front_matter/json.ts
  front_matter/toml.ts
  front_matter/yaml.ts
Labels: front_matter

#3688 test(crypto): add regression test for re-export of native crypto.getRandomValues()
  crypto/crypto_test.ts
Labels: crypto

#3683 perf: Performance with `Promise.all()`
  fs/copy.ts
  fs/empty_dir.ts
  http/cookie_map.ts
Labels: http, fs

#3661 BREAKING(http): clean up module
  http/cookie_map.ts
  http/etag.ts
  http/file_server.ts
  http/http_errors.ts
  http/http_status.ts
  http/method.ts
  http/server.ts
  http/server_sent_event.ts
  http/status.ts
  http/status_test.ts
  http/unstable_cookie_map.ts
  http/unstable_cookie_map_test.ts
  http/unstable_errors.ts
  http/unstable_errors_test.ts
  http/unstable_method.ts
  http/unstable_method_test.ts
  http/unstable_server_sent_event.ts
  http/unstable_server_sent_event_test.ts
  http/util.ts
Labels: http

#3679 feat(fs): introduce `canonicalize` option to `WalkOptions`
  fs/expand_glob.ts
  fs/expand_glob_test.ts
  fs/testdata/walk/symlink/a/z
  fs/testdata/walk/symlink/b
  fs/walk.ts
  fs/walk_test.ts
Labels: fs

#3700 refactor: move unstable `std/collections` files
  collections/_unstable_binary_search_node.ts
  collections/_unstable_binary_search_node_test.ts
  collections/_unstable_red_black_node.ts
  collections/_unstable_red_black_node_test.ts
  collections/_unstable_test_utils.ts
  collections/binary_heap.ts
  collections/binary_search_node.ts
  collections/binary_search_tree.ts
  collections/mod.ts
  collections/red_black_node.ts
  collections/red_black_tree.ts
  collections/unstable_binary_heap.ts
  collections/unstable_binary_heap_test.ts
  collections/unstable_binary_search_tree.ts
  collections/unstable_binary_search_tree_test.ts
  collections/unstable_comparators.ts
  collections/unstable_comparators_test.ts
  collections/unstable_red_black_tree.ts
  collections/unstable_red_black_tree_test.ts
  testing/time.ts
Labels: testing, collections

#3704 chore: remove deprecated `std/csv` exports
  csv/parse.ts
Labels: csv

#3705 chore: remove deprecated `restrictEnvAccessTo` option from `std/dotenv/load`
  dotenv/mod.ts
Labels: dotenv

#3702 chore: update to `rust@1.73.0` and `wasmbuild@0.15.0`
  .github/workflows/ci.yml
  crypto/_wasm/Cargo.lock
  crypto/_wasm/Cargo.toml
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.mjs
  crypto/_wasm/rust-toolchain.toml
  deno.json
Labels: crypto

#3699 refactor: move unstable `std/crypto` files
  crypto/keystack.ts
  crypto/mod.ts
  crypto/unstable_keystack.ts
  crypto/unstable_keystack_test.ts
  http/unstable_cookie_map_test.ts
Labels: http, crypto

#3691 fix(http): file server with showDirListing + urlRoot
  http/file_server.ts
Labels: http

#3712 test(csv): add workaround delay to reduce flakiness
  csv/csv_parse_stream_test.ts
Labels: csv

#3709 feat(semver): canParse
  semver/can_parse.ts
  semver/can_parse_test.ts
Labels: semver

#3692 fix(fs): `expandGlob`/`expandGlobSync` don't require full `--allow-read` perms on granted read permissions
  fs/expand_glob.ts
  fs/expand_glob_test.ts
Labels: fs

#3720 fix(async): Remove _exponentialBackoffWithJitter from public file
  async/_util.ts
  async/retry.ts
  async/retry_test.ts
Labels: async

#3721 docs(crypto): remove use of deprecated `toHashString()`
  crypto/crypto.ts
Labels: crypto

#3717 fix: flaky `http/file_server.ts` tests
  http/file_server_test.ts
Labels: http

#3725 chore: remove `readableStreamFromReader()` & `StringReader()` in CSV stream test
  csv/csv_parse_stream_test.ts
Labels: csv

#3730 chore(http): remove `iterateReader()` from `file_server_test.ts`
  http/file_server_test.ts
Labels: http

#3726 chore: remove deprecated `BytesList()` in `readDelim()`
  io/read_delim.ts
Labels: io

#3727 chore: replace deprecated `typeByExtension()` in `content_type.ts`
  media_types/content_type.ts
Labels: media_types

#3740 BREAKING: remove deprecated `BytesList()`
  bytes/bytes_list.ts
  bytes/bytes_list_test.ts
  bytes/mod.ts
Labels: bytes

#3742 chore: cleanup old `std/fmt` files
  fmt/README.md
  fmt/TODO
Labels: fmt

#3732 BREAKING: deprecate `std/wasi`
  wasi/snapshot_preview1.ts
Labels: wasi

#3741 chore: cleanup `collections/CONTRIBUTING.md`
  collections/CONTRIBUTING.md
Labels: collections
