Repository denoland/std, pull requests merged in 2024-06, with the labels that each got.

#4900 docs(path): improve API docs
  _tools/check_docs.ts
  path/_common/glob_to_reg_exp.ts
  path/_interface.ts
  path/_os.ts
  path/basename.ts
  path/common.ts
  path/constants.ts
  path/dirname.ts
  path/extname.ts
  path/format.ts
  path/from_file_url.ts
  path/glob_to_regexp.ts
  path/is_absolute.ts
  path/is_glob.ts
  path/join.ts
  path/join_globs.ts
  path/mod.ts
  path/normalize.ts
  path/normalize_glob.ts
  path/parse.ts
  path/posix/basename.ts
  path/posix/common.ts
  path/posix/constants.ts
  path/posix/dirname.ts
  path/posix/extname.ts
  path/posix/format.ts
  path/posix/from_file_url.ts
  path/posix/glob_to_regexp.ts
  path/posix/is_absolute.ts
  path/posix/join.ts
  path/posix/join_globs.ts
  path/posix/normalize.ts
  path/posix/normalize_glob.ts
  path/posix/parse.ts
  path/posix/relative.ts
  path/posix/resolve.ts
  path/posix/to_file_url.ts
  path/posix/to_namespaced_path.ts
  path/relative.ts
  path/resolve.ts
  path/to_file_url.ts
  path/to_namespaced_path.ts
  path/windows/basename.ts
  path/windows/common.ts
  path/windows/constants.ts
  path/windows/dirname.ts
  path/windows/extname.ts
  path/windows/format.ts
  path/windows/from_file_url.ts
  path/windows/glob_to_regexp.ts
  path/windows/is_absolute.ts
  path/windows/join.ts
  path/windows/join_globs.ts
  path/windows/normalize.ts
  path/windows/normalize_glob.ts
  path/windows/parse.ts
  path/windows/relative.ts
  path/windows/resolve.ts
  path/windows/to_file_url.ts
  path/windows/to_namespaced_path.ts
Labels: path

#4930 refactor(testing): do not use assertEquals in snapshot.ts
  testing/snapshot.ts
Labels: testing

#4920 docs(csv): improve API docs
  _tools/check_docs.ts
  csv/_io.ts
  csv/csv_parse_stream.ts
  csv/csv_stringify_stream.ts
  csv/parse.ts
  csv/stringify.ts
Labels: csv

#4893 BREAKING(assert,testing): remove `formatter` option from `assertEquals()`
  assert/assert_equals.ts
  testing/asserts.ts
Labels: testing, assert

#4932 docs(csv): use assertions in example code snippets
  csv/_io.ts
  csv/csv_parse_stream.ts
  csv/csv_stringify_stream.ts
  csv/mod.ts
  csv/stringify.ts
Labels: csv

#4460 BREAKING(assert): `assertAlmostEquals()` sets useful tolerance automatically
  assert/assert_almost_equals.ts
  assert/assert_almost_equals_test.ts
Labels: assert, 1.0, stabilization

#4937 docs(assert): remove outdated API docs
  assert/assert_equals.ts
Labels: assert

#4939 test(path): improve `normalize()` coverage
  path/normalize_test.ts
  path/windows/normalize.ts
Labels: path

#4943 BREAKING(assert): make `unreachable()` consistent with `@std/assert`
  assert/unreachable.ts
  assert/unreachable_test.ts
Labels: assert

#4934 chore(assert): release `assert@1.0.0-rc.1`
  assert/deno.json
  deno.json
Labels: assert

#4940 test(path): improve `normalizeGlob()` test coverage
  path/normalize_glob_test.ts
Labels: path

#4945 docs(cli,encoding,fmt,jsonc,path,semver,testing,text,toml,url): remove "This module is browser compatible" note
  cli/parse_args.ts
  encoding/ascii85.ts
  encoding/base32.ts
  encoding/base58.ts
  encoding/base64.ts
  encoding/base64url.ts
  encoding/hex.ts
  encoding/mod.ts
  fmt/bytes.ts
  fmt/colors.ts
  jsonc/mod.ts
  jsonc/parse.ts
  path/mod.ts
  path/posix/mod.ts
  path/windows/mod.ts
  semver/mod.ts
  testing/mock.ts
  text/mod.ts
  toml/mod.ts
  url/mod.ts
Labels: testing, fmt, encoding, jsonc, path, semver, toml, text, cli, url

#4928 BREAKING(path): remove `GlobToRegExpOptions.os` and `OSType` export
  path/_os.ts
  path/glob_to_regexp.ts
  path/glob_to_regexp_test.ts
Labels: path

#4947 BREAKING(path): remove separator argument from `common()`
  path/_common/common.ts
  path/common.ts
  path/common_test.ts
  path/posix/common.ts
  path/windows/common.ts
Labels: path

#4952 test(path): improve `windows.parse()` test
  path/parse_test.ts
Labels: path

#4953 BREAKING(path): remove `path.posix` and `path.win32`
  path/mod.ts
Labels: path

#4956 docs(path): fix typo
  path/dirname.ts
Labels: path

#4958 docs(path): improve `join` jsdoc
  path/join.ts
Labels: path

#4959 docs(path): fix typo in `normalize` doc
  path/normalize.ts
Labels: path

#4946 refactor(path): cleanup `join()` implementations
  .github/dependency_graph.svg
  path/posix/join.ts
  path/windows/join.ts
Labels: path

#4960 chore(path): use `assertPath()` in `windows.join()`
  path/windows/join.ts
Labels: path

#4951 chore(path): release `path@1.0.0-rc.1`
  deno.json
  path/deno.json
Labels: path

#4950 refactor(async): cleanup use of `@std/assert`
  .github/dependency_graph.svg
  async/retry.ts
  async/retry_test.ts
Labels: async

#4948 refactor(fs): cleanup use of `@std/assert`
  .github/dependency_graph.svg
  fs/copy.ts
  fs/expand_glob.ts
Labels: fs

#4964 chore(toml): minor cleanup
  toml/mod.ts
  toml/parse.ts
  toml/stringify.ts
Labels: toml

#4962 chore(html): release `html@1.0.0-rc.1`
  deno.json
  html/deno.json
Labels: html

#4965 docs(url): complete documentation
  _tools/check_docs.ts
  url/basename.ts
  url/dirname.ts
  url/extname.ts
  url/join.ts
  url/mod.ts
  url/normalize.ts
Labels: url

#4971 docs(datetime): trim module documentation
  datetime/mod.ts
Labels: datetime

#4968 refactor(jsonc): cleanup use of `@std/assert`
  .github/dependency_graph.svg
  jsonc/parse.ts
Labels: jsonc

#4969 chore(toml): release `toml@1.0.0-rc.1`
  deno.json
  toml/deno.json
Labels: toml

#4973 refactor(log): cleanup use of `@std/assert`
  .github/dependency_graph.svg
  log/get_logger.ts
Labels: log

#4974 refactor(http): cleanup use of `@std/assert`
  .github/dependency_graph.svg
  http/cookie.ts
  http/user_agent.ts
Labels: http

#4975 refactor(archive): cleanup use of `@std/assert`
  .github/dependency_graph.svg
  archive/tar.ts
Labels: archive

#4976 refactor(csv): cleanup use of `@std/assert`
  .github/dependency_graph.svg
  csv/_io.ts
  csv/parse.ts
Labels: csv

#4977 refactor(text): cleanup use of `@std/assert`
  .github/dependency_graph.svg
  text/closest_string.ts
Labels: text

#4978 refactor(webgpu): cleanup use of `@std/assert`
  .github/dependency_graph.svg
  webgpu/texture_with_data.ts
Labels: webgpu

#4980 refactor(streams): cleanup use of `@std/assert`
  .github/dependency_graph.svg
  streams/buffer.ts
  streams/byte_slice_stream.ts
Labels: streams

#4979 refactor(io): cleanup use of `@std/assert`
  .github/dependency_graph.svg
  io/buf_reader.ts
  io/buffer.ts
  io/copy_n.ts
  io/read_range.ts
Labels: io

#4983 refactor(data-structures): remove use of `public` keyword
  data_structures/_binary_search_node.ts
Labels: data-structures

#4746 chore(bytes): release `bytes@1.0.0`
  bytes/deno.json
Labels: bytes, stabilization

#4981 chore(url): release `url@1.0.0-rc.1`
  deno.json
  url/deno.json
Labels: url

#4982 docs(net): complete documentation
  _tools/check_docs.ts
  net/get_available_port.ts
  net/get_network_address.ts
  net/mod.ts
Labels: net

#4788 docs(fs): improve documentation
  _tools/check_docs.ts
  fs/_get_file_info_type.ts
  fs/_is_same_path.ts
  fs/_is_subdir.ts
  fs/_to_path_string.ts
  fs/copy.ts
  fs/empty_dir.ts
  fs/ensure_dir.ts
  fs/ensure_file.ts
  fs/ensure_link.ts
  fs/ensure_symlink.ts
  fs/eol.ts
  fs/exists.ts
  fs/expand_glob.ts
  fs/mod.ts
  fs/move.ts
  fs/walk.ts
Labels: fs

#4987 chore(data-structures): release `data-structures@1.0.0-rc.1`
  data_structures/deno.json
  deno.json
Labels: data-structures

#5019 fix(assert): fix tolerance calculation when comparing negative values
  assert/assert_almost_equals.ts
  assert/assert_almost_equals_test.ts
Labels: assert

#4997 chore(ulid): release `ulid@1.0.0-rc.1`
  deno.json
  ulid/deno.json
Labels: ulid

#5020 docs(ini): improve ini docs
  _tools/check_docs.ts
  ini/ini_map.ts
  ini/mod.ts
  ini/parse.ts
  ini/stringify.ts
Labels: ini

#5023 docs(regexp): complete documentation
  _tools/check_docs.ts
  regexp/escape.ts
  regexp/mod.ts
Labels: regexp

#5025 refactor(text): minor cleanups and improvements
  text/compare_similarity.ts
  text/levenshtein_distance.ts
  text/mod.ts
  text/word_similarity_sort.ts
  text/word_similarity_sort_test.ts
Labels: text

#5022 refactor(ulid): improve error types and messages
  ulid/_util.ts
  ulid/mod.ts
Labels: ulid

#5024 chore(regexp): release `regexp@1.0.0-rc.1`
  deno.json
  regexp/deno.json
Labels: regexp

#5026 chore(text): release `text@1.0.0-rc.1`
  deno.json
  text/deno.json
Labels: text

#5027 test(msgpack): add `decode()` test cases
  msgpack/decode_test.ts
Labels: msgpack

#5028 test(msgpack): add test cases for `encode()`
  msgpack/encode_test.ts
Labels: msgpack

#5029 docs(msgpack): complete documentation
  _tools/check_docs.ts
  msgpack/decode.ts
  msgpack/encode.ts
  msgpack/mod.ts
Labels: msgpack

#5030 chore(msgpack): release `msgpack@1.0.0-rc.1`
  deno.json
  msgpack/deno.json
Labels: msgpack

#5038 test(path): improve test coverage
  path/_common/assert_path_test.ts
  path/_common/basename_test.ts
  path/_common/format_test.ts
  path/_common/glob_to_reg_exp.ts
  path/_common/normalize_string_test.ts
  path/_common/to_file_url_test.ts
Labels: path

#5040 docs(async): avoid memory leak in example
  async/debounce.ts
Labels: async

#5039 docs(async): improve module docs
  async/mod.ts
Labels: async

#5042 chore(async): mark `Tuple` and `TupleOf` as `@internal`
  async/tee.ts
Labels: async

#5041 BREAKING(async): stop exporting ERROR_WHILE_MAPPING_MESSAGE
  async/pool.ts
  async/pool_test.ts
Labels: async

#5035 chore(async): release `async@1.0.0-rc.1`
  async/deno.json
  deno.json
Labels: async

#5044 feat(http): support partitioned cookies
  http/cookie.ts
  http/cookie_test.ts
Labels: http

#5048 chore(streams): remove unused test util
  streams/_test_common.ts
Labels: streams

#5046 test(cli): improve test coverage
  cli/parse_args.ts
  cli/parse_args_test.ts
Labels: cli

#5047 test(cli): improve spinner test coverage
  cli/spinner_test.ts
Labels: cli

#5033 docs(testing): improve the docs of `@std/testing`
  _tools/check_docs.ts
  testing/README.md
  testing/_test_suite.ts
  testing/bdd.ts
  testing/bdd_test.ts
  testing/mock.ts
  testing/snapshot.ts
  testing/time.ts
  testing/types.ts
Labels: testing

#5054 refactor(ulid): remove `len` argument from `encodeTime()` and `encodeRandom()`
  ulid/_util.ts
  ulid/mod.ts
  ulid/test.ts
Labels: ulid

#5051 refactor(testing): remove use of `public` keyword
  testing/_test_utils.ts
  testing/bdd.ts
  testing/snapshot.ts
Labels: testing

#5052 refactor(cli): minor cleanups
  cli/unicode_width.ts
Labels: cli

#5060 BREAKING(streams): remove `iterateReader`, `readableStreamFromReader`, `readerFromIterable`, `readerFromStreamReader`, `writableStreamFromWriter`, and `writerFromStreamWriter`
  io/iterate_reader_test.ts
  streams/deno.json
  streams/iterate_reader.ts
  streams/iterate_reader_test.ts
  streams/mod.ts
  streams/readable_stream_from_reader.ts
  streams/readable_stream_from_reader_test.ts
  streams/reader_from_iterable.ts
  streams/reader_from_iterable_test.ts
  streams/reader_from_stream_reader.ts
  streams/reader_from_stream_reader_test.ts
  streams/writable_stream_from_writer.ts
  streams/writable_stream_from_writer_test.ts
  streams/writer_from_stream_writer.ts
  streams/writer_from_stream_writer_test.ts
Labels: streams, io

#5067 chore(cli): make spinner unstable/experimental
  cli/spinner.ts
Labels: cli

#5050 refactor(testing): remove `FakeTime.start` setter
  testing/time.ts
Labels: testing

#5070 test(streams): improve `DelimiterStream` test cases
  streams/delimiter_stream.ts
  streams/delimiter_stream_test.ts
Labels: streams

#4798 docs(json): lint `@std/json` docs
  _tools/check_docs.ts
  json/concatenated_json_parse_stream.ts
  json/json_parse_stream.ts
  json/json_stringify_stream.ts
  json/mod.ts
Labels: json

#5068 chore(cli): release `cli@1.0.0-rc.1`
  cli/deno.json
  deno.json
Labels: cli

#5075 test(json): improve json testing
  json/_common.ts
  json/concatenated_json_parse_stream_test.ts
Labels: json

#5076 refactor(fs): resolve directories when checking whether they are the same in `isSubdir()`
  fs/_is_subdir.ts
  fs/_is_subdir_test.ts
Labels: fs

#5056 BREAKING(async): make `abortablePromise()` and `abortableAsyncIterable()` private
  async/abortable.ts
Labels: async, feedback welcome

#5085 refactor(fs): reduce the repetition in ensure_dir.ts
  fs/ensure_dir.ts
Labels: fs

#5086 test(fs): check `ensureDir()` is not racy
  fs/ensure_dir_test.ts
Labels: fs

#5088 refactor(fs): reduce the repetition in `exists.ts`
  fs/exists.ts
Labels: fs

#5074 chore(streams): release `streams@1.0.0-rc.1`
  deno.json
  streams/deno.json
Labels: streams

#5078 test(streams): improve test coverage
  streams/concat_readable_streams_test.ts
  streams/early_zip_readable_streams_test.ts
  streams/text_delimiter_stream.ts
  streams/zip_readable_streams_test.ts
Labels: streams

#5087 test(fs): improve `ensureSymlink()` test
  fs/ensure_symlink.ts
  fs/ensure_symlink_test.ts
Labels: fs

#5082 fix(streams): prevent `earlyZipReadableStreams()` from possibly using excessive memory
  streams/early_zip_readable_streams.ts
  streams/early_zip_readable_streams_test.ts
Labels: streams

#5091 chore(fs): release `fs@1.0.0-rc.1`
  .github/dependency_graph.svg
  deno.json
  fs/deno.json
Labels: fs

#5089 refactor(fs): improve `expandGlob()` implementation and testing
  fs/expand_glob.ts
  fs/expand_glob_test.ts
Labels: fs

#5093 test(jsonc): remove dead code and improve testing
  jsonc/parse.ts
  jsonc/parse_test.ts
Labels: jsonc

#4773 chore(collections): release `collections@1.0.0`
  collections/deno.json
  deno.json
Labels: collections, stabilization

#5077 refactor(archive,expect,io,log,toml,yaml): remove `private` and `public` access modifiers
  archive/tar.ts
  expect/_custom_equality_tester_test.ts
  expect/_extend_test.ts
  expect/_to_equal_test.ts
  expect/expect.ts
  io/_test_common.ts
  io/buf_reader.ts
  io/buf_reader_test.ts
  io/limited_reader.ts
  io/string_writer.ts
  log/_test_handler.ts
  log/logger_test.ts
  toml/_parser.ts
  yaml/_dumper/dumper_state.ts
  yaml/_error.ts
  yaml/_loader/loader_state.ts
  yaml/_mark.ts
  yaml/_state.ts
  yaml/schema.ts
  yaml/type.ts
Labels: archive, io, log, toml, yaml, expect

#5097 BREAKING(json): remove `writableStrategy` and `readableStrategy` options
  json/_test_common.ts
  json/common.ts
  json/concatenated_json_parse_stream.ts
  json/concatenated_json_parse_stream_test.ts
  json/json_parse_stream.ts
  json/json_parse_stream_test.ts
  json/json_stringify_stream.ts
Labels: json

#5095 docs(dotenv): improve `dotenv` docs
  _tools/check_docs.ts
  dotenv/mod.ts
  dotenv/parse.ts
  dotenv/stringify.ts
Labels: dotenv

#5103 BREAKING(json): rename /common to /types
  json/_common.ts
  json/concatenated_json_parse_stream.ts
  json/deno.json
  json/json_parse_stream.ts
  json/mod.ts
  json/types.ts
  jsonc/parse.ts
Labels: json, jsonc

#5058 BREAKING(async): simplify `deadline()` logic, remove `DeadlineError` and improve errors
  async/_util.ts
  async/_util_test.ts
  async/abortable.ts
  async/abortable_test.ts
  async/deadline.ts
  async/deadline_test.ts
  async/delay.ts
  async/mod.ts
Labels: async

#5102 chore(json): release `json@1.0.0-rc.1`
  deno.json
  json/deno.json
Labels: json

#5105 docs(media-types): remove outdated historical note
  media_types/content_type.ts
Labels: media-types

#5104 perf(collections): use `for` loop instead of `forEach()` in `unzip()`
  collections/unzip.ts
Labels: collections

#5106 BREAKING(media-types): rename `extensionsByType` to `allExtensions`
  media_types/all_extensions.ts
  media_types/all_extensions_test.ts
  media_types/deno.json
  media_types/extension.ts
  media_types/mod.ts
Labels: media-types

#5100 BREAKING(http): remove deprecated `server` module
  .github/dependency_graph.svg
  http/deno.json
  http/mod.ts
  http/server.ts
  http/server_test.ts
Labels: http

#5101 BREAKING(http): move `unstable-signed-cookie` to `signed-cookie`
  http/deno.json
  http/mod.ts
  http/signed_cookie.ts
  http/signed_cookie_test.ts
Labels: http

#5109 docs(http): remove outdated mention of `CookieMap`
  http/mod.ts
Labels: http

#4888 BREAKING(http): change the default port of file-server to the same default of `Deno.serve()`
  http/file_server.ts
  http/mod.ts
Labels: http

#5114 refactor(jsonc): minor cleanups
  jsonc/mod.ts
  jsonc/parse.ts
  jsonc/testdata/JSONTestSuite/test.ts
  jsonc/testdata/JSONTestSuite/test_parsing/n_object_trailing_comment.json
  jsonc/testdata/JSONTestSuite/test_parsing/n_object_trailing_comment_slash_open.json
  jsonc/testdata/JSONTestSuite/test_parsing/n_structure_object_with_comment.json
Labels: jsonc

#5115 chore(jsonc): release `jsonc@1.0.0-rc.1`
  deno.json
  jsonc/deno.json
Labels: jsonc

#5108 test(cli): improve `Spinner` test
  cli/spinner_test.ts
  cli/testdata/spinner_cases/stop.ts
Labels: cli

#4780 chore(media-types): release `media-types@1.0.0`
  media_types/deno.json
Labels: media-types

#5122 fix(testing): function call of `Date` constructor is not correctly faked
  testing/time.ts
  testing/time_test.ts
Labels: testing

#5118 feat(yaml): support schema name for 'schema' option
  yaml/parse.ts
  yaml/parse_test.ts
  yaml/schema/mod.ts
  yaml/stringify.ts
  yaml/stringify_test.ts
Labels: yaml

#5130 BREAKING(testing): disable multiple `FakeTime` creations
  testing/time.ts
  testing/time_test.ts
Labels: testing

#5129 BREAKING(http): improve thrown errors in `cookie` module
  http/cookie.ts
  http/cookie_test.ts
Labels: http

#5127 docs(yaml): improve `yaml` document
  _tools/check_docs.ts
  yaml/parse.ts
  yaml/schema/mod.ts
  yaml/stringify.ts
Labels: yaml

#5119 BREAKING(jsonc): remove `allowTrailingComma` option
  jsonc/mod.ts
  jsonc/parse.ts
  jsonc/parse_test.ts
  jsonc/testdata/JSONTestSuite/test.ts
  jsonc/testdata/JSONTestSuite/test_parsing/n_object_lone_continuation_byte_in_key_and_trailing_comma.json
  jsonc/testdata/node-jsonc-parser/test.ts
Labels: jsonc

#5099 BREAKING(testing): remove deprecated `asserts` module
  testing/asserts.ts
  testing/deno.json
Labels: testing

#5120 refactor(http): remove dead code and improve `UserAgent` testing
  http/user_agent.ts
  http/user_agent_test.ts
Labels: http

#5123 test(testing): improve `FakeTime` testing
  testing/time_test.ts
Labels: testing

#5133 chore: ignore test utils in coverage reporting
  archive/_test_utils.ts
  archive/tar_test.ts
  archive/untar_test.ts
  deno.json
  json/_test_utils.ts
  json/concatenated_json_parse_stream_test.ts
  json/json_parse_stream_test.ts
  streams/_test_utils.ts
  streams/delimiter_stream_test.ts
  streams/text_delimiter_stream_test.ts
  webgpu/_test_utils.ts
  webgpu/create_capture_test.ts
  webgpu/texture_with_data_test.ts
Labels: json, streams, archive, webgpu

#5126 refactor(http): minor cleanup
  http/file_server.ts
  http/negotiation.ts
Labels: http

#5137 refactor(testing): remove dead code and improve test of `testing/mock.ts`
  testing/mock.ts
  testing/mock_test.ts
Labels: testing

#5131 chore(http): release `http@1.0.0-rc.1`
  deno.json
  http/deno.json
Labels: http

#5138 BREAKING(http): rename `verifyCookie()` to `verifySignedCookie()`
  http/signed_cookie.ts
  http/signed_cookie_test.ts
Labels: http

#5136 test(testing): improve bdd testing
  testing/bdd_test.ts
Labels: testing

#5135 refactor(http): change error thrown in `ServerSentEventStream` to `SyntaxError`
  http/server_sent_event_stream.ts
  http/server_sent_event_stream_test.ts
Labels: http

#5143 docs(fs): add not supported docs for `CopyOptions.preserveTimestamps`
  fs/copy.ts
Labels: fs

#5145 refactor(testing): remove `@std/fmt/colors` dependency from `snapshot` module
  .github/dependency_graph.svg
  testing/snapshot.ts
Labels: testing

#5147 docs(testing): add module docs
  testing/README.md
  testing/types.ts
Labels: testing

#5139 fix(testing): correctly throw in constructor with `spy()`
  testing/mock.ts
  testing/mock_test.ts
Labels: testing

#5142 chore(testing): release `testing@1.0.0-rc.1`
  .github/dependency_graph.svg
  deno.json
  testing/deno.json
Labels: testing

#5150 test(csv): improve stringify testing
  csv/stringify.ts
  csv/stringify_test.ts
Labels: csv

#5151 refactor(csv): remove dead code and improve tests
  csv/parse.ts
  csv/parse_test.ts
Labels: csv

#5154 test(csv): improve `CsvStringifyStream` test
  csv/csv_stringify_stream_test.ts
Labels: csv

#5153 refactor(csv): remove dead code and improve `CsvParseStream` test
  csv/_io.ts
  csv/csv_parse_stream.ts
  csv/csv_parse_stream_test.ts
Labels: csv

#5158 refactor(csv): minor cleanups
  csv/_io.ts
  csv/csv_stringify_stream.ts
  csv/parse.ts
  csv/stringify.ts
Labels: csv

#5163 chore: Revert "refactor(csv): minor cleanups (#5158)"
  csv/_io.ts
  csv/csv_stringify_stream.ts
  csv/parse.ts
  csv/stringify.ts
Labels: csv

#5160 BREAKING(semver): remove deprecated `rangeMax()`, `rangeMin()` and `testRange()` APIs
  semver/deno.json
  semver/mod.ts
  semver/range_max.ts
  semver/range_max_test.ts
  semver/range_min.ts
  semver/range_min_test.ts
  semver/test_range.ts
  semver/test_range_test.ts
Labels: semver

#5157 docs(csv): add module docs
  csv/mod.ts
Labels: csv

#5161 test(semver): add `tryParse()` tests
  semver/try_parse_test.ts
Labels: semver

#5149 refactor(yaml): rename `YAMLError` to `YamlError`
  yaml/_dumper/dumper.ts
  yaml/_error.ts
  yaml/_loader/loader.ts
  yaml/_loader/loader_state.ts
  yaml/parse.ts
  yaml/parse_test.ts
  yaml/schema.ts
  yaml/stringify_test.ts
Labels: yaml

#5170 docs(csv): fix description of `ParseResult`
  csv/_io.ts
Labels: csv

#5169 BREAKING(csv): make `ReadOptions` private
  csv/csv_parse_stream.ts
  csv/parse.ts
Labels: csv

#5159 chore(csv): release `csv@1.0.0-rc.1`
  .github/dependency_graph.svg
  csv/deno.json
  deno.json
Labels: csv

#5168 BREAKING(semver): make invalid SemVer constants private
  semver/_constants.ts
  semver/constants.ts
  semver/deno.json
  semver/format_test.ts
  semver/is_range.ts
  semver/is_range_test.ts
  semver/is_semver.ts
  semver/is_semver_test.ts
  semver/max_satisfying_test.ts
  semver/min_satisfying_test.ts
  semver/mod.ts
  semver/parse_range.ts
Labels: semver

#5148 BREAKING(yaml): remove `iterator` argument from `parseAll()`
  yaml/_loader/loader.ts
  yaml/parse.ts
  yaml/parse_test.ts
Labels: yaml

#5171 BREAKING(yaml): rename `DumpOptions` to `StringifyOptions`
  yaml/stringify.ts
Labels: yaml

#5182 test(yaml): improve `parse()` testing
  yaml/parse_test.ts
Labels: yaml

#5178 docs(semver): minor documentation cleanups
  semver/compare.ts
  semver/difference.ts
  semver/equals.ts
  semver/format.ts
  semver/format_range.ts
  semver/greater_or_equal.ts
  semver/greater_than.ts
  semver/greater_than_range.ts
  semver/increment.ts
  semver/is_range.ts
  semver/is_semver.ts
  semver/less_or_equal.ts
  semver/less_than.ts
  semver/less_than_range.ts
  semver/max_satisfying.ts
  semver/min_satisfying.ts
  semver/mod.ts
  semver/not_equals.ts
  semver/parse.ts
  semver/parse_range.ts
  semver/range_intersects.ts
  semver/satisfies.ts
  semver/try_parse.ts
Labels: semver

#5185 fix(yaml): fix merge (<<) type handling in `parse()`
  yaml/_loader/loader.ts
  yaml/parse_test.ts
Labels: yaml

#5183 refactor(yaml): simplify map initializations
  yaml/_loader/loader.ts
  yaml/_loader/loader_state.ts
Labels: yaml

#5172 BREAKING(csv): remove `csv` from module names
  csv/deno.json
  csv/mod.ts
  csv/parse_stream.ts
  csv/parse_stream_test.ts
  csv/stringify_stream.ts
  csv/stringify_stream_test.ts
Labels: csv

#5175 BREAKING(yaml): make `Schema` and `Type` private and stop supporting user-defined schemas
  _tools/check_docs.ts
  yaml/_dumper/dumper.ts
  yaml/_dumper/dumper_state.ts
  yaml/_loader/loader.ts
  yaml/_loader/loader_state.ts
  yaml/_schema.ts
  yaml/_state.ts
  yaml/_type.ts
  yaml/_type/binary.ts
  yaml/_type/bool.ts
  yaml/_type/float.ts
  yaml/_type/function.ts
  yaml/_type/int.ts
  yaml/_type/map.ts
  yaml/_type/merge.ts
  yaml/_type/nil.ts
  yaml/_type/omap.ts
  yaml/_type/pairs.ts
  yaml/_type/regexp.ts
  yaml/_type/seq.ts
  yaml/_type/set.ts
  yaml/_type/str.ts
  yaml/_type/timestamp.ts
  yaml/_type/undefined.ts
  yaml/deno.json
  yaml/mod.ts
  yaml/parse.ts
  yaml/parse_test.ts
  yaml/schema/core.ts
  yaml/schema/default.ts
  yaml/schema/extended.ts
  yaml/schema/failsafe.ts
  yaml/schema/json.ts
  yaml/stringify.ts
  yaml/stringify_test.ts
Labels: yaml
