Repository denoland/std, pull requests merged in 2024-04, with the labels that each got.

#4539 chore: enable `verbatim-module-syntax` lint rule
  crypto/_benches/bench.ts
  deno.json
  expect/_extend.ts
  expect/_extend_test.ts
  front_matter/mod.ts
Labels: crypto, front_matter, expect

#4497 docs(encoding): polish documentation
  deno.json
  encoding/README.md
  encoding/ascii85.ts
  encoding/base32.ts
  encoding/base58.ts
  encoding/base64.ts
  encoding/base64url.ts
  encoding/hex.ts
  encoding/varint.ts
Labels: encoding

#4537 feat(expect): support `expect.addSnapshotSerialize()` api
  expect/_snapshot_serializer.ts
  expect/_types.ts
  expect/expect.ts
Labels: expect

#4541 feat(testing): add `after`, `before`, `test` aliases
  testing/bdd.ts
Labels: testing

#4534 feat(semver): `greaterThanRange()` and `lessThanRange()`
  semver/_test_comparator_set.ts
  semver/greater_than_range.ts
  semver/greater_than_range_test.ts
  semver/less_than_range.ts
  semver/less_than_range_test.ts
  semver/mod.ts
  semver/test_range.ts
Labels: semver

#4549 fix(cli): make the output of `promptSecret()` consistent with `prompt()`
  cli/prompt_secret.ts
Labels: cli

#4551 tests(fmt): add `duration()` tests
  fmt/duration_test.ts
Labels: fmt

#4555 deprecation(encoding): make exported function names consistent with `std/encoding`
  encoding/varint.ts
Labels: encoding

#4554 test(media_types): improve test coverage
  media_types/_util.ts
  media_types/_util_test.ts
  media_types/content_type_test.ts
  media_types/extensions_by_type_test.ts
  media_types/format_media_type_test.ts
  media_types/get_charset_test.ts
  media_types/parse_media_type_test.ts
Labels: media_types

#4558 docs(log): remove string formatter description
  log/mod.ts
Labels: log

#4436 deprecate(log): deprecate internal utility methods
  log/base_handler.ts
  log/console_handler.ts
  log/file_handler.ts
  log/logger.ts
  log/rotating_file_handler.ts
Labels: log

#4565 test(testing): cleanup bdd tests
  testing/bdd_test.ts
Labels: testing

#4566 deprecation(yaml): cleanup schema exports
  yaml/schema/core.ts
  yaml/schema/default.ts
  yaml/schema/extended.ts
  yaml/schema/failsafe.ts
  yaml/schema/json.ts
  yaml/schema/mod.ts
Labels: yaml

#4561 deprecation(semver): deprecate `rangeMax()` and `rangeMin()`
  semver/range_max.ts
  semver/range_min.ts
Labels: semver

#4572 fix(log): Revert "deprecate(log): deprecate internal utility methods" (#4436)
  log/base_handler.ts
  log/console_handler.ts
  log/file_handler.ts
  log/logger.ts
  log/rotating_file_handler.ts
Labels: log

#4569 docs(datetime): polish module documentation
  datetime/day_of_year.ts
  datetime/difference.ts
  datetime/format.ts
  datetime/is_leap.ts
  datetime/mod.ts
  datetime/parse.ts
  datetime/week_of_year.ts
Labels: datetime

#4567 test(async): improve test coverage
  async/_util.ts
  async/_util_test.ts
  async/abortable.ts
  async/debounce_test.ts
  async/delay.ts
  async/delay_test.ts
  async/mux_async_iterator.ts
  async/mux_async_iterator_test.ts
  async/pool_test.ts
  async/retry_test.ts
Labels: async

#4582 deprecation(expect): rename `addSnapshotSerializers` to `addSnapshotSerializer`
  expect/expect.ts
Labels: expect

#4574 refactor(net): remove use of `as Deno.NetAddr`
  net/get_available_port.ts
Labels: net

#4594 docs(bytes): polish documentation
  bytes/concat.ts
  bytes/copy.ts
  bytes/ends_with.ts
  bytes/equals.ts
  bytes/includes_needle.ts
  bytes/index_of_needle.ts
  bytes/last_index_of_needle.ts
  bytes/mod.ts
  bytes/repeat.ts
  bytes/starts_with.ts
Labels: bytes

#4592 refactor(assert,expect): use shared `format.ts` and `diff.ts`
  assert/_format_test.ts
  assert/assert_array_includes.ts
  assert/assert_equals.ts
  assert/assert_greater.ts
  assert/assert_greater_or_equal.ts
  assert/assert_less.ts
  assert/assert_less_or_equal.ts
  assert/assert_not_strict_equals.ts
  assert/assert_strict_equals.ts
  expect/_build_message.ts
  expect/_diff.ts
  expect/_diff_test.ts
  expect/_format.ts
  expect/_matchers.ts
  internal/diff.ts
  internal/diff_test.ts
  internal/format.ts
  internal/format_test.ts
  internal/mod.ts
Labels: assert, expect

#4598 fix(csv): remove unused `opt` parameter
  csv/parse.ts
Labels: csv

#4601 docs(url): polish documentation
  url/basename.ts
  url/dirname.ts
  url/extname.ts
  url/join.ts
  url/mod.ts
  url/normalize.ts
Labels: url

#4602 refactor(bytes): minor cleanups
  bytes/concat.ts
  bytes/copy.ts
  bytes/ends_with.ts
  bytes/index_of_needle.ts
  bytes/last_index_of_needle.ts
  bytes/repeat.ts
Labels: bytes

#4603 fix(bytes): improve invalid count error message for `repeat()`
  bytes/repeat.ts
  bytes/repeat_test.ts
Labels: bytes

#4575 deprecation(permissions): update removal time for `std/permissions`
  _tools/check_deprecation.ts
  permissions/mod.ts
Labels: permissions

#4577 chore: simplify deprecation notice check
  .github/CONTRIBUTING.md
  _tools/check_deprecation.ts
  crypto/crypto.ts
  deno.json
  encoding/varint.ts
  flags/mod.ts
  fmt/colors.ts
  http/server.ts
  io/buf_reader.ts
  io/buf_writer.ts
  io/copy_n.ts
  io/limited_reader.ts
  io/multi_reader.ts
  io/read_delim.ts
  io/read_int.ts
  io/read_lines.ts
  io/read_long.ts
  io/read_range.ts
  io/read_short.ts
  io/read_string_delim.ts
  io/slice_long_to_bytes.ts
  io/string_reader.ts
  io/string_writer.ts
  path/mod.ts
  semver/range_max.ts
  semver/range_min.ts
  streams/iterate_reader.ts
  streams/readable_stream_from_reader.ts
  streams/reader_from_iterable.ts
  streams/reader_from_stream_reader.ts
  streams/writable_stream_from_writer.ts
  streams/writer_from_stream_writer.ts
  testing/asserts.ts
  yaml/schema/core.ts
  yaml/schema/default.ts
  yaml/schema/extended.ts
  yaml/schema/failsafe.ts
  yaml/schema/json.ts
Labels: testing, http, fmt, streams, crypto, encoding, flags, io, path, semver, yaml

#4619 test(http): update `Deno.listenTls()` options
  http/server_test.ts
Labels: http

#4609 test(csv): fix type error in `csv/parse_test.ts`
  .github/workflows/ci.yml
  csv/parse_test.ts
  deno.json
Labels: csv

#4610 fix(csv): do not print empty header line when no columns are given in `stringify()`
  csv/stringify.ts
  csv/stringify_test.ts
Labels: csv

#4604 feat(http): file server prints local network address
  http/file_server.ts
  http/file_server_test.ts
Labels: http

#4621 chore: update to `rust@1.77.2`
  .github/workflows/ci.yml
  crypto/_wasm/.rustfmt.toml
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.mjs
  crypto/_wasm/rust-toolchain.toml
Labels: crypto

#4617 chore: fix types
  _tools/release/repo.ts
  cli/_tools/generate_data.ts
  crypto/testdata/digest_large_inputs.ts
  crypto/testdata/digest_many_calls.ts
Labels: crypto, cli

#4618 chore: JSDoc checker
  _tools/check_deprecation.ts
  _tools/check_docs.ts
  bytes/concat.ts
  bytes/copy.ts
  bytes/index_of_needle.ts
  bytes/last_index_of_needle.ts
  bytes/repeat.ts
  datetime/difference.ts
  deno.json
Labels: bytes, datetime

#4132 fix(fs/ensure_dir): allow links to directories
  fs/ensure_dir.ts
  fs/ensure_dir_test.ts
  fs/testdata/ensure_dir/dir/.keep
  fs/testdata/ensure_dir/f
  fs/testdata/ensure_dir/ldir
  fs/testdata/ensure_dir/lf
Labels: fs

#4620 test(crypto): improve test coverage
  crypto/_fnv/mod_test.ts
  crypto/crypto_test.ts
  crypto/timing_safe_equal_test.ts
  crypto/unstable_keystack_test.ts
  testing/time.ts
Labels: testing, crypto

#4630 fix(bytes): `equals()` works with subarray
  bytes/equals.ts
  bytes/equals_test.ts
Labels: bytes

#4616 test(toml): split `toml/test.ts` into separate files
  toml/parse_test.ts
  toml/stringify_test.ts
  toml/test.ts
Labels: toml

#4635 perf(bytes): improve performance of `equals()`
  bytes/equals.ts
  bytes/equals_test.ts
Labels: bytes

#4640 docs(flags): update deprecated module notices
  README.md
  flags/mod.ts
Labels: flags

#4639 chore(http): remove `http/test.ts`
  http/test.ts
Labels: http

#4638 chore(cli): fix type errors
  cli/_tools/generate_data.ts
Labels: cli

#4641 test(log): cleanup test files
  log/_test_handler.ts
  log/base_handler_test.ts
  log/critical_test.ts
  log/debug_test.ts
  log/error_test.ts
  log/get_logger_test.ts
  log/info_test.ts
  log/setup_test.ts
  log/test.ts
  log/warn_test.ts
Labels: log

#4626 refactor(crypto): cleanup `crypto.subtle.digest[Sync]()` logic
  crypto/crypto.ts
  crypto/crypto_test.ts
Labels: crypto

#4645 fix(path): export private types used in public API
  path/parse.ts
  path/posix/parse.ts
  path/windows/parse.ts
Labels: path

#4642 BREAKING(permissions): remove `std/permissions`
  README.md
  _tools/check_circular_package_dependencies.ts
  permissions/mod.ts
  permissions/test.ts
Labels: permissions

#4644 BREAKING(flags): remove `std/flags`
  .github/workflows/title.yml
  README.md
  _tools/check_circular_package_dependencies.ts
  flags/mod.ts
Labels: flags

#4643 BREAKING(console): remove `std/console`
  .github/workflows/title.yml
  .gitignore
  README.md
  _tools/check_circular_package_dependencies.ts
  console/mod.ts
  console/unicode_width.ts
Labels: console

#4649 test(datetime): improve test coverage
  datetime/_date_time_formatter.ts
  datetime/_date_time_formatter_test.ts
Labels: datetime

#4660 chore: skip yanked versions
  assert/deno.json
  fmt/deno.json
  fs/deno.json
  internal/deno.json
  path/deno.json
Labels: fmt, fs, path, assert
