Repository denoland/std, pull requests merged in 2024-12, with the labels that each got.

#6226 docs(assert): fix English in mod.ts
  assert/mod.ts
Labels: assert

#6227 docs(assert): note the thrown diff in object_match.ts
  assert/object_match.ts
Labels: assert

#6222 fix(testing): add missing methods to `test` alias of `it`
  testing/bdd.ts
Labels: testing

#6221 fix(cli/unstable): hide cursor while showing the selection with `promptSelect()`
  cli/unstable_prompt_select.ts
  cli/unstable_prompt_select_test.ts
Labels: cli

#6228 fix(expect): fix error messages for `toMatchObject`
  expect/_matchers.ts
  expect/_to_match_object_test.ts
Labels: expect

#6094 BREAKING(http/unstable): switch `params` and `info` args in `Handler` in `route()` for more conveniency
  http/mod.ts
  http/unstable_route.ts
  http/unstable_route_test.ts
Labels: http, feedback welcome

#6237 fix(testing): stop code execution in `describe.ignore`
  testing/_test_suite.ts
  testing/bdd_test.ts
Labels: testing

#6240 docs(expect): suggest using top-level code instead of beforeAll
  testing/bdd.ts
Labels: testing

#6238 feat(encoding/unstable): Crockford base32 unstable support
  encoding/deno.json
  encoding/unstable_base32crockford.ts
  encoding/unstable_base32crockford_test.ts
Labels: encoding

#6208 fix(regexp): escape leading digit
  regexp/escape.ts
  regexp/escape_test.ts
Labels: regexp

#6223 feat(cli/unstable): add `promptMultipleSelect()`
  _tools/check_docs.ts
  cli/deno.json
  cli/unstable_prompt_multiple_select.ts
  cli/unstable_prompt_multiple_select_test.ts
Labels: cli

#6254 test(cli/unstable): rewrite `Spinner` tests using stub
  cli/testdata/spinner_cases/change_message.ts
  cli/testdata/spinner_cases/custom_color_black.ts
  cli/testdata/spinner_cases/custom_color_blue.ts
  cli/testdata/spinner_cases/custom_color_cyan.ts
  cli/testdata/spinner_cases/custom_color_gray.ts
  cli/testdata/spinner_cases/custom_color_green.ts
  cli/testdata/spinner_cases/custom_color_magenta.ts
  cli/testdata/spinner_cases/custom_color_red.ts
  cli/testdata/spinner_cases/custom_color_white.ts
  cli/testdata/spinner_cases/custom_color_yellow.ts
  cli/testdata/spinner_cases/custom_interval_10.ts
  cli/testdata/spinner_cases/custom_interval_750.ts
  cli/testdata/spinner_cases/custom_message.ts
  cli/testdata/spinner_cases/custom_spinner.ts
  cli/testdata/spinner_cases/set_color.ts
  cli/testdata/spinner_cases/start.ts
  cli/testdata/spinner_cases/stop.ts
  cli/unstable_spinner_test.ts
Labels: cli

#6252 feat(cbor): add encoding/decoding for `new Map()` instance
  cbor/_common_decode.ts
  cbor/_common_encode.ts
  cbor/decode_cbor.ts
  cbor/decode_cbor_sequence.ts
  cbor/decode_cbor_test.ts
  cbor/encode_cbor.ts
  cbor/encode_cbor_sequence.ts
  cbor/encode_cbor_test.ts
  cbor/types.ts
Labels: cbor

#6253 test(cli/unstable): cleanup `promptSelect()` tests
  cli/unstable_prompt_select_test.ts
Labels: cli

#6258 feat(fs/unstable): add `fs.stat`
  _tools/node_test_runner/run_test.mjs
  fs/_map_error.ts
  fs/_to_file_info.ts
  fs/_utils.ts
  fs/deno.json
  fs/unstable_errors.d.ts
  fs/unstable_errors.js
  fs/unstable_stat.ts
  fs/unstable_stat_test.ts
  fs/unstable_types.ts
Labels: fs

#6264 fix(cli/unstable): `promptSelect()` add `isTerminal()` check
  cli/unstable_prompt_select.ts
  cli/unstable_prompt_select_test.ts
Labels: cli

#6256 test(cli): add tests for `promptSecret()`
  cli/prompt_secret_test.ts
Labels: cli

#6268 docs(cli): remove `parseArgs()` console logs from examples
  cli/parse_args.ts
Labels: cli

#6266 test(cli/unstable): add `promptMultipleSelect()` ETX test
  cli/unstable_prompt_multiple_select_test.ts
Labels: cli

#6269 docs(log): fix level name assertion in LogRecord example
  log/logger.ts
Labels: log

#6272 fix(data-structures): ensure size consistency in BinarySearchTree.from
  data_structures/binary_search_tree.ts
  data_structures/binary_search_tree_test.ts
Labels: data-structures

#6267 test(cli/unstable): add `promptSelect()` ETX test
  cli/unstable_prompt_select_test.ts
Labels: cli

#6273 test(cli): add `promptSecret()` empty mask option test
  cli/prompt_secret_test.ts
Labels: cli

#6217 fix(expect): always show custom message
  expect/_assert_equals_test.ts
  expect/_assert_is_error.ts
  expect/_assert_not_equals.ts
  expect/_build_message.ts
  expect/_matchers.ts
  expect/_to_be_close_to_test.ts
  expect/_to_be_falsy_test.ts
  expect/_to_be_greater_than_or_equal_test.ts
  expect/_to_be_greater_than_test.ts
  expect/_to_be_less_than_or_equal_test.ts
  expect/_to_be_less_than_test.ts
  expect/_to_be_truthy_test.ts
  expect/_to_contain_equal_test.ts
  expect/_to_contain_test.ts
  expect/_to_equal_test.ts
  expect/_to_have_been_called_test.ts
  expect/_to_have_been_called_times_test.ts
  expect/_to_have_been_called_with_test.ts
  expect/_to_have_been_last_called_with_test.ts
  expect/_to_have_been_nth_called_with_test.ts
  expect/_to_have_last_returned_with_test.ts
  expect/_to_have_length_test.ts
  expect/_to_have_nth_returned_with_test.ts
  expect/_to_have_property_test.ts
  expect/_to_have_returned_test.ts
  expect/_to_have_returned_times_test.ts
  expect/_to_have_returned_with_test.ts
  expect/_to_match_object_test.ts
  expect/_to_throw_test.ts
Labels: expect

#6271 fix(expect): Fix `expect.arrayContaining` bug
  expect/_array_containing_test.ts
  expect/_asymmetric_matchers.ts
Labels: expect

#6275 fix(fs): use `stat` function in `stat` example
  fs/unstable_stat.ts
Labels: fs

#6276 feat(fs/unstable): add `fs.lstat`
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_lstat.ts
  fs/unstable_lstat_test.ts
Labels: fs

#6282 feat(testing/unstable): add API for configuring global sanitizer state
  testing/_test_suite.ts
  testing/bdd.ts
  testing/deno.json
  testing/testdata/configure_global_sanitizers/disable_sanitize_exit.ts
  testing/testdata/configure_global_sanitizers/disable_sanitize_ops_and_resources.ts
  testing/testdata/configure_global_sanitizers/disable_sanitize_resources.ts
  testing/unstable_bdd.ts
  testing/unstable_bdd_test.ts
Labels: testing

#6291 fix(expect): consistent `toBeCloseTo` assertion messages
  expect/_matchers.ts
Labels: expect

#6292 docs(expect): clarify the tolerance in `toBeCloseTo`
  expect/_types.ts
Labels: expect

#6236 test(fs): do not write files in source tree during test
  fs/empty_dir_test.ts
  fs/ensure_dir_test.ts
  fs/ensure_file_test.ts
  fs/ensure_link_test.ts
  fs/ensure_symlink_test.ts
  fs/move_test.ts
  fs/testdata/empty_dir.ts
  fs/testdata/empty_dir_sync.ts
  fs/walk_test.ts
Labels: fs

#6295 fix(fmt): add correct pluralization to fmt/duration when using style: full
  fmt/duration.ts
  fmt/duration_test.ts
Labels: fmt

#6301 docs(datetime): remove outdated mention of `utc` option
  datetime/format.ts
Labels: datetime

#6307 fix(data-structures): ensure size consistency in RedBlackTree.from
  data_structures/_binary_search_tree_internals.ts
  data_structures/binary_search_tree.ts
  data_structures/red_black_tree.ts
  data_structures/red_black_tree_test.ts
Labels: data-structures

#6283 docs(cli): add examples of parseArgs
  cli/parse_args.ts
Labels: cli
