Repository denoland/std, pull requests merged in 2024-10, with the labels that each got.

#6071 docs(log): document `ConsoleHandler`
  _tools/check_docs.ts
  log/console_handler.ts
Labels: log

#6082 fix(log): remove leaky `Logger.prototype.asString()` method
  log/logger.ts
Labels: log

#6076 feat(collections/unstable): support `Iterable` argument in `dropLastWhile()`
  collections/deno.json
  collections/unstable_drop_last_while.ts
  collections/unstable_drop_last_while_test.ts
Labels: collections

#6084 docs(log): document `getLogger()` and `Logger`
  _tools/check_docs.ts
  log/get_logger.ts
  log/logger.ts
Labels: log

#6036 feat(collections/unstable): support `Iterable` argument in `intersect()`
  collections/deno.json
  collections/unstable_intersect.ts
  collections/unstable_intersect_test.ts
Labels: collections

#6089 test(collections): add tests for `filterInPlace()` util
  collections/_utils_test.ts
Labels: collections

#6088 feat(collections/unstable): support `Iterable` argument in `dropWhile()`
  collections/deno.json
  collections/unstable_drop_while.ts
  collections/unstable_drop_while_test.ts
Labels: collections

#6090 feat(collections/unstable): support `Iterable` argument in `takeLastWhile()`
  collections/deno.json
  collections/unstable_take_last_while.ts
  collections/unstable_take_last_while_test.ts
Labels: collections

#6087 feat(async/unstable): accept iterator varargs in `MuxAsyncIterator`
  async/deno.json
  async/unstable_mux_async_iterator.ts
  async/unstable_mux_async_iterator_test.ts
Labels: async

#6046 feat(streams/unstable): `toByteStream()`
  streams/deno.json
  streams/unstable_to_byte_stream.ts
  streams/unstable_to_byte_stream_test.ts
Labels: streams

#6096 chore(async/unstable): fix typo
  async/unstable_mux_async_iterator.ts
Labels: async

#6099 fix(cbor): fix module specifier in import
  cbor/encode_cbor_sequence.ts
Labels: cbor

#6103 refactor(json): fix typo
  json/parse_stream.ts
Labels: json

#6107 refactor(cbor): replace `toByteStream` function in common with import from `@std/streams`
  cbor/_array_decoded_stream_test.ts
  cbor/_byte_decoded_stream_test.ts
  cbor/_common.ts
  cbor/_map_decoded_stream_test.ts
  cbor/_text_decoded_stream_test.ts
  cbor/array_encoder_stream.ts
  cbor/byte_encoder_stream.ts
  cbor/map_encoder_stream.ts
  cbor/sequence_decoder_stream.ts
  cbor/sequence_decoder_stream_test.ts
  cbor/sequence_encoder_stream.ts
  cbor/text_encoder_stream.ts
  cbor/types.ts
Labels: cbor

#6105 docs(path): re-add URL examples to `@std/path/posix` examples
  path/posix/basename.ts
  path/posix/dirname.ts
  path/posix/extname.ts
  path/posix/join.ts
  path/posix/mod.ts
  path/posix/normalize.ts
Labels: path

#6106 test(cbor): empty string being excluded from expected result
  cbor/text_encoder_stream_test.ts
Labels: cbor

#6115 fix(cbor): number precision error in decoding test
  cbor/decode_cbor_test.ts
Labels: cbor

#6113 docs(tar): fix example in creating directories
  tar/mod.ts
  tar/untar_stream.ts
Labels: tar

#6095 feat(collections/unstable): support `Iterable` argument in `slidingWindows`
  collections/deno.json
  collections/unstable_sliding_windows.ts
  collections/unstable_sliding_windows_test.ts
Labels: collections

#6129 fix(http): fix tablet and smarttv in Device.type literal types
  http/user_agent.ts
Labels: http

#6110 feat(async/unstable): add `throttle()` function
  async/deno.json
  async/unstable_throttle.ts
  async/unstable_throttle_test.ts
Labels: async

#6117 test(fmt): handle missing group separator for 1000.1 in some locales
  fmt/bytes_test.ts
Labels: fmt

#6139 docs(fmt): %f width typo
  fmt/printf.ts
Labels: fmt

#6135 refactor(fs): uncaught FS errors in web
  fs/copy.ts
  fs/ensure_symlink.ts
  fs/eol.ts
  fs/expand_glob.ts
Labels: fs

#6032 fix(expect,internal,testing): support `expect.assertions`
  expect/_assertion_test.ts
  expect/_assertions.ts
  expect/_assertions_test.ts
  expect/expect.ts
  expect/mod.ts
  internal/assertion_state.ts
  internal/assertion_state_test.ts
  testing/_test_suite.ts
  testing/bdd.ts
Labels: testing, expect, internal

#6147 fix(assert): fix assertion error message of isError
  assert/is_error.ts
Labels: assert

#6149 test(async/unstable): fix typo
  async/unstable_throttle_test.ts
Labels: async

#6138 fix(expect): support expect.not.{arrayContaining,objectContaning,stringContaining,stringMatching}
  expect/_array_containing_test.ts
  expect/_asymmetric_matchers.ts
  expect/_object_containing_test.ts
  expect/_string_containing_test.ts
  expect/_string_matching_test.ts
  expect/expect.ts
  expect/mod.ts
Labels: expect

#6155 docs(streams): rest arguments not being asserted in docs
  _tools/check_docs.ts
  streams/early_zip_readable_streams.ts
  streams/zip_readable_streams.ts
Labels: streams

#6154 feat(testing/unstable): add type test for mutual assignability
  testing/deno.json
  testing/unstable_types.ts
  testing/unstable_types_test.ts
Labels: testing

#6156 test(async): fix flakiness of throttle example
  async/unstable_throttle.ts
Labels: async

#6158 refactor(path): always name the parameters (add param definition check in doc linter)
  _tools/check_docs.ts
  path/posix/join_globs.ts
  path/posix/normalize_glob.ts
  path/windows/join_globs.ts
  path/windows/normalize_glob.ts
Labels: path

#6128 feat(testing/unstable): support for stubbing properties
  testing/_mock_utils.ts
  testing/deno.json
  testing/mock.ts
  testing/unstable_stub.ts
  testing/unstable_stub_test.ts
Labels: testing

#6162 test(assert): change inert comments to @ts-expect-error directives
  assert/strict_equals_test.ts
Labels: assert

#6163 test(bytes): document the cases being tested for equals/startsWith/endsWith
  bytes/ends_with_test.ts
  bytes/equals_test.ts
  bytes/starts_with_test.ts
Labels: bytes
