Repository denoland/std, pull requests merged in 2024-01, with the labels that each got.

#4052 refactor(semver): update internal variables and comments
  semver/_shared.ts
  semver/parse_range.ts
Labels: semver

#4050 deprecation(semver): deprecate `format()` `style` argument
  semver/format.ts
  semver/types.ts
Labels: semver

#4056 refactor(semver): rename `OPERATOR_REGEXP` to `OPERATOR_XRANGE_REGEXP `
  semver/_shared.ts
  semver/parse_range.ts
Labels: semver

#4055 BREAKING(crypto): remove stable `KeyStack()`
  crypto/keystack.ts
Labels: crypto

#4054 refactor(semver): make `difference()` more readable
  semver/difference.ts
Labels: semver

#4063 refactor(ulid): format test names
  ulid/test.ts
Labels: ulid

#4062 refactor(url): format test names
  url/basename_test.ts
  url/dirname_test.ts
  url/extname_test.ts
  url/join_test.ts
  url/normalize_test.ts
Labels: url

#4064 refactor(toml): format test names
  toml/parse_test.ts
  toml/test.ts
Labels: toml

#4061 refactor(yaml): format test names
  yaml/parse_test.ts
  yaml/stringify_test.ts
Labels: yaml

#4060 refactor(html): format test names
  html/entities_test.ts
Labels: html

#4057 refactor(semver): make `increment()` more readable
  semver/increment.ts
Labels: semver

#4074 fix(toml): testdata typo
  toml/test.ts
  toml/testdata/string.toml
Labels: toml

#4072 chore(path): remove `README.md`
  path/README.md
Labels: path

#4075 chore(ulid): fix `monotonicUlid()` test name
  ulid/test.ts
Labels: ulid

#4077 test(path): move tests away from using deprecated `path.posix` and `path.win32`
  path/basename_test.ts
  path/dirname_test.ts
  path/extname_test.ts
  path/from_file_url_test.ts
  path/is_absolute_test.ts
  path/join_test.ts
  path/parse_format_test.ts
  path/relative_test.ts
  path/resolve_test.ts
  path/to_file_url_test.ts
  path/zero_length_strings_test.ts
Labels: path

#4076 refactor(semver): remove unnecessary code
  semver/_shared.ts
  semver/is_semver.ts
Labels: semver

#4089 fix(semver): remove `undefined` return type from `rangeMax()`
  semver/range_max.ts
Labels: semver

#4079 feat(cli): make `Spinner.message` able to be changed on-the-fly
  cli/spinner.ts
Labels: cli

#4081 fix(fs): fix `expandGlob()` test race condition
  fs/expand_glob_test.ts
Labels: fs

#4087 docs(html): complete documentation
  html/entities.ts
  html/mod.ts
Labels: html

#4088 deprecation(semver): deprecate `compareBuild()`
  semver/compare_build.ts
Labels: semver

#4094 refactor(semver): make `rangeMin()` and `rangeMax()` more readable
  semver/range_max.ts
  semver/range_min.ts
Labels: semver

#4084 refactor(testing): prepare for `noUncheckedIndexedAccess`
  testing/bdd_test.ts
  testing/mock.ts
  testing/mock_test.ts
  testing/time_test.ts
Labels: testing

#4100 refactor(log): remove obsolete `Log.handler` property getter and setter
  log/logger.ts
Labels: log

#4098 deprecation(semver): deprecate `sort()`
  semver/sort.ts
Labels: semver

#4105 BREAKING: remove `std/signal` sub-module
  README.md
  _tools/check_circular_submodule_dependencies.ts
  signal/mod.ts
  signal/test.ts
Labels: signal

#4106 BREAKING(semver): remove `rcompare()`
  semver/mod.ts
  semver/rcompare.ts
  semver/rcompare_test.ts
Labels: semver

#4107 BREAKING(semver): remove `isSemVerComparator()`
  semver/is_semver_comparator.ts
  semver/is_semver_range.ts
  semver/mod.ts
Labels: semver

#4108 BREAKING(semver): remove `canParse()` non-string overload
  semver/can_parse.ts
Labels: semver

#4109 BREAKING(semver): remove `SemVerComparator`
  semver/comparator_format.ts
  semver/comparator_intersects.ts
  semver/constants.ts
  semver/outside.ts
  semver/parse_comparator.ts
  semver/range_intersects.ts
  semver/test_comparator.ts
  semver/try_parse_comparator.ts
  semver/types.ts
Labels: semver

#4058 docs(json): complete documentation
  json/common.ts
  json/concatenated_json_parse_stream.ts
  json/json_parse_stream.ts
  json/json_stringify_stream.ts
Labels: json

#4092 refactor(cli): make `Spinner.color` public
  cli/spinner.ts
Labels: cli

#4118 refactor(async): prepare for `noUncheckedIndexedAccess`
  async/mux_async_iterator.ts
Labels: async

#4119 refactor(bytes): prepare for `noUncheckedIndexedAccess`
  bytes/equals_test.ts
Labels: bytes

#4091 refactor(cli): make `Spinner` constructor options more readable
  cli/spinner.ts
Labels: cli

#4122 docs(testing): fix assertion deprecation notices
  testing/asserts.ts
Labels: testing

#4124 refactor(assert): remove `void` return types
  assert/assert_almost_equals.ts
  assert/assert_array_includes.ts
  assert/assert_equals.ts
  assert/assert_greater.ts
  assert/assert_greater_or_equal.ts
  assert/assert_less.ts
  assert/assert_less_or_equal.ts
  assert/assert_not_equals.ts
  assert/assert_not_strict_equals.ts
Labels: assert

#4125 fix(http): punt removal version of `unstable_cookie_map.ts`
  http/unstable_cookie_map.ts
Labels: http

#4130 docs(async): fix doc of `retry.ts` #4129
  async/retry.ts
Labels: async

#4041 fix(fs): reduce perm requirement of `ensureDir()`
  fs/ensure_dir.ts
  fs/ensure_file_test.ts
Labels: fs

#4104 BREAKING(log): remove deprecated APIs
  log/levels.ts
  log/logger.ts
Labels: log

#4135 refactor(text): use star exports in `mod.ts`
  text/mod.ts
Labels: text

#4096 refactor(semver): remove `ltr()` and `gtr()` `outside()` dependency
  semver/gtr.ts
  semver/ltr.ts
Labels: semver

#4095 refactor(semver): make `outside()` more readable
  semver/outside.ts
  semver/outside_test.ts
Labels: semver

#4131 deprecation(semver): deprecate `Comparator` functions
  semver/comparator_format.ts
  semver/comparator_intersects.ts
  semver/comparator_max.ts
  semver/comparator_min.ts
  semver/is_comparator.ts
  semver/parse_comparator.ts
  semver/test_comparator.ts
  semver/try_parse_comparator.ts
Labels: semver

#4141 fix: use `with` keyword for import attributes
  console/unicode_width.ts
  html/_tools/generate_data.ts
  html/entities.ts
  html/entities_test.ts
  http/user_agent_test.ts
Labels: http, console, html

#4121 refactor(cli): prepare for `noUncheckedIndexedAccess`
  cli/parse_args.ts
  cli/prompt_secret.ts
Labels: cli

#4045 refactor(assert): prepare for `noUncheckedIndexedAccess`
  assert/_diff.ts
Labels: assert

#4145 refactor(url): prepare for `noUncheckedIndexedAccess`
  url/dirname_test.ts
  url/extname_test.ts
  url/normalize_test.ts
Labels: url

#4146 refactor(data_structures): prepare for `noUncheckedIndexedAccess`
  data_structures/binary_heap.ts
  data_structures/binary_heap_test.ts
  data_structures/binary_search_tree.ts
  data_structures/binary_search_tree_test.ts
  data_structures/red_black_tree_test.ts
Labels: data_structures

#4147 refactor(ulid): prepare for `noUncheckedIndexedAccess`
  ulid/_util.ts
Labels: ulid

#4148 refactor(text): prepare for `noUncheckedIndexedAccess`
  text/_util.ts
  text/closest_string.ts
  text/levenshtein_distance.ts
Labels: text

#4149 refactor(jsonc): prepare for `noUncheckedIndexedAccess`
  jsonc/parse.ts
Labels: jsonc

#4152 chore(path): split up glob test into multiple files
  path/glob_to_regexp_test.ts
  path/is_glob_test.ts
  path/join_globs_test.ts
  path/normalize_glob_test.ts
Labels: path

#4154 chore(path): integrate zero length string test into other tests
  path/is_absolute_test.ts
  path/join_test.ts
  path/normalize_test.ts
  path/relative_test.ts
  path/resolve_test.ts
  path/zero_length_strings_test.ts
Labels: path

#4157 refactor(csv): prepare for `noUncheckedIndexedAccess`
  csv/_io.ts
Labels: csv

#4158 refactor(front_matter): prepare for `noUncheckedIndexedAccess`
  front_matter/create_extractor.ts
Labels: front_matter

#4159 refactor(json): prepare for `noUncheckedIndexedAccess`
  json/concatenated_json_parse_stream.ts
Labels: json

#4150 refactor(expect): prepare for `noUncheckedIndexedAccess`
  expect/_matchers.ts
  expect/_to_have_been_nth_called_with_test.ts
Labels: expect

#4162 refactor(semver): remove `cmp()` dependency from `testComparator()`
  semver/test_comparator.ts
Labels: semver

#4117 deprecation(log): rename `warning()` to `warn()`
  log/logger.ts
  log/logger_test.ts
  log/mod.ts
  log/mod_test.ts
  log/test.ts
Labels: log

#4163 docs(csv): complete documentation
  csv/_io.ts
  csv/csv_parse_stream.ts
  csv/csv_stringify_stream.ts
  csv/mod.ts
  csv/parse.ts
  csv/stringify.ts
Labels: csv

#4164 docs(dotenv): complete documentation
  dotenv/mod.ts
  dotenv/parse.ts
  dotenv/stringify.ts
Labels: dotenv

#4151 feat(net): add `preferredPort` option to `getAvailablePort()`
  net/get_available_port.ts
  net/get_available_port_test.ts
Labels: net

#4165 docs(fmt): complete documentation
  fmt/bytes.ts
  fmt/colors.ts
  fmt/duration.ts
Labels: fmt

#4166 docs(front_matter): complete documentation
  front_matter/create_extractor.ts
Labels: front_matter

#4167 docs(datetime): complete documentation
  datetime/difference.ts
  datetime/mod.ts
  datetime/parse.ts
Labels: datetime

#4168 fix: add `--no-lock` to spawned process args in tests
  _tools/check_browser_compat.ts
  crypto/crypto_test.ts
  dotenv/load_test.ts
  dotenv/mod_test.ts
  fs/empty_dir_test.ts
  fs/ensure_file_test.ts
  http/file_server_test.ts
  http/server_test.ts
  ini/parse_test.ts
  testing/snapshot_test.ts
  yaml/parse_test.ts
Labels: testing, http, fs, crypto, dotenv, yaml, ini

#4169 docs(jsonc): complete documentation
  jsonc/parse.ts
Labels: jsonc

#4171 BREAKING(semver): remove `cmp()`
  semver/cmp.ts
  semver/cmp_test.ts
  semver/mod.ts
Labels: semver

#4172 BREAKING(semver): remove `parse(semver: string)` overload
  semver/parse.ts
  semver/range_min_test.ts
Labels: semver

#4173 BREAKING(encoding): remove `base32.byteLength()`
  encoding/base32.ts
  encoding/base32_test.ts
Labels: encoding

#4170 deprecation(log): deprecate `LogLevels.WARNING`
  log/levels.ts
Labels: log

#4177 test(console): improve test coverage
  console/unicode_width_test.ts
Labels: console

#4179 BREAKING(http): remove `CookieMap`
  http/cookie_map.ts
  http/mod.ts
  http/unstable_cookie_map.ts
  http/unstable_cookie_map_test.ts
Labels: http

#4180 BREAKING(semver): remove `rsort()`
  semver/mod.ts
  semver/rsort.ts
Labels: semver

#4181 BREAKING(semver): remove `compareBuild()`
  semver/compare_build.ts
  semver/compare_build_test.ts
  semver/mod.ts
Labels: semver

#4182 BREAKING(semver): remove `FormatStyle`
  semver/format.ts
  semver/format_test.ts
  semver/types.ts
Labels: semver

#4184 feat(io): un-deprecate `Buffer`
  io/buffer.ts
Labels: io

#4185 deprecation(semver): deprecate `outside()`
  semver/outside.ts
Labels: semver

#4188 refactor(log): replace deprecated imports
  log/handlers_test.ts
  log/logger_test.ts
  log/mod.ts
  log/mod_test.ts
Labels: log

#4161 deprecation(semver): deprecate `SemVerRange`, introduce `Range`
  semver/comparator_format.ts
  semver/comparator_intersects.ts
  semver/comparator_intersects_test.ts
  semver/comparator_test.ts
  semver/constants.ts
  semver/format_range.ts
  semver/format_range_test.ts
  semver/gtr.ts
  semver/is_range.ts
  semver/is_range_test.ts
  semver/is_semver_range.ts
  semver/ltr.ts
  semver/max_satisfying.ts
  semver/min_satisfying.ts
  semver/outside.ts
  semver/parse_comparator.ts
  semver/parse_range.ts
  semver/range_format.ts
  semver/range_intersects.ts
  semver/range_intersects_test.ts
  semver/range_max.ts
  semver/range_min.ts
  semver/range_min_test.ts
  semver/test_comparator.ts
  semver/test_comparator_test.ts
  semver/test_range.ts
  semver/try_parse_range.ts
  semver/types.ts
Labels: semver

#4143 refactor(using): use `using` keyword for Explicit Resource Management
  archive/tar_test.ts
  archive/untar.ts
  archive/untar_test.ts
  fs/exists_test.ts
  fs/walk_test.ts
  http/file_server_test.ts
  http/server_test.ts
  io/copy_n_test.ts
  io/read_all.ts
  io/read_lines_test.ts
  io/write_all.ts
  net/get_available_port.ts
  streams/iterate_reader.ts
  streams/read_all.ts
  streams/reader_from_stream_reader.ts
  streams/write_all.ts
  streams/writer_from_stream_writer.ts
Labels: http, streams, fs, archive, io, net

#4193 chore(crypto): upgrade to `rust@1.75.0` and `wasmbuild@0.15.5`
  .github/workflows/ci.yml
  crypto/_wasm/Cargo.lock
  crypto/_wasm/Cargo.toml
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.mjs
  deno.json
Labels: crypto

#4195 feat(log): make handlers disposable
  log/base_handler.ts
  log/handlers_test.ts
Labels: log

#4201 refactor: cleanup deprecated-related APIs in `std/io` and `std/streams`
  archive/tar.ts
  archive/tar_test.ts
  archive/untar.ts
  archive/untar_test.ts
  io/limited_reader_test.ts
  io/multi_reader_test.ts
  io/string_writer.ts
  io/string_writer_test.ts
  streams/iterate_reader.ts
  streams/read_all.ts
  streams/reader_from_iterable.ts
  streams/reader_from_stream_reader.ts
  streams/reader_from_stream_reader_test.ts
  streams/writable_stream_from_writer.ts
  streams/write_all.ts
  streams/writer_from_stream_writer.ts
Labels: streams, archive, io

#4206 chore: add more explicit types for fast check
  cli/spinner.ts
  media_types/_util.ts
Labels: media_types, cli

#4202 fix(expect): fix the function signature of `toMatchObject()`
  expect/_matchers.ts
  expect/_to_match_object_test.ts
  expect/expect.ts
Labels: expect

#4204 refactor(semver): replace `parseComparator()` with comparator objects
  semver/parse_range.ts
Labels: semver

#4192 fix(toml): `parse()` duplicates the character next to reserved escape sequences
  toml/_parser.ts
  toml/parse_test.ts
Labels: toml

#4207 fix(flags): correct deprecation notices
  flags/mod.ts
Labels: flags

#4208 fix(fmt): correct `stripColor()` deprecation notice
  fmt/colors.ts
Labels: fmt

#4209 docs(http): complete documentation
  http/cookie.ts
  http/etag.ts
  http/negotiation.ts
  http/server.ts
  http/server_sent_event_stream.ts
  http/status.ts
  http/user_agent.ts
Labels: http

#4211 test(toml): improve test coverage
  toml/_parser.ts
  toml/parse_test.ts
  toml/test.ts
  toml/testdata/string.toml
Labels: toml

#4215 refactor(log): tidy imports and exports
  log/logger.ts
  log/mod.ts
Labels: log

#4217 docs(streams): remove `Deno.metrics()` use in example
  streams/reader_from_iterable.ts
Labels: streams

#4214 fix(log): make `flattenArgs()` private
  log/formatters.ts
Labels: log

#4219 docs(media_types): complete documentation
  media_types/content_type.ts
  media_types/extension.ts
  media_types/format_media_type.ts
  media_types/get_charset.ts
  media_types/parse_media_type.ts
  media_types/type_by_extension.ts
Labels: media_types

#4220 docs(msgpack): complete documentation
  msgpack/encode.ts
Labels: msgpack

#4153 deprecation(path): split off all constants into their own files and deprecate old names
  fs/_is_subdir.ts
  fs/_is_subdir_test.ts
  fs/expand_glob.ts
  http/file_server.ts
  path/common.ts
  path/constants.ts
  path/join_globs_test.ts
  path/mod.ts
  path/normalize_glob_test.ts
  path/posix/common.ts
  path/posix/constants.ts
  path/posix/join_globs.ts
  path/posix/mod.ts
  path/posix/normalize_glob.ts
  path/posix/separator.ts
  path/separator.ts
  path/windows/common.ts
  path/windows/constants.ts
  path/windows/join_globs.ts
  path/windows/mod.ts
  path/windows/normalize_glob.ts
  path/windows/separator.ts
Labels: http, fs, path

#4223 docs(toml): complete documentation
  toml/stringify.ts
Labels: toml

#4200 feat: print warning on use of deprecated API
  deno.json
  internal/mod.ts
  internal/warn_on_deprecated_api.ts
  internal/warn_on_deprecated_api_test.ts
  streams/read_all.ts
Labels: streams

#4083 deprecation(semver): rename `eq()`, `neq()`, `lt()`, `lte()`, `gt()` and `gte()`
  semver/eq.ts
  semver/equals.ts
  semver/equals_test.ts
  semver/greater_or_equal.ts
  semver/greater_or_equal_test.ts
  semver/greater_than.ts
  semver/greater_than_test.ts
  semver/gt.ts
  semver/gte.ts
  semver/less_or_equal.ts
  semver/less_or_equal_test.ts
  semver/less_than.ts
  semver/less_than_test.ts
  semver/lt.ts
  semver/lte.ts
  semver/mod.ts
  semver/neq.ts
  semver/not_equals.ts
  semver/not_equals_test.ts
Labels: semver, feedback welcome

#4127 feat(collections): pass `key` to `mapValues()` transformer
  collections/map_values.ts
  collections/map_values_test.ts
Labels: collections, feedback welcome

#4230 refactor: use `Deno.stdin.isTerminal()`
  cli/prompt_secret.ts
Labels: cli

#4232 refactor: use granular `--unstable-*` CLI flags
  async/delay.ts
  console/_tools/compare_with_rust.ts
  deno.json
  fs/expand_glob_test.ts
Labels: async, fs, console

#4234 fix: ignore linting for `Deno.serveHttp()`
  http/server.ts
  webgpu/_test_util.ts
Labels: http

#4237 BREAKING(io): remove `types.d.ts`
  io/types.d.ts
Labels: io

#4238 BREAKING(streams): remove `readAll()`, `writeAll()` and `copy()`
  streams/copy.ts
  streams/mod.ts
  streams/read_all.ts
  streams/read_all_test.ts
  streams/write_all.ts
  streams/write_all_test.ts
Labels: streams

#4229 feat(tools): check mod exports
  _tools/check_mod_exports.ts
  deno.json
  http/mod.ts
  log/mod.ts
  semver/mod.ts
Labels: http, log, semver

#4241 docs: fix broken `{@link}` hyperlinks
  collections/mod.ts
  crypto/crypto.ts
  encoding/ascii85.ts
  encoding/base32.ts
  encoding/base58.ts
  encoding/base64.ts
  encoding/base64url.ts
  encoding/hex.ts
  io/buf_reader.ts
  io/buf_writer.ts
  io/copy_n.ts
  io/limited_reader.ts
  io/multi_reader.ts
  io/read_delim.ts
  io/read_int.ts
  io/read_lines.ts
  io/read_long.ts
  io/read_range.ts
  io/read_short.ts
  io/read_string_delim.ts
  io/slice_long_to_bytes.ts
  io/string_reader.ts
  io/string_writer.ts
  permissions/mod.ts
  ulid/mod.ts
  webgpu/mod.ts
Labels: collections, crypto, encoding, io, ulid, permissions

#4243 refactor(log): remove log private methods/properties underscore
  log/logger.ts
Labels: log

#4248 fix(expect): add Error object equal check.
  expect/_equal.ts
  expect/_to_equal_test.ts
Labels: expect

#4252 docs(io): fix `io` module is marked deprecated
  io/buf_reader.ts
Labels: io

#4253 docs: replace markdown hyperlink syntax with `{@link}` tag where necessary.
  cli/parse_args.ts
  crypto/mod.ts
  crypto/timing_safe_equal.ts
  crypto/unstable_keystack.ts
  csv/stringify.ts
  dotenv/mod.ts
  expect/mod.ts
  flags/mod.ts
  front_matter/mod.ts
  fs/walk.ts
  http/cookie.ts
  http/mod.ts
  ini/mod.ts
  io/buffer.ts
  json/json_parse_stream.ts
  json/json_stringify_stream.ts
  media_types/mod.ts
  semver/mod.ts
  streams/buffer.ts
  streams/mod.ts
  testing/bdd.ts
  toml/mod.ts
  yaml/mod.ts
Labels: testing, http, csv, json, streams, fs, crypto, dotenv, flags, front_matter, io, media_types, semver, toml, yaml, expect, cli, ini
