Repository denoland/std, pull requests merged in 2024-11, with the labels that each got.

#6171 fix(testing): typo in snapshot.ts
  testing/snapshot.ts
Labels: testing

#6169 feat(media-types): update media-types from latest mime-db
  media_types/vendor/db.ts
Labels: media-types

#6175 docs(log): document FileHandler
  _tools/check_docs.ts
  log/file_handler.ts
Labels: log

#6173 fix(expect): support `expect.addSnapshotSerializer`
  expect/_serializer.ts
  expect/_serializer_test.ts
  expect/_types.ts
  expect/expect.ts
  expect/mod.ts
Labels: expect

#6121 BREAKING(ini): parse understands booleans, undefined, null and numbers
  ini/_ini_map.ts
  ini/mod.ts
  ini/parse_test.ts
  ini/stringify_test.ts
Labels: ini

#6153 fix(assert): check property equality up the prototype chain (#6151)
  assert/equal.ts
  assert/equal_test.ts
Labels: assert

#6176 docs(log): improve logger.ts docs
  _tools/check_docs.ts
  log/logger.ts
Labels: log

#6179 test(bytes): fix typo in test description
  bytes/index_of_needle_test.ts
  bytes/last_index_of_needle_test.ts
Labels: bytes

#6180 fix(http): do not serve dot files when `showDotfiles=false`
  http/file_server.ts
  http/file_server_test.ts
Labels: http

#6181 chore: update FileInfo fixture
  http/etag_test.ts
  http/file_server_test.ts
Labels: http

#6183 chore(log): do not exec file handler examples in CI
  log/file_handler.ts
Labels: log

#6122 feat(csv/unstable): infer column names from object arrays for stringify()
  _tools/check_docs.ts
  csv/deno.json
  csv/stringify_test.ts
  csv/unstable_stringify.ts
  csv/unstable_stringify_test.ts
Labels: csv

#6188 fix(toml): parsing positive time zone offset
  toml/_parser.ts
  toml/parse_test.ts
  toml/testdata/datetime.toml
Labels: toml

#6185 BREAKING(archive): remove std/archive package
  .github/dependency_graph.svg
  .github/labeler.yml
  .github/workflows/title.yml
  README.md
  _tools/check_circular_package_dependencies.ts
  _tools/check_docs.ts
  archive/_common.ts
  archive/_multi_reader.ts
  archive/_test_utils.ts
  archive/deno.json
  archive/mod.ts
  archive/tar.ts
  archive/tar_test.ts
  archive/testdata/deno.tar
  archive/testdata/example.txt
  archive/testdata/with_link.tar
  archive/untar.ts
  archive/untar_test.ts
  browser-compat.tsconfig.json
  deno.json
  import_map.json
Labels: archive

#6199 fix(tar): untar checksum calculation for the pax format
  tar/untar_stream.ts
  tar/untar_stream_test.ts
Labels: tar

#6190 feat(cli/unstable): add `promptSelect()`
  cli/unstable_prompt_select.ts
  cli/unstable_prompt_select_test.ts
Labels: cli

#6210 docs(assert): add note and example for Blob comparison
  assert/equals.ts
Labels: assert

#6212 feat(cli/unstable): export `/unstable-prompt-select`
  cli/deno.json
Labels: cli

#6215 refactor(cli): rewrite `promptSelect()` clear commands
  cli/unstable_prompt_select.ts
  cli/unstable_prompt_select_test.ts
Labels: cli

#6204 fix(text): use locale-independent letter case methods (#6016)
  text/_util.ts
  text/_util_test.ts
  text/to_camel_case.ts
  text/to_kebab_case.ts
  text/to_snake_case.ts
  text/unstable_to_constant_case.ts
Labels: text

#6216 fix(dotenv): handle multiline variables on Windows
  dotenv/parse.ts
  dotenv/parse_test.ts
  dotenv/testdata/.env.test
Labels: dotenv

#6218 fix(http): handle HEAD requests in serveFile
  http/file_server.ts
  http/file_server_test.ts
Labels: http
