Repository denoland/std, pull requests merged in 2024-05, with the labels that each got.

#4665 docs(bytes): update API doc of lastIndexOfNeedle
  bytes/last_index_of_needle.ts
Labels: bytes

#4668 docs(bytes): fix return type description for `concat()`
  bytes/concat.ts
Labels: bytes

#4662 fix(cli): spinner support NO_COLOR
  cli/spinner.ts
Labels: cli

#4669 chore: run `@example` JSDoc code snippets
  _tools/check_docs.ts
  bytes/repeat.ts
Labels: bytes

#4664 docs(collections): complete documentation
  _tools/check_docs.ts
  collections/aggregate_groups.ts
  collections/associate_by.ts
  collections/associate_with.ts
  collections/chunk.ts
  collections/deep_merge.ts
  collections/distinct.ts
  collections/distinct_by.ts
  collections/drop_last_while.ts
  collections/drop_while.ts
  collections/filter_entries.ts
  collections/filter_keys.ts
  collections/filter_values.ts
  collections/find_single.ts
  collections/first_not_nullish_of.ts
  collections/includes_value.ts
  collections/intersect.ts
  collections/join_to_string.ts
  collections/map_entries.ts
  collections/map_keys.ts
  collections/map_not_nullish.ts
  collections/map_values.ts
  collections/max_by.ts
  collections/max_of.ts
  collections/max_with.ts
  collections/min_by.ts
  collections/min_of.ts
  collections/min_with.ts
  collections/omit.ts
  collections/partition.ts
  collections/partition_entries.ts
  collections/permutations.ts
  collections/pick.ts
  collections/reduce_groups.ts
  collections/running_reduce.ts
  collections/sample.ts
  collections/sliding_windows.ts
  collections/sort_by.ts
  collections/sum_of.ts
  collections/take_last_while.ts
  collections/take_while.ts
  collections/union.ts
  collections/unzip.ts
  collections/without_all.ts
  collections/zip.ts
  deno.json
Labels: collections

#4679 test(assert): improve test coverage
  assert/assert_almost_equals_test.ts
  assert/assert_array_includes_test.ts
  assert/assert_equals_test.ts
  assert/assert_exists_test.ts
  assert/assert_instance_of_test.ts
  assert/assert_is_error.ts
  assert/assert_is_error_test.ts
  assert/assert_match_test.ts
  assert/assert_not_equals_test.ts
  assert/assert_not_instance_of_test.ts
  assert/assert_not_match_test.ts
  assert/assert_object_match.ts
  assert/assert_object_match_test.ts
  assert/assert_rejects.ts
  assert/assert_rejects_test.ts
  assert/assert_strict_equals_test.ts
  assert/assert_string_includes_test.ts
  assert/assert_throws.ts
  assert/assert_throws_test.ts
  assert/equal.ts
  assert/equal_test.ts
  assert/unimplemented_test.ts
  expect/_assert_equals_test.ts
  expect/_to_equal_test.ts
  internal/diff.ts
Labels: assert, expect

#4680 feat(log): make `FileHandler` and `RotatingFileHandler` buffer size configurable
  log/file_handler.ts
Labels: log

#4682 fix(collections): correct error class when `chunk()` throws
  collections/chunk.ts
  collections/chunk_test.ts
Labels: collections

#4683 chore(assert,fmt,fs,internal,path): skip yanked versions manually
  assert/deno.json
  fmt/deno.json
  fs/deno.json
  internal/deno.json
  path/deno.json
Labels: fmt, fs, path, assert

#4691 docs(bytes,collections): fix doc checker and documentation
  _tools/check_docs.ts
  bytes/concat.ts
  bytes/copy.ts
  bytes/ends_with.ts
  bytes/equals.ts
  bytes/includes_needle.ts
  bytes/index_of_needle.ts
  bytes/last_index_of_needle.ts
  bytes/repeat.ts
  bytes/starts_with.ts
  collections/drop_last_while.ts
  collections/reduce_groups.ts
  collections/running_reduce.ts
  collections/sample.ts
Labels: bytes, collections

#4696 docs(collections): finalize module documentation
  collections/mod.ts
Labels: collections

#4700 fix(expect): don't swallow the original error while creating assertion error
  expect/_build_message.ts
  expect/_constants.ts
Labels: expect

#4701 fix(assert): don't swallow the original error while creating assertion error
  assert/_constants.ts
  assert/assert_equals.ts
  assert/assert_equals_test.ts
  assert/assert_not_equals.ts
  assert/assert_not_equals_test.ts
  assert/assert_strict_equals.ts
  assert/assert_strict_equals_test.ts
Labels: assert

#4709 test(net): improve test coverage
  net/get_available_port_test.ts
Labels: net

#4711 chore(expect): fix future `no-slow-type` lint errors with expando properties
  expect/expect.ts
  testing/bdd.ts
Labels: testing, expect

#4712 refactor(collections): sort exports in `mod.ts`
  collections/mod.ts
Labels: collections

#4715 fix(assert): handle `assertStrictEquals(-0, +0)` correctly
  assert/assert_strict_equals.ts
  assert/assert_strict_equals_test.ts
Labels: assert

#4710 feat(collections): add `invert()` and `invertBy()`
  collections/deno.json
  collections/invert.ts
  collections/invert_by.ts
  collections/invert_by_test.ts
  collections/invert_test.ts
  collections/mod.ts
Labels: collections

#4713 test(cli): `Spinner` tests
  _tools/check_licence.ts
  cli/spinner_test.ts
  cli/testdata/spinner_cases/change_message.ts
  cli/testdata/spinner_cases/custom_color_black.ts
  cli/testdata/spinner_cases/custom_color_blue.ts
  cli/testdata/spinner_cases/custom_color_cyan.ts
  cli/testdata/spinner_cases/custom_color_gray.ts
  cli/testdata/spinner_cases/custom_color_green.ts
  cli/testdata/spinner_cases/custom_color_magenta.ts
  cli/testdata/spinner_cases/custom_color_red.ts
  cli/testdata/spinner_cases/custom_color_white.ts
  cli/testdata/spinner_cases/custom_color_yellow.ts
  cli/testdata/spinner_cases/custom_interval_10.ts
  cli/testdata/spinner_cases/custom_interval_750.ts
  cli/testdata/spinner_cases/custom_message.ts
  cli/testdata/spinner_cases/custom_spinner.ts
  cli/testdata/spinner_cases/set_color.ts
  cli/testdata/spinner_cases/start.ts
  cli/testdata/spinner_cases/stop.ts
Labels: cli

#4718 chore(assert): revert "handle `assertStrictEquals(-0, +0)` correctly"
  assert/assert_strict_equals.ts
  assert/assert_strict_equals_test.ts
Labels: assert

#4719 test(cli): reduce flakiness of spinner test
  cli/spinner_test.ts
Labels: cli

#4724 docs(assert): document `assertStrictEquals()` equality comparison behavior
  assert/assert_strict_equals.ts
Labels: assert

#4716 refactor(assert): vendor code from `fmt/colors.ts`
  assert/assert_equals_test.ts
  assert/assert_is_error.ts
  assert/assert_strict_equals.ts
  internal/build_message.ts
  internal/deno.json
  internal/format_test.ts
  internal/mod.ts
  internal/styles.ts
  internal/styles_test.ts
Labels: assert

#4731 docs(media-types): polish documentation
  _tools/check_docs.ts
  deno.json
  media_types/content_type.ts
  media_types/extension.ts
  media_types/extensions_by_type.ts
  media_types/format_media_type.ts
  media_types/get_charset.ts
  media_types/mod.ts
  media_types/parse_media_type.ts
  media_types/type_by_extension.ts
Labels: media_types

#4738 test(cli): reduce flakiness of spinner test
  cli/spinner_test.ts
  cli/testdata/spinner_cases/set_color.ts
Labels: cli

#4742 test(encoding): improve test coverage
  encoding/base32_test.ts
  encoding/base58_test.ts
Labels: encoding

#4745 chore(bytes): release `bytes@1.0.0-rc.2`
  bytes/deno.json
Labels: bytes

#4743 refactor(media-types): minor cleanups
  media_types/_db.ts
  media_types/_util.ts
  media_types/extension.ts
  media_types/format_media_type.ts
  media_types/get_charset.ts
  media_types/parse_media_type.ts
  media_types/type_by_extension.ts
Labels: media_types

#4749 refactor(uuid): factor out common symbols into `common` module
  uuid/common.ts
  uuid/common_test.ts
  uuid/constants.ts
  uuid/deno.json
  uuid/mod.ts
Labels: uuid

#4753 chore(fmt,fs,path,internal): skip yanked version manually
  fmt/deno.json
  fs/deno.json
  internal/deno.json
  path/deno.json
Labels: fmt, fs, path

#4758 refactor(assert,internal): rename `diffstr()` to `diffStr()`
  assert/assert_equals.ts
  assert/assert_strict_equals.ts
  expect/_build_message.ts
  internal/build_message.ts
  internal/diff_str.ts
  internal/diff_str_test.ts
  internal/mod.ts
Labels: assert, expect

#4750 fix(expect): updated error message for toContain
  expect/_matchers.ts
  expect/_to_contain_equal_test.ts
  expect/_to_contain_test.ts
Labels: expect

#4767 perf(bytes): skip doing extra work in some scenarios
  bytes/ends_with.ts
  bytes/index_of_needle.ts
  bytes/starts_with.ts
Labels: bytes

#4765 docs(collections): update module doc
  collections/mod.ts
Labels: collections

#4763 docs(collections): fix typos and improve example
  collections/associate_with.ts
  collections/chunk.ts
  collections/drop_last_while.ts
Labels: collections

#4697 chore(collections): `collections@1.0.0-rc.1`
  collections/deno.json
Labels: collections

#4776 fix(media-types): do not expose vendored json file as public API
  media_types/deno.json
Labels: media_types

#4777 docs(csv,encoding,http,json,media-types,uuid): use `rfc-editor.org` for RFC links
  csv/csv_parse_stream.ts
  csv/mod.ts
  encoding/ascii85.ts
  encoding/base32.ts
  encoding/base64.ts
  encoding/base64url.ts
  http/cookie.ts
  json/json_parse_stream.ts
  json/json_stringify_stream.ts
  media_types/format_media_type.ts
  media_types/parse_media_type.ts
  uuid/mod.ts
Labels: http, csv, json, encoding, media_types, uuid

#4768 test(bytes): add test for negative `start` index for `indexOfNeedle()`
  bytes/index_of_needle_test.ts
Labels: bytes

#4772 docs(collections,internal,media-types): use `@typeParam` tag instead of `@template`
  _tools/check_docs.ts
  collections/aggregate_groups.ts
  collections/associate_by.ts
  collections/associate_with.ts
  collections/chunk.ts
  collections/deep_merge.ts
  collections/distinct.ts
  collections/distinct_by.ts
  collections/drop_last_while.ts
  collections/drop_while.ts
  collections/filter_entries.ts
  collections/filter_keys.ts
  collections/filter_values.ts
  collections/find_single.ts
  collections/first_not_nullish_of.ts
  collections/includes_value.ts
  collections/intersect.ts
  collections/invert.ts
  collections/invert_by.ts
  collections/join_to_string.ts
  collections/map_entries.ts
  collections/map_keys.ts
  collections/map_not_nullish.ts
  collections/map_values.ts
  collections/max_by.ts
  collections/max_of.ts
  collections/max_with.ts
  collections/min_by.ts
  collections/min_of.ts
  collections/min_with.ts
  collections/omit.ts
  collections/partition.ts
  collections/partition_entries.ts
  collections/permutations.ts
  collections/pick.ts
  collections/reduce_groups.ts
  collections/running_reduce.ts
  collections/sample.ts
  collections/sliding_windows.ts
  collections/sort_by.ts
  collections/sum_of.ts
  collections/take_last_while.ts
  collections/take_while.ts
  collections/union.ts
  collections/unzip.ts
  collections/without_all.ts
  collections/zip.ts
  internal/diff.ts
  internal/types.ts
  media_types/content_type.ts
Labels: collections, media_types

#4744 chore(media-types): `media-types@1.0.0-rc.1`
  media_types/deno.json
Labels: media_types, stabilization

#4764 fix(msgpack): encode maps with null prototype
  msgpack/encode.ts
  msgpack/encode_test.ts
Labels: msgpack

#4747 feat(streams): `concatReadableStreams()`
  streams/concat_readable_streams.ts
  streams/concat_readable_streams_test.ts
  streams/deno.json
  streams/mod.ts
Labels: streams

#4787 chore(cli): remove outdated todo comment
  cli/spinner.ts
Labels: cli

#4782 chore: improve doc checker
  _tools/check_docs.ts
  deno.json
  media_types/extensions_by_type.ts
Labels: media-types

#4779 test(internal): improve test coverage
  internal/build_message.ts
  internal/build_message_test.ts
  internal/diff.ts
  internal/diff_str.ts
  internal/diff_str_test.ts
  internal/diff_test.ts
  internal/format_test.ts
  internal/styles_test.ts
Labels: internal

#4801 Revert "BREAKING(data-structures): hide private internals"
  data_structures/_binary_search_tree_internals.ts
  data_structures/binary_heap.ts
  data_structures/binary_heap_test.ts
  data_structures/binary_search_tree.ts
  data_structures/binary_search_tree_test.ts
  data_structures/comparators.ts
  data_structures/red_black_tree.ts
  data_structures/red_black_tree_test.ts
Labels: data-structures

#4796 docs(regexp): update module example to get full jsr score
  regexp/escape.ts
  regexp/mod.ts
Labels: regexp

#4811 docs(webgpu): improve docs for stabilization
  _tools/check_docs.ts
  deno.json
  webgpu/create_capture.ts
  webgpu/describe_texture_format.ts
  webgpu/row_padding.ts
  webgpu/texture_with_data.ts
Labels: webgpu

#4803 docs(async): improve docs for stabilization
  _tools/check_docs.ts
  async/abortable.ts
  async/deadline.ts
  async/debounce.ts
  async/delay.ts
  async/mux_async_iterator.ts
  async/pool.ts
  async/retry.ts
  async/tee.ts
  deno.json
  webgpu/create_capture.ts
  webgpu/texture_with_data.ts
Labels: async, webgpu

#4820 chore: Add a root module (`mod.ts`) to `@std/encoding`
  encoding/README.md
  encoding/deno.json
  encoding/mod.ts
Labels: encoding

#4823 chore: add `@example` title check to doc checker
  _tools/check_docs.ts
  async/abortable.ts
  async/deadline.ts
  async/debounce.ts
  async/delay.ts
  async/mux_async_iterator.ts
  async/pool.ts
  async/retry.ts
  async/tee.ts
  datetime/day_of_year.ts
  media_types/extensions_by_type.ts
  webgpu/create_capture.ts
  webgpu/describe_texture_format.ts
  webgpu/row_padding.ts
  webgpu/texture_with_data.ts
Labels: async, datetime, media-types, webgpu

#4793 docs(data-structures): improve documentation
  data_structures/binary_heap.ts
  data_structures/binary_search_tree.ts
  data_structures/comparators.ts
  data_structures/red_black_tree.ts
Labels: data-structures

#4814 fix: complete docs for std/jsonc
  _tools/check_docs.ts
  deno.json
  jsonc/parse.ts
Labels: jsonc

#4831 fix(msgpack): error on early end of data
  msgpack/decode.ts
  msgpack/decode_test.ts
Labels: msgpack

#4832 docs(msgpack): complete documentation of the package
  msgpack/decode.ts
  msgpack/encode.ts
  msgpack/mod.ts
Labels: msgpack

#4817 refactor(ini): move StringifyOptions to stringify.ts
  ini/ini_map.ts
  ini/stringify.ts
Labels: ini

#4825 docs(ulid): finish documentation
  .github/CONTRIBUTING.md
  .github/typos.toml
  _tools/check_docs.ts
  deno.json
  ulid/mod.ts
Labels: ulid

#4819 docs(ini): add missing doc comments
  ini/ini_map.ts
Labels: ini

#4812 docs(text): add module doc
  text/mod.ts
Labels: text

#4813 docs(http): improve docs for stabilization
  _tools/check_docs.ts
  http/cookie.ts
  http/etag.ts
  http/file_server.ts
  http/negotiation.ts
  http/server.ts
  http/server_sent_event_stream.ts
  http/status.ts
  http/unstable_signed_cookie.ts
  http/user_agent.ts
Labels: http

#4827 BREAKING(data-structures): hide private internals
  data_structures/_binary_search_tree_internals.ts
  data_structures/binary_heap.ts
  data_structures/binary_heap_test.ts
  data_structures/binary_search_tree.ts
  data_structures/binary_search_tree_test.ts
  data_structures/comparators.ts
  data_structures/red_black_tree.ts
  data_structures/red_black_tree_test.ts
Labels: data-structures

#4840 docs(http): don't run some examples in doc checker
  http/server.ts
Labels: http

#4844 test(cli): reduce the flakiness of `Spinner` test cases
  cli/spinner_test.ts
  cli/testdata/spinner_cases/change_message.ts
  cli/testdata/spinner_cases/set_color.ts
Labels: cli

#4833 chore: update dependency check tool
  _tools/check_circular_package_dependencies.ts
  http/server.ts
Labels: http

#4836 docs(expect): document methods and add examples
  _tools/check_docs.ts
  expect/_types.ts
  expect/expect.ts
  expect/fn.ts
  expect/mod.ts
Labels: expect

#4785 docs(cli): improve spinner.message document
  cli/spinner.ts
  cli/spinner_test.ts
Labels: cli

#4815 docs(cli): make check_docs pass
  _tools/check_docs.ts
  cli/parse_args.ts
  cli/prompt_secret.ts
  cli/spinner.ts
Labels: cli

#4816 fix(ini): remove unused `ParseOptions.assignment` property
  ini/ini_map.ts
Labels: ini

#4818 BREAKING(ini): remove internal `Formatting` type
  ini/ini_map.ts
  ini/ini_map_test.ts
Labels: ini

#4835 fix(cli): reduce flicker in spinner render function
  cli/spinner.ts
Labels: cli

#4837 docs(text): pass docs check
  _tools/check_docs.ts
  text/case.ts
  text/closest_string.ts
  text/compare_similarity.ts
  text/levenshtein_distance.ts
  text/word_similarity_sort.ts
Labels: text

#4838 docs(encoding): Cleanup and fix doc lints
  _tools/check_docs.ts
  encoding/ascii85.ts
  encoding/base32.ts
  encoding/base58.ts
  encoding/base64.ts
  encoding/base64url.ts
  encoding/hex.ts
  encoding/varint.ts
Labels: encoding

#4849 refactor(yaml): remove dead code
  yaml/_utils.ts
Labels: yaml

#4850 test(yaml): test float handling
  yaml/parse_test.ts
  yaml/stringify_test.ts
Labels: yaml

#4854 docs(encoding): fix typo in `ascii85.ts`
  encoding/ascii85.ts
Labels: encoding

#4847 docs(data-structures): enables doc lint of data-structures
  _tools/check_docs.ts
  data_structures/binary_heap.ts
  data_structures/binary_search_tree.ts
  data_structures/red_black_tree.ts
Labels: data-structures

#4846 docs(semver): improve docs
  _tools/check_docs.ts
  semver/can_parse.ts
  semver/compare.ts
  semver/difference.ts
  semver/equals.ts
  semver/format.ts
  semver/format_range.ts
  semver/greater_or_equal.ts
  semver/greater_than.ts
  semver/greater_than_range.ts
  semver/increment.ts
  semver/is_range.ts
  semver/is_semver.ts
  semver/less_or_equal.ts
  semver/less_than.ts
  semver/less_than_range.ts
  semver/less_than_range_test.ts
  semver/max_satisfying.ts
  semver/min_satisfying.ts
  semver/mod.ts
  semver/not_equals.ts
  semver/parse.ts
  semver/parse_range.ts
  semver/range_intersects.ts
  semver/range_intersects_test.ts
  semver/range_max.ts
  semver/range_min.ts
  semver/satisfies.ts
  semver/test_range.ts
  semver/try_parse.ts
  semver/try_parse_range.ts
  semver/types.ts
Labels: semver

#4789 docs(front-matter): improve docs for stabilization
  _tools/check_docs.ts
  front_matter/_test_utils.ts
  front_matter/_types.ts
  front_matter/any.ts
  front_matter/any_test.ts
  front_matter/create_extractor.ts
  front_matter/create_extractor_test.ts
  front_matter/json.ts
  front_matter/json_test.ts
  front_matter/mod.ts
  front_matter/test.ts
  front_matter/toml.ts
  front_matter/toml_test.ts
  front_matter/yaml.ts
  front_matter/yaml_test.ts
Labels: front-matter

#4852 docs(streams): improve docs for stabilization
  _tools/check_docs.ts
  streams/buffer.ts
  streams/byte_slice_stream.ts
  streams/concat_readable_streams.ts
  streams/delimiter_stream.ts
  streams/early_zip_readable_streams.ts
  streams/early_zip_readable_streams_test.ts
  streams/iterate_reader.ts
  streams/limited_bytes_transform_stream.ts
  streams/limited_bytes_transform_stream_test.ts
  streams/limited_transform_stream.ts
  streams/limited_transform_stream_test.ts
  streams/merge_readable_streams.ts
  streams/readable_stream_from_reader.ts
  streams/reader_from_iterable.ts
  streams/reader_from_stream_reader.ts
  streams/text_delimiter_stream.ts
  streams/text_delimiter_stream_test.ts
  streams/text_line_stream.ts
  streams/to_array_buffer.ts
  streams/to_blob.ts
  streams/to_json.ts
  streams/to_text.ts
  streams/to_transform_stream.ts
  streams/writable_stream_from_writer.ts
  streams/writer_from_stream_writer.ts
  streams/zip_readable_streams.ts
Labels: streams

#4863 test(encoding): use own `encodeHex()` and `decodeHex()`
  encoding/base32_test.ts
Labels: encoding

#4860 refactor(encoding): rename `_util.ts`
  encoding/_validate_binary_like.ts
  encoding/_validate_binary_like_test.ts
  encoding/ascii85.ts
  encoding/base32.ts
  encoding/base58.ts
  encoding/base64.ts
  encoding/hex.ts
Labels: encoding

#4862 refactor(encoding): remove unnecessary prefixes from private functions
  encoding/base32.ts
Labels: encoding

#4829 docs(fmt): improve API docs
  _tools/check_docs.ts
  fmt/bytes.ts
  fmt/colors.ts
  fmt/duration.ts
  fmt/printf.ts
Labels: fmt

#4790 docs(uuid): update module docs
  _tools/check_docs.ts
  _tools/check_mod_exports.ts
  deno.json
  uuid/common.ts
  uuid/constants.ts
  uuid/mod.ts
  uuid/v1.ts
  uuid/v3.ts
  uuid/v4.ts
  uuid/v5.ts
Labels: uuid

#4872 deprecation(uuid): rename `V1Options` to `GenerateOptions`
  uuid/v1.ts
Labels: uuid

#4875 test(uuid): add tests for invalid namespace UUID
  uuid/v3_test.ts
  uuid/v5_test.ts
Labels: uuid

#4880 deprecation(uuid): deprecate `v1.generate()` signature with `buf` and `offset` parameters
  uuid/v1.ts
Labels: uuid

#4874 fix(uuid): validate namespace UUIDs in `v3.generate()` and `v5.generate()`
  uuid/v3.ts
  uuid/v3_test.ts
  uuid/v5.ts
  uuid/v5_test.ts
Labels: uuid

#4878 docs(html): improve API docs
  _tools/check_docs.ts
  html/entities.ts
Labels: html

#4890 docs(http): added `--allow-sys` to file server example
  http/mod.ts
Labels: http

#4879 fix(net): check `scopeid === 0` in `getNetworkAddress()`
  net/get_network_address.ts
  net/get_network_address_test.ts
Labels: net

#4677 feat(net): `getNetworkAddress()`
  http/file_server.ts
  net/deno.json
  net/get_network_address.ts
  net/get_network_address_test.ts
  net/mod.ts
Labels: http, net

#4887 test(crypto): test node.js custom inspection of `KeyStack`
  crypto/unstable_keystack_test.ts
Labels: crypto

#4876 docs(assert): improve docs
  _tools/check_docs.ts
  assert/assert.ts
  assert/assert_almost_equals.ts
  assert/assert_array_includes.ts
  assert/assert_equals.ts
  assert/assert_exists.ts
  assert/assert_false.ts
  assert/assert_greater.ts
  assert/assert_greater_or_equal.ts
  assert/assert_instance_of.ts
  assert/assert_is_error.ts
  assert/assert_less.ts
  assert/assert_less_or_equal.ts
  assert/assert_match.ts
  assert/assert_not_equals.ts
  assert/assert_not_instance_of.ts
  assert/assert_not_match.ts
  assert/assert_not_strict_equals.ts
  assert/assert_object_match.ts
  assert/assert_rejects.ts
  assert/assert_strict_equals.ts
  assert/assert_string_includes.ts
  assert/assert_throws.ts
  assert/assertion_error.ts
  assert/equal.ts
  assert/fail.ts
  assert/unimplemented.ts
  assert/unreachable.ts
Labels: assert

#4799 docs(toml): lint `@std/toml` docs
  _tools/check_docs.ts
  toml/parse.ts
  toml/stringify.ts
Labels: toml

#4902 test(path): test `toNamespacedPath()`
  path/to_namespaced_path_test.ts
Labels: path

#4897 BREAKING(encoding): rename `MaxUInt64` to `MaxUint64`
  encoding/varint.ts
  encoding/varint_test.ts
Labels: encoding

#4896 BREAKING(encoding): rename `MaxVarInt` to `MaxVarint`
  encoding/varint.ts
  encoding/varint_test.ts
Labels: encoding

#4904 test(path): add test cases of `isAbsolute()`, `joinGlobs()`, and `common()`
  path/common_test.ts
  path/is_absolute_test.ts
  path/join_globs_test.ts
  path/posix/join_globs.ts
  path/windows/join_globs.ts
Labels: path

#4861 BREAKING(encoding): replace `Ascii85Options` with `EncodeAscii85Options` and `DecodeAscii85Options`
  encoding/ascii85.ts
  encoding/ascii85_test.ts
Labels: encoding

#4858 chore(encoding): release `encoding@1.0.0-rc.1`
  encoding/deno.json
Labels: encoding

#4907 refactor(crypto): cleanup redundant assertion in `timingSafeEqual()`
  .github/dependency_graph.svg
  crypto/timing_safe_equal.ts
Labels: crypto

#4855 docs(assert,cli,data-structures,expect,fmt,front-matter,html,http,jsonc,semver,streams,text,toml,webgpu): add snippet checks in module, function and class docs to doc checker
  _tools/check_docs.ts
  assert/mod.ts
  cli/mod.ts
  data_structures/mod.ts
  expect/mod.ts
  fmt/colors.ts
  fmt/printf.ts
  front_matter/mod.ts
  html/mod.ts
  http/mod.ts
  jsonc/mod.ts
  semver/mod.ts
  streams/mod.ts
  text/mod.ts
  toml/mod.ts
  webgpu/mod.ts
Labels: http, fmt, streams, front-matter, html, jsonc, semver, toml, assert, expect, text, cli, data-structures, webgpu

#4884 docs(crypto): improve docs
  _tools/check_docs.ts
  crypto/crypto.ts
  crypto/timing_safe_equal.ts
  crypto/unstable_keystack.ts
Labels: crypto

#4916 BREAKING(crypto): remove KeyStack
  crypto/deno.json
  crypto/mod.ts
  crypto/unstable_keystack.ts
  crypto/unstable_keystack_test.ts
Labels: crypto

#4919 BREAKING(crypto): remove deprecated APIs
  crypto/crypto.ts
Labels: crypto

#4912 chore(crypto): release `crypto@1.0.0-rc.1`
  crypto/deno.json
Labels: crypto

#4877 BREAKING(uuid): remove `v1.generate()` signature with `buf` and `offset` parameters and `number[]` return type
  uuid/_common.ts
  uuid/mod.ts
  uuid/v1.ts
  uuid/v1_test.ts
  uuid/v3.ts
  uuid/v5.ts
Labels: uuid

#4867 chore(uuid): release `uuid@1.0.0-rc.1`
  uuid/deno.json
  uuid/mod.ts
  uuid/v1.ts
Labels: uuid
