Repository denoland/std, pull requests merged in 2024-07, with the labels that each got.

#5193 fix(media-types): update `db.ts`
  deno.json
  media_types/_db.ts
  media_types/all_extensions_test.ts
  media_types/type_by_extension.ts
  media_types/type_by_extension_test.ts
  media_types/vendor/db.ts
  media_types/vendor/update.ts
Labels: media-types

#5201 fix(testing): Throw error eagerly when insufficient permissions are granted to write to snapshot file in update mode
  testing/__snapshots__/snapshot_test.ts.snap
  testing/snapshot.ts
  testing/snapshot_test.ts
Labels: testing

#5221 test(expect): improve `expect` test cases
  expect/_extend_test.ts
  expect/test.ts
Labels: expect

#5222 test(expect): add test of `iterableEquality`
  expect/_to_equal_test.ts
Labels: expect

#5225 refactor(yaml): consolidate `yaml/schema/*.ts` code into `yaml/_schema.ts`
  yaml/_schema.ts
  yaml/_state.ts
  yaml/parse.ts
  yaml/schema/core.ts
  yaml/schema/default.ts
  yaml/schema/extended.ts
  yaml/schema/failsafe.ts
  yaml/schema/json.ts
  yaml/schema/mod.ts
  yaml/stringify.ts
Labels: yaml

#5226 test(expect): test edge cases of matchers
  expect/_to_be_close_to_test.ts
  expect/_to_contain_equal_test.ts
  expect/_to_have_been_called_test.ts
  expect/_to_have_been_last_called_with_test.ts
  expect/_to_have_property_test.ts
Labels: expect

#5227 fix(expect): fix validation of nth param in `toHaveBeenNthCalledWith` matcher
  expect/_matchers.ts
  expect/_to_have_been_nth_called_with_test.ts
Labels: expect

#5223 BREAKING(yaml): remove `filename` option from `parse()` and `stringify()`
  yaml/_loader/loader.ts
  yaml/_loader/loader_state.ts
  yaml/_mark.ts
  yaml/parse.ts
Labels: yaml

#5200 chore: release `uuid@1.0.0`
  deno.json
  uuid/deno.json
Labels: uuid

#5230 test(yaml): test `stringify()` case when string encoded into hex sequences
  yaml/stringify_test.ts
Labels: yaml

#5235 chore(expect): release `expect@1.0.0-rc.1`
  deno.json
  expect/deno.json
Labels: expect

#5231 refactor(expect): remove `expect.addSnapshotSerializer(s)`
  expect/_snapshot_serializer.ts
  expect/_types.ts
  expect/expect.ts
Labels: expect

#5236 refactor(yaml): simplify schema
  yaml/_dumper/dumper_state.ts
  yaml/_loader/loader_state.ts
  yaml/_schema.ts
  yaml/_state.ts
  yaml/parse.ts
  yaml/stringify.ts
Labels: yaml

#5237 test(yaml): test `!!timestamp` type handling
  yaml/parse_test.ts
  yaml/stringify_test.ts
Labels: yaml

#5234 test(yaml): add test cases of handling ? mark in YAML
  yaml/parse_test.ts
Labels: yaml

#5173 BREAKING(json): remove `json` from module names
  json/_test_utils.ts
  json/deno.json
  json/mod.ts
  json/parse_stream.ts
  json/parse_stream_test.ts
  json/stringify_stream.ts
  json/stringify_stream_test.ts
Labels: json

#5238 chore(yaml): remove `example` folder
  yaml/example/dump.ts
  yaml/example/inout.ts
  yaml/example/parse.ts
  yaml/example/sample_document.ts
  yaml/example/sample_document.yml
Labels: yaml

#5229 BREAKING(yaml): remove `ParseOptions.legacy` option
  yaml/_loader/loader.ts
  yaml/_loader/loader_state.ts
  yaml/parse.ts
Labels: yaml

#5166 refactor(csv): minor cleanup
  csv/_io.ts
  csv/parse.ts
  csv/stringify.ts
  csv/stringify_stream.ts
Labels: csv

#5228 BREAKING(expect): remove special handling of Immutable.js objects
  expect/_utils.ts
Labels: expect

#5176 BREAKING(assert): remove `assert` from module names
  assert/almost_equals.ts
  assert/almost_equals_test.ts
  assert/array_includes.ts
  assert/array_includes_test.ts
  assert/deno.json
  assert/equals.ts
  assert/equals_test.ts
  assert/exists.ts
  assert/exists_test.ts
  assert/false.ts
  assert/false_test.ts
  assert/greater.ts
  assert/greater_or_equal.ts
  assert/greater_or_equal_test.ts
  assert/greater_test.ts
  assert/instance_of.ts
  assert/instance_of_test.ts
  assert/is_error.ts
  assert/is_error_test.ts
  assert/less.ts
  assert/less_or_equal.ts
  assert/less_or_equal_test.ts
  assert/less_test.ts
  assert/match.ts
  assert/match_test.ts
  assert/mod.ts
  assert/not_equals.ts
  assert/not_equals_test.ts
  assert/not_instance_of.ts
  assert/not_instance_of_test.ts
  assert/not_match.ts
  assert/not_match_test.ts
  assert/not_strict_equals.ts
  assert/not_strict_equals_test.ts
  assert/object_match.ts
  assert/object_match_test.ts
  assert/rejects.ts
  assert/rejects_test.ts
  assert/strict_equals.ts
  assert/strict_equals_test.ts
  assert/string_includes.ts
  assert/string_includes_test.ts
  assert/throws.ts
  assert/throws_test.ts
  expect/_to_have_been_called_test.ts
  http/file_server_test.ts
Labels: http, assert, expect

#5240 test(yaml): add `parse()` test for duplicate keys
  yaml/parse_test.ts
Labels: yaml

#5242 refactor(expect,testing): update `@std/assert` imports
  expect/_assert_equals.ts
  expect/_assert_not_equals.ts
  expect/_matchers.ts
  expect/_to_have_returned_with.ts
  expect/expect.ts
  testing/mock.ts
  testing/snapshot.ts
Labels: testing, expect

#5239 refactor(yaml): minor cleanups
  yaml/_dumper/dumper.ts
  yaml/_dumper/dumper_state.ts
  yaml/_loader/loader.ts
  yaml/_loader/loader_state.ts
  yaml/_mark.ts
  yaml/_type/bool.ts
  yaml/_type/float.ts
  yaml/_type/int.ts
  yaml/_type/omap.ts
  yaml/_type/pairs.ts
  yaml/_type/set.ts
Labels: yaml

#5244 chore(yaml): release `yaml@1.0.0-rc.1`
  deno.json
  yaml/deno.json
Labels: yaml

#5245 test(yaml): check handling of binary type
  yaml/parse_test.ts
  yaml/stringify_test.ts
Labels: yaml

#5247 refactor(yaml): remove `DirectiveHandler` type
  yaml/_loader/loader.ts
Labels: yaml

#5246 refactor(yaml): share char constants
  yaml/_chars.ts
  yaml/_dumper/dumper.ts
  yaml/_loader/loader.ts
Labels: yaml

#5249 refactor(yaml): add default options object
  yaml/_loader/loader.ts
Labels: yaml

#5252 refactor(yaml): remove inferred `Schema` type
  yaml/_schema.ts
Labels: yaml

#5248 refactor(yaml): add `sanitizeInput()` function
  yaml/_loader/loader.ts
Labels: yaml

#5250 refactor(yaml): replace chars and comments with constants
  yaml/_chars.ts
  yaml/_loader/loader.ts
Labels: yaml

#5251 test(yaml): test handling of boolean values
  yaml/parse_test.ts
  yaml/stringify_test.ts
Labels: yaml

#5253 test(yaml): add test of parsing !!int types
  yaml/parse_test.ts
Labels: yaml

#5261 refactor(yaml): add default options object
  yaml/_dumper/dumper.ts
Labels: yaml

#5259 refactor(yaml): merge `yaml/_loader/` files
  yaml/_loader/loader.ts
  yaml/_loader/loader_state.ts
Labels: yaml

#5260 refactor(yaml): merge `yaml/_dumper/` files
  yaml/_dumper/dumper.ts
  yaml/_dumper/dumper_state.ts
Labels: yaml

#5256 fix(yaml): fix `!!int` style variation handling in `stringfiy`
  yaml/_type.ts
  yaml/stringify.ts
  yaml/stringify_test.ts
Labels: yaml

#5255 refactor(yaml): make `readDocument()` and `readDocuments()` generator functions
  yaml/_loader/loader.ts
Labels: yaml

#5263 chore(front-matter): release `front-matter@1.0.0-rc.1`
  deno.json
  front_matter/deno.json
Labels: front-matter

#5267 test(assert): add "`assert()` throws if expr is falsy" test
  assert/assert_test.ts
Labels: assert

#5268 test(crypto): test `timingSafeEqual()` in handling `DataView`s
  crypto/timing_safe_equal_test.ts
Labels: crypto

#5270 refactor(yaml): move loader and dumper files
  yaml/_dumper.ts
  yaml/_loader.ts
  yaml/parse.ts
  yaml/stringify.ts
Labels: yaml

#5275 refactor(yaml): remove `State` class
  yaml/_dumper.ts
  yaml/_loader.ts
  yaml/_state.ts
Labels: yaml

#5266 BREAKING(front-matter): remove `createExtractor()`
  front_matter/_create_extractor.ts
  front_matter/_create_extractor_test.ts
  front_matter/any.ts
  front_matter/create_extractor.ts
  front_matter/deno.json
  front_matter/json.ts
  front_matter/mod.ts
  front_matter/toml.ts
  front_matter/types.ts
  front_matter/yaml.ts
Labels: front-matter

#5273 refactor(yaml): inline error functions as methods
  yaml/_loader.ts
Labels: yaml

#5274 refactor(yaml): simplify `sanitizeInput()`
  yaml/_loader.ts
Labels: yaml

#5271 refactor(yaml): simplify isWhiteSpaceOrEOL
  yaml/_loader.ts
Labels: yaml

#5262 refactor(yaml): replace `Type` class with interface
  yaml/_type.ts
  yaml/_type/binary.ts
  yaml/_type/bool.ts
  yaml/_type/float.ts
  yaml/_type/int.ts
  yaml/_type/map.ts
  yaml/_type/merge.ts
  yaml/_type/nil.ts
  yaml/_type/omap.ts
  yaml/_type/pairs.ts
  yaml/_type/regexp.ts
  yaml/_type/seq.ts
  yaml/_type/set.ts
  yaml/_type/str.ts
  yaml/_type/timestamp.ts
  yaml/_type/undefined.ts
Labels: yaml

#5276 refactor(yaml): add `peek()` and `next()` to `LoaderState`
  yaml/_loader.ts
Labels: yaml

#5280 fix(bytes,cli,collections,expect): add missing non-null assertions
  bytes/equals_test.ts
  cli/_run_length.ts
  collections/permutations.ts
  expect/_utils.ts
Labels: bytes, collections, expect, cli

#5278 test(fmt): add test cases for `printf()`
  fmt/printf_test.ts
Labels: fmt

#5283 test(yaml): add test for `ParseOptions.json` option
  yaml/parse_test.ts
Labels: yaml

#5284 refactor(yaml): remove first argument from `ParseOptions.onWarning`
  yaml/_loader.ts
  yaml/parse.ts
Labels: yaml

#5290 chore: temporarily disable canary
  .github/workflows/ci.yml
  .github/workflows/workspace_publish.yml
  testing/time.ts
Labels: testing

#5282 BREAKING(yaml): rename `ParseOptions.json` to `ParseOptions.allowDuplicateKeys`
  yaml/_loader.ts
  yaml/parse.ts
  yaml/parse_test.ts
Labels: yaml

#5286 BREAKING(yaml): rename `ParseOptions.noArrayIndent` to `ParseOptions.arrayIndent`
  yaml/_dumper.ts
  yaml/stringify.ts
Labels: yaml

#5287 BREAKING(yaml): rename `StringifyOptions.noCompatMode` to `StringifyOptions.compatMode`
  yaml/_dumper.ts
  yaml/stringify.ts
Labels: yaml

#5279 fix(fmt): fix the case when mantissa exceeds 10 by rounding and exponent is negative
  fmt/printf.ts
  fmt/printf_test.ts
Labels: fmt

#5292 fix(yaml): fix `StringifyOptions.noRefs`
  yaml/_dumper.ts
  yaml/stringify_test.ts
Labels: yaml

#5294 docs(assert): update `assertMatch` example
  assert/match.ts
  assert/not_match.ts
Labels: assert

#5295 docs(assert): improve `assertNotStrictEquals` example
  assert/not_strict_equals.ts
Labels: assert

#5299 refactor(csv): throw errors immediately
  csv/_io.ts
  csv/parse.ts
Labels: csv

#5298 refactor(csv): remove `runeCount()` function
  csv/_io.ts
  csv/parse.ts
Labels: csv

#5300 refactor(yaml): move char check functions
  yaml/_chars.ts
  yaml/_dumper.ts
  yaml/_loader.ts
Labels: yaml

#5301 refactor(yaml): rename `throwWarning()` to `dispatchWarning()`
  yaml/_loader.ts
Labels: yaml

#5303 refactor(yaml): remove repeat helper function
  yaml/_dumper.ts
  yaml/_loader.ts
  yaml/_mark.ts
  yaml/_utils.ts
Labels: yaml

#5304 test(csv): add grapheme length test
  csv/_io.ts
  csv/_shared.ts
  csv/parse.ts
  csv/parse_test.ts
Labels: csv

#5296 docs(assert): improve `assertObjectMatch` docs
  assert/object_match.ts
Labels: assert

#5302 refactor(yaml): add `readIndent()` method
  yaml/_loader.ts
Labels: yaml

#5297 refactor(csv): rename arguments, variables and loop
  csv/_io.ts
  csv/parse.ts
Labels: csv

#4989 chore(assert): release `assert@1.0.0`
  assert/deno.json
  deno.json
Labels: assert

#5311 refactor(yaml): cleanup `inspectNode()`
  yaml/_dumper.ts
Labels: yaml

#5312 refactor(yaml): replace `usedDuplicates()` array with `Set`
  yaml/_dumper.ts
Labels: yaml

#5308 fix(expect): make `.not` aware of whether is it is in async context
  expect/_types.ts
Labels: expect

#5310 refactor(yaml): rename util functions
  yaml/_dumper.ts
  yaml/_loader.ts
  yaml/_utils.ts
Labels: yaml

#5314 refactor(yaml): cleanup `mergeMappings()`
  yaml/_loader.ts
Labels: yaml

#5307 BREAKING(yaml): remove style aliases of `!!int` type
  yaml/_dumper.ts
  yaml/_type.ts
  yaml/_type/int.ts
  yaml/stringify_test.ts
Labels: yaml

#5320 BREAKING(path): remove `GlobToRegExpOptions`
  path/_common/glob_to_reg_exp.ts
  path/glob_to_regexp.ts
  path/posix/glob_to_regexp.ts
  path/windows/glob_to_regexp.ts
Labels: path

#5313 refactor(yaml): cleanup `detectType()`
  yaml/_dumper.ts
Labels: yaml

#5321 BREAKING(path): remove `FormatInputPathObject`
  path/_common/format.ts
  path/deno.json
  path/format.ts
  path/mod.ts
  path/parse.ts
  path/parse_format_test.ts
  path/posix/format.ts
  path/posix/mod.ts
  path/posix/parse.ts
  path/types.ts
  path/windows/format.ts
  path/windows/mod.ts
  path/windows/parse.ts
Labels: path

#5288 BREAKING(yaml): rename `StringifyOptions.noRefs` to `StringifyOptions.useAnchors`
  yaml/_dumper.ts
  yaml/stringify.ts
  yaml/stringify_test.ts
Labels: yaml

#5326 refactor(yaml): remove obsolete static `Schema.SCHEMA_DEFAULT` property
  yaml/_schema.ts
Labels: yaml

#5325 fix(front-matter): improve `extract` types
  front_matter/any.ts
  front_matter/json.ts
  front_matter/toml.ts
  front_matter/yaml.ts
Labels: front-matter

#5324 docs(yaml): improve documentation
  yaml/_dumper.ts
  yaml/mod.ts
  yaml/parse.ts
  yaml/stringify.ts
Labels: yaml

#5332 refactor(yaml): move `getObjectTypeString()`
  yaml/_dumper.ts
  yaml/_loader.ts
  yaml/_type/omap.ts
  yaml/_type/pairs.ts
  yaml/_utils.ts
Labels: yaml

#5334 BREAKING(front-matter): make `Extractor` helper type private
  front_matter/_create_extractor.ts
  front_matter/_types.ts
  front_matter/any.ts
  front_matter/json.ts
  front_matter/toml.ts
  front_matter/types.ts
  front_matter/yaml.ts
Labels: front-matter

#5339 refactor(toml): rename functions to camel case
  toml/_parser.ts
  toml/parse.ts
  toml/parse_test.ts
Labels: toml

#5336 refactor(yaml): simplify and rename `dropEndingNewline()`
  yaml/_dumper.ts
  yaml/_dumper_test.ts
Labels: yaml

#5328 refactor(yaml): simplify `YamlError`
  yaml/_error.ts
Labels: yaml

#5345 fix(fs): accept `exts` without leading period in `walk[Sync]()`
  fs/walk.ts
  fs/walk_test.ts
Labels: fs

#5343 refactor(toml): remove `Patterns` object
  toml/_parser.ts
Labels: toml

#5327 refactor(yaml): cleanup dead code in `Mark` class
  yaml/_mark.ts
Labels: yaml

#5342 refactor(toml): remove Utils object
  toml/_parser.ts
  toml/parse_test.ts
Labels: toml

#5344 perf(encoding): fix loop times in `encodeHex()`
  encoding/hex.ts
Labels: encoding

#5341 test(yaml): test block scalar output of stringify
  yaml/stringify_test.ts
Labels: yaml

#5348 chore(net): mark `getNetworkAddress()` unstable
  net/get_network_address.ts
Labels: net

#5350 test(yaml): add test cases of stringify
  yaml/stringify_test.ts
Labels: yaml

#5352 fix(testing): escape CR in snapshot files
  testing/__snapshots__/snapshot_test.ts.snap
  testing/snapshot.ts
  testing/snapshot_test.ts
Labels: testing

#5355 fix(testing): cause type error for async function as describe body
  testing/_test_suite.ts
  testing/bdd.ts
  testing/bdd_test.ts
Labels: testing

#5356 test(yaml): test parsing of single quoted scalars
  yaml/parse_test.ts
Labels: yaml

#5351 BREAKING(ini): make `IniMap` private
  ini/_ini_map.ts
  ini/_ini_map_test.ts
  ini/deno.json
  ini/mod.ts
  ini/parse.ts
  ini/parse_test.ts
  ini/stringify.ts
Labels: ini

#5359 docs(ini): link options interfaces to functions that use them
  ini/_ini_map.ts
  ini/parse.ts
  ini/stringify.ts
Labels: ini

#5357 chore(ini): release `ini@1.0.0-rc.1`
  deno.json
  ini/deno.json
Labels: ini

#5354 fix(http): allow deleting cookie with `secure`, `httpOnly` and `partitioned` attributes
  http/cookie.ts
  http/cookie_test.ts
Labels: http

#5306 refactor(yaml): remove `Any` type
  yaml/_dumper.ts
  yaml/_loader.ts
  yaml/_schema.ts
  yaml/_type.ts
  yaml/_type/binary.ts
  yaml/_type/float.ts
  yaml/_type/int.ts
  yaml/_type/map.ts
  yaml/_type/omap.ts
  yaml/_type/pairs.ts
  yaml/_type/regexp.ts
  yaml/_type/seq.ts
  yaml/_type/set.ts
  yaml/_utils.ts
Labels: yaml

#5338 refactor(toml): improve early returns
  toml/_parser.ts
Labels: toml

#5365 refactor(yaml): camelcase `iskey`
  yaml/_dumper.ts
Labels: yaml

#5368 docs(net): make `getNetworkAddress()` unstable status more prominent
  net/get_network_address.ts
Labels: net

#5366 docs(net): update docs for `getAvailablePort()`
  net/get_available_port.ts
  net/mod.ts
Labels: net

#5349 chore(net): release `net@1.0.0-rc.1`
  deno.json
  net/deno.json
Labels: net

#5367 BREAKING(front-matter): remove `unknown` from `Format` union type
  front_matter/_create_extractor.ts
  front_matter/_types.ts
  front_matter/test.ts
  front_matter/test_test.ts
Labels: front-matter

#5346 BREAKING(toml): throw `SyntaxError` in `parse()` instead of `TOMLParseError`
  toml/_parser.ts
  toml/parse_test.ts
Labels: toml

#5203 chore(path): release `path@1.0.0`
  deno.json
  path/deno.json
Labels: path

#4988 chore(html): release `html@1.0.0`
  deno.json
  html/deno.json
Labels: html

#5374 BREAKING(fmt): remove `stripColor`
  fmt/colors.ts
Labels: fmt

#5372 chore(fmt): release `fmt@1.0.0-rc.1`
  .github/dependency_graph.svg
  deno.json
  fmt/deno.json
Labels: fmt

#5373 docs(fmt): improve documentation
  fmt/README.md
  fmt/bytes.ts
  fmt/colors.ts
Labels: fmt

#5144 BREAKING(http): rename `Entity` to `ETagSource` and `calculate()` to `eTag()`
  http/etag.ts
  http/etag_test.ts
  http/file_server.ts
  http/file_server_test.ts
Labels: http

#5379 refactor(front-matter): replace regexp objects with maps
  front_matter/_create_extractor.ts
  front_matter/_formats.ts
  front_matter/test.ts
Labels: front-matter

#5347 BREAKING(csv): throw `TypeError` in `stringify()` instead of `StringifyError`
  csv/stringify.ts
  csv/stringify_stream_test.ts
  csv/stringify_test.ts
Labels: csv

#5383 docs(front-matter): fix description of `Extract`
  front_matter/types.ts
Labels: front-matter

#5381 fix(streams): toText() incorrect with multibyte strings in different chunks
  streams/to_text.ts
  streams/to_text_test.ts
Labels: streams

#5335 refactor(yaml): simplify `indentString()`
  yaml/_dumper.ts
  yaml/_dumper_test.ts
  yaml/stringify_test.ts
Labels: yaml

#5386 refactor(yaml): simplify `foldLine()`
  yaml/_dumper.ts
Labels: yaml

#5388 refactor(yaml): move state functions inside class
  yaml/_dumper.ts
Labels: yaml

#5391 refactor(yaml): extract and rename regexp constant
  yaml/_dumper.ts
Labels: yaml

#5392 refactor(yaml): replace `any` with `unknown` in `ResultType` constituents
  yaml/_loader.ts
Labels: yaml

#5393 refactor(yaml): replace `implicit` `any[]` type with `Type[]`
  yaml/_schema.ts
Labels: yaml

#5396 refactor(yaml): replace `keyNode` any type
  yaml/_loader.ts
Labels: yaml

#5397 refactor(yaml): correct `sortKeys` type
  yaml/_dumper.ts
Labels: yaml

#5398 refactor(yaml): correct `duplicate` and `usedDuplicates` types
  yaml/_dumper.ts
Labels: yaml

#5375 chore: use new format for workspaces and re-enable using Deno canary and v1.x
  .github/workflows/ci.yml
  .github/workflows/workspace_publish.yml
  _tools/utils.ts
  deno.json
  fs/empty_dir_test.ts
  fs/expand_glob_test.ts
  http/file_server_test.ts
Labels: http, fs

#5399 refactor(yaml): correct `testAmbiguousType` type
  yaml/_dumper.ts
Labels: yaml

#5385 fix(testing): throw error when async func is passed to describe
  testing/_test_suite.ts
  testing/bdd_test.ts
Labels: testing

#5378 refactor(front-matter): remove `createExtractor()`
  front_matter/_create_extractor.ts
  front_matter/_create_extractor_test.ts
  front_matter/_formats.ts
  front_matter/_shared.ts
  front_matter/any.ts
  front_matter/json.ts
  front_matter/toml.ts
  front_matter/yaml.ts
Labels: front-matter

#5407 test(log): cleaunp `TextDecoder` use
  log/file_handler_test.ts
  log/rotating_file_handler_test.ts
Labels: log

#5390 refactor(yaml): replace `indexOf()` tests with `includes()`
  yaml/_dumper.ts
  yaml/_type/float.ts
  yaml/_type/int.ts
Labels: yaml

#5394 refactor(yaml): make `Type` generic
  yaml/_schema.ts
  yaml/_type.ts
  yaml/_type/binary.ts
  yaml/_type/bool.ts
  yaml/_type/float.ts
  yaml/_type/int.ts
  yaml/_type/map.ts
  yaml/_type/merge.ts
  yaml/_type/nil.ts
  yaml/_type/omap.ts
  yaml/_type/regexp.ts
  yaml/_type/seq.ts
  yaml/_type/set.ts
  yaml/_type/str.ts
  yaml/_type/timestamp.ts
  yaml/_type/undefined.ts
Labels: yaml

#4933 docs(cli,csv,datetime,fmt,fs,http,ini,semver,testing): assert optional properties on types/interfaces have `@default` tag
  _tools/check_docs.ts
  cli/parse_args.ts
  csv/parse.ts
  csv/parse_stream.ts
  csv/stringify_stream.ts
  datetime/format.ts
  fmt/bytes.ts
  fs/expand_glob.ts
  fs/walk.ts
  http/cookie.ts
  http/etag.ts
  http/file_server.ts
  ini/_ini_map.ts
  semver/types.ts
  testing/time.ts
Labels: testing, http, fmt, csv, fs, datetime, semver, cli, ini

#5412 refactor(yaml): remove obsolete export from `trimTrailingNewline()`
  yaml/_dumper.ts
Labels: yaml

#5414 test(testing): fix flakiness of snapshot test
  testing/__snapshots__/snapshot_test.ts.snap
  testing/snapshot_test.ts
Labels: testing

#5409 refactor(yaml): add writeNode options
  yaml/_dumper.ts
Labels: yaml

#5413 refactor(yaml): remove passing `this.dump` as method param
  yaml/_dumper.ts
Labels: yaml

#5411 refactor(yaml): rearrange constants and functions
  yaml/_dumper.ts
Labels: yaml

#5395 refactor(yaml): fix `onWarning` arg type
  yaml/_loader.ts
  yaml/parse.ts
Labels: yaml

#5415 refactor(collections): inline `randomInteger` utility function
  collections/_utils.ts
  collections/sample.ts
Labels: collections

#5210 chore(msgpack): release `msgpack@1.0.0`
  deno.json
  msgpack/deno.json
Labels: msgpack

#5422 docs(data-structures): get all `@link` nodes working
  data_structures/binary_heap.ts
  data_structures/binary_search_tree.ts
Labels: data-structures

#5205 chore(data-structures): release `data-structures@1.0.0`
  data_structures/deno.json
  deno.json
Labels: data-structures
