Repository denoland/std, pull requests merged in 2024-09, with the labels that each got.

#5889 fix(io): don't use `Deno.Buffer` in examples
  io/buf_reader.ts
  io/read_int.ts
  io/read_long.ts
  io/read_short.ts
Labels: io

#5881 test(yaml): add positive timezone timestamp test
  yaml/parse_test.ts
Labels: yaml

#5877 refactor(yaml): simplify merge type
  yaml/_type/merge.ts
Labels: yaml

#4548 feat(archive): `UntarStream` and `TarStream`
  archive/deno.json
  archive/mod.ts
  archive/tar_stream.ts
  archive/tar_stream_test.ts
  archive/untar_stream.ts
  archive/untar_stream_test.ts
Labels: archive

#5874 test(yaml): add invalid `represent` type test
  yaml/_dumper_state.ts
  yaml/stringify_test.ts
Labels: yaml

#5878 refactor(yaml): simplify seq type
  yaml/_type/seq.ts
Labels: yaml

#5879 refactor(yaml): cleanup str type
  yaml/_type/str.ts
Labels: yaml

#5886 refactor(yaml): cleanup utility functions
  yaml/_dumper_state.ts
Labels: yaml

#5873 fix(yaml): fix `sortKey` error message
  yaml/_dumper_state.ts
  yaml/stringify_test.ts
Labels: yaml

#5885 refactor(yaml): simplify `stringifyBlockMapping()`
  yaml/_dumper_state.ts
Labels: yaml

#5896 fix(yaml): handle float number instances
  yaml/_type/float.ts
  yaml/stringify_test.ts
Labels: yaml

#5895 fix(yaml): handle integer number instances
  yaml/_type/int.ts
  yaml/stringify_test.ts
Labels: yaml

#5893 fix(async,csv,fmt): assign default value when `undefined` is passed
  async/retry.ts
  async/retry_test.ts
  csv/_io.ts
  csv/parse_stream.ts
  csv/parse_stream_test.ts
  fmt/duration.ts
  fmt/duration_test.ts
Labels: async, fmt, csv

#5894 fix(yaml): handle Boolean instances
  yaml/_type/bool.ts
  yaml/stringify_test.ts
Labels: yaml

#5898 refactor(yaml): switch array test
  yaml/_dumper_state.ts
Labels: yaml

#5897 fix(yaml): handle string instances
  yaml/_dumper_state.ts
  yaml/stringify_test.ts
Labels: yaml

#5887 feat(uuid/unstable): `@std/uuid/v7`
  _tools/check_mod_exports.ts
  uuid/deno.json
  uuid/mod.ts
  uuid/v7.ts
  uuid/v7_test.ts
Labels: uuid

#5900 feat(path/unstable): support `URL` as 1st arg of `basename()`
  path/basename.ts
  path/basename_test.ts
  path/posix/basename.ts
  path/windows/basename.ts
Labels: path

#5902 feat(path/unstable): support file `URL` arg in `normalize()`
  path/normalize.ts
  path/normalize_test.ts
  path/posix/normalize.ts
  path/windows/normalize.ts
Labels: path

#5892 refactor(archive,async,cli,csv,dotenv,encoding,expect,fmt,front-matter,fs,http,internal,log,net,path,semver,testing,text,webgpu,yaml): enable `"exactOptionalPropertyTypes"` option
  archive/tar.ts
  archive/untar.ts
  archive/untar_stream.ts
  archive/untar_test.ts
  async/retry_test.ts
  cli/parse_args_test.ts
  cli/spinner.ts
  csv/parse.ts
  csv/parse_stream_test.ts
  csv/parse_test.ts
  csv/stringify_stream.ts
  deno.json
  dotenv/parse.ts
  encoding/base58.ts
  expect/_assert_equals.ts
  expect/_assert_not_equals.ts
  expect/_build_message.ts
  expect/_equal.ts
  expect/_utils.ts
  fmt/bytes.ts
  fmt/bytes_test.ts
  fmt/duration_test.ts
  fmt/printf.ts
  front_matter/_shared.ts
  fs/expand_glob.ts
  fs/walk.ts
  http/_negotiation/common.ts
  http/_negotiation/encoding.ts
  http/_negotiation/language.ts
  http/_negotiation/media_type.ts
  http/cookie.ts
  http/file_server.ts
  http/user_agent.ts
  internal/diff.ts
  log/file_handler.ts
  log/logger.ts
  log/setup.ts
  net/get_network_address.ts
  path/_common/format.ts
  semver/increment.ts
  semver/increment_test.ts
  testing/_test_suite.ts
  testing/bdd.ts
  testing/mock.ts
  testing/mock_test.ts
  testing/snapshot.ts
  text/_util.ts
  webgpu/describe_texture_format.ts
  webgpu/texture_with_data.ts
  yaml/_loader_state.ts
  yaml/parse.ts
  yaml/stringify.ts
Labels: testing, async, http, fmt, csv, fs, archive, dotenv, encoding, front-matter, log, path, semver, yaml, expect, text, cli, net, internal, webgpu

#5904 fix(path/unstable): support `string | URL` in the 2nd overload of `basename`, `dirname`, and `extname`
  path/basename.ts
  path/dirname.ts
  path/extname.ts
  path/posix/basename.ts
  path/posix/dirname.ts
  path/posix/extname.ts
  path/posix/join.ts
  path/windows/basename.ts
  path/windows/dirname.ts
  path/windows/extname.ts
  path/windows/join.ts
Labels: path

#5907 docs(url): update deprecation docs
  url/basename.ts
  url/dirname.ts
  url/extname.ts
  url/join.ts
  url/normalize.ts
Labels: url

#5905 feat(tar/unstable): `@std/tar`
  _tools/check_circular_package_dependencies.ts
  _tools/check_docs.ts
  archive/deno.json
  archive/mod.ts
  browser-compat.tsconfig.json
  deno.json
  import_map.json
  tar/deno.json
  tar/mod.ts
  tar/tar_stream.ts
  tar/tar_stream_test.ts
  tar/untar_stream.ts
  tar/untar_stream_test.ts
Labels: archive, tar

#5910 feat(data-structures/unstable): `@std/data-structures/bidirectional-map`
  data_structures/bidirectional_map.ts
  data_structures/bidirectional_map_test.ts
  data_structures/deno.json
  data_structures/mod.ts
Labels: data-structures

#5918 fix(http): show hostname as 'localhost' for 0.0.0.0 on windows
  http/file_server.ts
Labels: http

#5917 refactor(http): inline `serveFallback()` util
  http/file_server.ts
Labels: http

#5913 perf(assert): add fast path for primitive keyed collections in `equal()`
  assert/equal.ts
  assert/equal_test.ts
Labels: assert

#5921 refactor(assert): remove unnecessary `getValFromKeyedCollection()`
  assert/equal.ts
Labels: assert

#5914 fix(assert): value-equal complex keys
  assert/equal.ts
  assert/equal_test.ts
Labels: assert

#5923 refactor(assert,expect): import internal APIs from more specific paths
  assert/equals.ts
  assert/strict_equals.ts
  expect/_build_message.ts
Labels: assert, expect

#5924 fix(http): invalid ipv6 hostname printed to console
  http/file_server.ts
Labels: http

#5930 feat(io): add `Seeker[Sync]` interfaces
  io/types.ts
Labels: io

#5931 BREAKING(url): remove `@std/url`
  _tools/check_circular_package_dependencies.ts
  _tools/check_docs.ts
  deno.json
  import_map.json
  url/_strip.ts
  url/basename.ts
  url/basename_test.ts
  url/deno.json
  url/dirname.ts
  url/dirname_test.ts
  url/extname.ts
  url/extname_test.ts
  url/join.ts
  url/join_test.ts
  url/mod.ts
  url/normalize.ts
  url/normalize_test.ts
Labels: url

#5935 test: use `Deno.errors.NotCapable` where appropriate
  dotenv/mod_test.ts
  fs/ensure_dir_test.ts
  fs/ensure_file_test.ts
  fs/ensure_symlink_test.ts
  fs/expand_glob_test.ts
  internal/_is_deno_2.ts
Labels: fs, dotenv, internal

#5934 perf(expect): add fast path for primitive keyed collections in `equal()`
  expect/_equal.ts
  expect/_equal_test.ts
Labels: expect

#5928 refactor(assert): move unstable `assertNever` under `@std/assert/unstable-never`
  _tools/check_mod_exports.ts
  assert/deno.json
  assert/mod.ts
  assert/unstable_never.ts
  assert/unstable_never_test.ts
Labels: assert

#5936 fix(expect): value-equal complex keys in `expect.equal()`
  expect/_equal.ts
  expect/_equal_test.ts
Labels: expect

#5937 refactor(uuid): move UUID v7 APIs to `./unstable-v7`
  uuid/deno.json
  uuid/mod.ts
  uuid/unstable_v7.ts
  uuid/unstable_v7_test.ts
Labels: uuid

#5938 refactor(http): move unstable APIs (header, method, signed-cookie)
  http/deno.json
  http/file_server.ts
  http/mod.ts
  http/unstable_header.ts
  http/unstable_header_test.ts
  http/unstable_method.ts
  http/unstable_method_test.ts
  http/unstable_signed_cookie.ts
  http/unstable_signed_cookie_test.ts
Labels: http

#5941 fix(net): skip empty mac address for `getNetworkAddress()`
  net/get_network_address.ts
Labels: net

#5945 chore: cleanup `IS_DENO_2` constant
  internal/_is_deno_2.ts
Labels: internal

#5943 refactor(archive,io): use `Seeker[Sync]` from `@std/io/types`
  archive/untar.ts
  io/read_range.ts
  io/read_range_test.ts
Labels: archive, io

#5939 BREAKING(http/unstable): move `route` to `./unstable-route`
  http/deno.json
  http/mod.ts
  http/unstable_route.ts
  http/unstable_route_test.ts
Labels: http

#5946 BREAKING(cli/unstable): move `spinner` module to `unstable-spinner`
  _tools/check_docs.ts
  cli/deno.json
  cli/mod.ts
  cli/testdata/spinner_cases/change_message.ts
  cli/testdata/spinner_cases/custom_color_black.ts
  cli/testdata/spinner_cases/custom_color_blue.ts
  cli/testdata/spinner_cases/custom_color_cyan.ts
  cli/testdata/spinner_cases/custom_color_gray.ts
  cli/testdata/spinner_cases/custom_color_green.ts
  cli/testdata/spinner_cases/custom_color_magenta.ts
  cli/testdata/spinner_cases/custom_color_red.ts
  cli/testdata/spinner_cases/custom_color_white.ts
  cli/testdata/spinner_cases/custom_color_yellow.ts
  cli/testdata/spinner_cases/custom_interval_10.ts
  cli/testdata/spinner_cases/custom_interval_750.ts
  cli/testdata/spinner_cases/custom_message.ts
  cli/testdata/spinner_cases/custom_spinner.ts
  cli/testdata/spinner_cases/set_color.ts
  cli/testdata/spinner_cases/start.ts
  cli/testdata/spinner_cases/stop.ts
  cli/unstable_spinner.ts
  cli/unstable_spinner_test.ts
Labels: cli

#5947 BREAKING(data-structures/unstable): move `bidirectional-map` module to `unstable-bidirectional-map`
  _tools/check_docs.ts
  data_structures/deno.json
  data_structures/mod.ts
  data_structures/unstable_bidirectional_map.ts
  data_structures/unstable_bidirectional_map_test.ts
Labels: data-structures

#5940 chore: lint docs of unstable paths
  _tools/check_docs.ts
  uuid/unstable_v7.ts
Labels: uuid

#5948 BREAKING(html/unstable): move `is-valid-custom-element-name` module to `unstable-is-valid-custom-element-name`
  _tools/check_docs.ts
  html/deno.json
  html/mod.ts
  html/unstable_is_valid_custom_element_name.ts
  html/unstable_is_valid_custom_element_name_test.ts
Labels: html

#5950 BREAKING(streams/unstable): move `to-lines` module to `unstable-to-lines`
  _tools/check_docs.ts
  streams/deno.json
  streams/mod.ts
  streams/unstable_to_lines.ts
  streams/unstable_to_lines_test.ts
Labels: streams

#5949 BREAKING(net/unstable): move `get-network-address` module to `unstable-get-network-address`
  _tools/check_docs.ts
  http/file_server.ts
  net/deno.json
  net/mod.ts
  net/unstable_get_network_address.ts
  net/unstable_get_network_address_test.ts
Labels: http, net

#5951 BREAKING(streams/unstable): move `fixed-chunk-stream` module to `unstable-fixed-chunk-stream`
  _tools/check_docs.ts
  streams/deno.json
  streams/mod.ts
  streams/unstable_fixed_chunk_stream.ts
  streams/unstable_fixed_chunk_stream_test.ts
  tar/untar_stream.ts
Labels: streams, tar

#5952 BREAKING(text/unstable): move `to-constant-case` module to `unstable-to-constant-case`
  _tools/check_docs.ts
  text/deno.json
  text/mod.ts
  text/unstable_to_constant_case.ts
  text/unstable_to_constant_case_test.ts
Labels: text

#5954 BREAKING(path/unstable): move unstable overload of `dirname` to `unstable-dirname`
  _tools/check_docs.ts
  path/deno.json
  path/dirname.ts
  path/dirname_test.ts
  path/posix/dirname.ts
  path/posix/unstable_dirname.ts
  path/unstable_dirname.ts
  path/windows/dirname.ts
  path/windows/unstable_dirname.ts
Labels: path

#5955 BREAKING(encoding/unstable): move `base32-stream` module to `unstable-base32-stream`
  _tools/check_docs.ts
  encoding/deno.json
  encoding/mod.ts
  encoding/unstable_base32_stream.ts
  encoding/unstable_base32_stream_test.ts
Labels: encoding

#5956 BREAKING(encoding/unstable): move `base32hex-stream` module to `unstable-base32hex-stream`
  _tools/check_docs.ts
  encoding/deno.json
  encoding/mod.ts
  encoding/unstable_base32hex_stream.ts
  encoding/unstable_base32hex_stream_test.ts
Labels: encoding

#5958 BREAKING(encoding/unstable): move `base64-stream` module to `unstable-base64-stream`
  _tools/check_docs.ts
  encoding/deno.json
  encoding/mod.ts
  encoding/unstable_base64_stream.ts
  encoding/unstable_base64_stream_test.ts
Labels: encoding

#5960 BREAKING(encoding/unstable): move `hex-stream` module to `unstable-hex-stream`
  _tools/check_docs.ts
  encoding/deno.json
  encoding/mod.ts
  encoding/unstable_hex_stream.ts
  encoding/unstable_hex_stream_test.ts
Labels: encoding

#5963 test(net): add test of `getNetworkAddress()`
  net/unstable_get_network_address_test.ts
Labels: net

#5926 fix(collections): ensure `pick` doesn't generate missing properties as `undefined`
  collections/pick.ts
  collections/pick_test.ts
Labels: collections

#5961 BREAKING(encoding/unstable): move `base32hex` module to `unstable-base32hex`
  _tools/check_docs.ts
  encoding/deno.json
  encoding/mod.ts
  encoding/unstable_base32hex.ts
  encoding/unstable_base32hex_stream.ts
  encoding/unstable_base32hex_stream_test.ts
  encoding/unstable_base32hex_test.ts
Labels: encoding

#5953 BREAKING(text/unstable): move `slugify` module to `unstable-slugify`
  _tools/check_docs.ts
  text/deno.json
  text/mod.ts
  text/unstable_slugify.ts
  text/unstable_slugify_test.ts
Labels: text

#5959 BREAKING(encoding/unstable): move `base64url-stream` module to `unstable-base64url-stream`
  _tools/check_docs.ts
  encoding/deno.json
  encoding/mod.ts
  encoding/unstable_base64url_stream.ts
  encoding/unstable_base64url_stream_test.ts
Labels: encoding

#5964 BREAKING(path/unstable): move unstable overload of `join` to `unstable-join`
  _tools/check_docs.ts
  path/deno.json
  path/join.ts
  path/join_test.ts
  path/posix/join.ts
  path/posix/unstable_join.ts
  path/unstable_join.ts
  path/windows/join.ts
  path/windows/unstable_join.ts
Labels: path

#5967 docs(path): add note about `unstable-join`
  path/join.ts
  path/posix/join.ts
  path/windows/join.ts
Labels: path

#5975 chore: enable `no-console` lint rule
  _tools/check_browser_compat.ts
  _tools/check_circular_package_dependencies.ts
  _tools/check_deprecation.ts
  _tools/check_docs.ts
  _tools/check_import_map.ts
  _tools/check_licence.ts
  _tools/check_mod_exports.ts
  _tools/packages.ts
  _tools/release/01_bump_version.ts
  _tools/release/02_create_pr.ts
  _tools/release/03_release.ts
  async/delay.ts
  cli/_tools/generate_data.ts
  crypto/testdata/digest_large_inputs.ts
  crypto/testdata/digest_many_calls.ts
  datetime/_date_time_formatter.ts
  deno.json
  dotenv/load.ts
  dotenv/parse.ts
  dotenv/stringify.ts
  dotenv/testdata/app_defaults.ts
  dotenv/testdata/app_load.ts
  dotenv/testdata/app_load_child.ts
  fs/empty_dir_test.ts
  fs/testdata/empty_dir.ts
  fs/testdata/empty_dir_sync.ts
  fs/testdata/expand_wildcard.js
  http/cookie.ts
  http/file_server.ts
  http/testdata/file_server_as_library.ts
  log/console_handler.ts
  testing/snapshot.ts
Labels: testing, async, http, fs, crypto, datetime, dotenv, log, cli

#5981 fix(cache,data-structures): add missing non-null assertion and `override` keyword
  cache/lru_cache.ts
  data_structures/unstable_bidirectional_map.ts
Labels: data-structures

#5980 fix(tar): update to `0.1.1`
  import_map.json
  tar/deno.json
Labels: tar

#5994 docs(testing): fix typo in snapshot
  testing/snapshot.ts
Labels: testing

#5995 docs(archive,log,testing): correct typos
  archive/mod.ts
  archive/tar.ts
  log/mod.ts
  testing/__snapshots__/snapshot_test.ts.snap
  testing/bdd_test.ts
  testing/snapshot.ts
  testing/snapshot_test.ts
Labels: testing, archive, log

#5983 docs(fs): clarify permissions requirements for `exists[Sync]()`
  fs/exists.ts
Labels: fs

#5988 deprecation(archive/unstable): deprecate `@std/archive`
  archive/_common.ts
  archive/mod.ts
  archive/tar.ts
  archive/untar.ts
Labels: archive

#5990 deprecation(io/unstable): deprecate `readLines()`
  io/read_lines.ts
Labels: io

#5992 deprecation(io/unstable): deprecate `copyN()`
  io/copy_n.ts
Labels: io

#6000 deprecation(io/unstable): deprecate `readStringDelim()`
  io/read_string_delim.ts
Labels: io

#5978 fix(assert): accept abstract classes
  assert/instance_of.ts
  assert/instance_of_test.ts
  assert/is_error.ts
  assert/is_error_test.ts
  assert/not_instance_of.ts
  assert/not_instance_of_test.ts
  assert/rejects.ts
  assert/rejects_test.ts
  assert/throws.ts
  assert/throws_test.ts
Labels: assert

#6002 deprecation(io/unstable): deprecate `sliceLongToBytes()`
  io/slice_long_to_bytes.ts
Labels: io

#5973 docs(log): document `warn` module
  _tools/check_docs.ts
  log/logger.ts
  log/warn.ts
Labels: log

#6003 feat(http/unstable): add support for multiple request methods on route
  http/unstable_route.ts
  http/unstable_route_test.ts
Labels: http

#6008 deprecation(io/unstable): deprecate `readShort()`
  io/read_short.ts
Labels: io

#6009 deprecation(io/unstable): deprecate `readInt()`
  io/read_int.ts
Labels: io

#6010 deprecation(io/unstable): deprecate `readRange()`
  io/read_range.ts
Labels: io

#6011 feat(streams/unstable): `toBytes()`
  _tools/check_docs.ts
  streams/deno.json
  streams/unstable_to_bytes.ts
  streams/unstable_to_bytes_test.ts
Labels: streams

#6007 deprecation(io/unstable): deprecate `readLong()`
  io/read_long.ts
Labels: io

#5901 fix(expect): support `expect.hasAssertions()`
  expect/_assertion.ts
  expect/_assertion_test.ts
  expect/expect.ts
  expect/mod.ts
  internal/assertion_state.ts
  internal/assertion_state_test.ts
  internal/deno.json
  internal/mod.ts
  testing/bdd.ts
Labels: testing, expect, internal

#6028 docs(archive): update `@std/archive` deprecation notices
  archive/_common.ts
  archive/mod.ts
  archive/tar.ts
  archive/untar.ts
Labels: archive

#6014 fix(text): handle code points > U+FFFF in `levenshteinDistance`
  text/levenshtein_distance.ts
  text/levenshtein_distance_test.ts
Labels: text

#6029 fix(http): use non-locale-sensitive string methods for comparison
  http/_negotiation/encoding.ts
  http/cookie.ts
  http/cookie_test.ts
  http/negotiation_test.ts
Labels: http

#6033 fix(http): make `file-server` work on Deno Deploy
  http/file_server.ts
Labels: http

#5919 feat(collections/unstable): support iterators in `sortBy()`
  collections/deno.json
  collections/sort_by.ts
  collections/sort_by_test.ts
  collections/unstable_sort_by.ts
Labels: collections

#6022 deprecation(io/unstable): deprecate `readDelim()`
  io/read_delim.ts
Labels: io

#6023 deprecation(io/unstable): deprecate `MultiReader`
  io/multi_reader.ts
Labels: io

#6025 deprecation(io/unstable): deprecate `StringReader`
  io/string_reader.ts
Labels: io

#6026 deprecation(io/unstable): deprecate `StringWriter`
  io/string_writer.ts
Labels: io

#6027 deprecation(io/unstable): deprecate `BufReader`
  io/buf_reader.ts
Labels: io

#6021 docs(io): update deprecation notices
  io/copy_n.ts
  io/read_int.ts
  io/read_lines.ts
  io/read_long.ts
  io/read_range.ts
  io/read_short.ts
  io/read_string_delim.ts
  io/slice_long_to_bytes.ts
Labels: io

#5925 feat(collections/unstable): `Iterable` argument in `chunk()`
  collections/deno.json
  collections/unstable_chunk.ts
  collections/unstable_chunk_test.ts
Labels: collections

#6041 deprecation(io): deprecate `BufWriter`
  io/buf_writer.ts
Labels: io

#6031 feat(collections/unstable): support Iterable argument in `withoutAll()`
  collections/deno.json
  collections/unstable_without_all.ts
  collections/unstable_without_all_test.ts
Labels: collections

#6035 feat(collections/unstable): support `Iterable` argument in `sample()`
  collections/deno.json
  collections/unstable_sample.ts
  collections/unstable_sample_test.ts
Labels: collections

#6020 chore: bump to `internal@1.0.4`
  import_map.json
  internal/deno.json
Labels: internal

#6034 docs(archive): clarify deprecation notices
  archive/_common.ts
  archive/mod.ts
  archive/tar.ts
  archive/untar.ts
Labels: archive

#6045 docs(http/unstable): add example for multiple request methods on route
  http/mod.ts
  http/unstable_route.ts
Labels: http

#5991 BREAKING(io): remove `readLines()`
  io/deno.json
  io/mod.ts
  io/read_lines.ts
  io/read_lines_test.ts
Labels: io

#5999 BREAKING(io): remove `copyN()`
  io/copy_n.ts
  io/copy_n_test.ts
  io/deno.json
  io/mod.ts
  io/multi_reader_test.ts
  io/string_writer.ts
  io/string_writer_test.ts
Labels: io

#6005 BREAKING(io/unstable): remove `sliceLongToBytes()`
  io/deno.json
  io/mod.ts
  io/slice_long_to_bytes.ts
  io/slice_long_to_bytes_test.ts
Labels: io

#6049 BREAKING(io): remove `readRange[Sync]()`
  io/deno.json
  io/mod.ts
  io/read_range.ts
  io/read_range_test.ts
Labels: io

#6001 BREAKING(io): remove `readStringDelim()`
  io/deno.json
  io/mod.ts
  io/read_string_delim.ts
  io/read_string_delim_test.ts
Labels: io

#6047 BREAKING(io): remove `readLong()`
  io/deno.json
  io/mod.ts
  io/read_long.ts
  io/read_long_test.ts
Labels: io

#6048 BREAKING(io): remove `readInt()`
  io/deno.json
  io/mod.ts
  io/read_int.ts
  io/read_int_test.ts
Labels: io

#6050 BREAKING(io): remove `readShort()`
  io/deno.json
  io/mod.ts
  io/read_short.ts
  io/read_short_test.ts
Labels: io

#6056 BREAKING(io): remove `BufReader`
  archive/_common.ts
  io/buf_reader.ts
  io/buf_reader_test.ts
  io/deno.json
  io/mod.ts
Labels: archive, io

#6057 BREAKING(io): remove `BufWriter`
  io/buf_writer.ts
  io/buf_writer_test.ts
  io/deno.json
  io/mod.ts
Labels: io

#6052 BREAKING(io): remove `readDelim()`
  io/deno.json
  io/mod.ts
  io/read_delim.ts
Labels: io

#6058 BREAKING(io): remove `LimitedReader`
  io/deno.json
  io/limited_reader.ts
  io/limited_reader_test.ts
  io/mod.ts
Labels: io

#6059 BREAKING(io): remove `MultiReader`
  archive/_multi_reader.ts
  archive/tar.ts
  io/deno.json
  io/mod.ts
  io/multi_reader.ts
  io/multi_reader_test.ts
Labels: archive, io

#6061 BREAKING(io): remove `StringWriter`
  io/deno.json
  io/mod.ts
  io/string_writer.ts
  io/string_writer_test.ts
Labels: io

#6062 BREAKING(io): remove `StringReader`
  io/buffer.ts
  io/deno.json
  io/mod.ts
  io/string_reader.ts
  io/string_reader_test.ts
Labels: io

#5974 fix(log): ensure consistent behavior with `@std/log`
  log/critical.ts
  log/critical_test.ts
  log/debug.ts
  log/debug_test.ts
  log/error.ts
  log/error_test.ts
  log/info.ts
  log/info_test.ts
  log/warn.ts
  log/warn_test.ts
Labels: log

#6066 docs(log): document pass-through functions
  _tools/check_docs.ts
  log/critical.ts
  log/debug.ts
  log/error.ts
  log/info.ts
  log/warn.ts
Labels: log

#6068 chore: remove redundant `BinaryReader` test class
  io/_test_common.ts
Labels: io

#6067 docs(log): document `BaseHandler`
  _tools/check_docs.ts
  log/base_handler.ts
  log/base_handler_test.ts
  log/levels.ts
  log/logger.ts
Labels: log

#6077 docs(log): correct the examples of `debug()`
  log/debug.ts
Labels: log

#6072 fix(log): remove leaky `ConsoleHandler.prototype.applyColors()`
  log/console_handler.ts
Labels: log

#6073 docs(log): document `formatters` module
  _tools/check_docs.ts
  log/formatters.ts
Labels: log

#6075 fix(expect): register extended matchers after native matchers
  expect/expect.ts
Labels: expect
