Repository denoland/std, pull requests merged in 2024-03, with the labels that each got.

#4415 fix(log): don't discard bytes >4096 in `FileHandler`
  log/file_handler.ts
  log/file_handler_test.ts
  log/rotating_file_handler_test.ts
Labels: log

#4387 chore(semver): move comparator functions into range files
  semver/_comparator_intersects.ts
  semver/_comparator_intersects_test.ts
  semver/_comparator_max.ts
  semver/_comparator_min.ts
  semver/_format_comparator.ts
  semver/_is_comparator.ts
  semver/_is_comparator_test.ts
  semver/_parse_comparator.ts
  semver/comparator_test.ts
  semver/format_range.ts
  semver/is_range.ts
  semver/is_range_test.ts
  semver/parse_range.ts
  semver/range_intersects.ts
  semver/range_intersects_test.ts
  semver/range_max.ts
  semver/range_min.ts
  semver/test_range_test.ts
Labels: semver

#4432 chore(async): add missing code snippet tags
  async/deadline.ts
  async/debounce.ts
  async/retry.ts
Labels: async

#4428 fix(fs): `expandGlob()` test after workspace conversion
  fs/expand_glob_test.ts
Labels: fs

#4427 fix(fs): `emptyDir()` test after workspace conversion
  fs/empty_dir_test.ts
  fs/testdata/empty_dir.ts
  fs/testdata/empty_dir_sync.ts
Labels: fs

#4412 feat(expect): support `expect.extend()` api
  expect/_equal.ts
  expect/_extend.ts
  expect/_extend_test.ts
  expect/_types.ts
  expect/expect.ts
Labels: expect

#4375 refactor(semver): improve `parseRange()` logic
  semver/parse_range.ts
Labels: semver

#4440 chore: enable `camelcase` lint rule
  _tools/check_circular_submodule_dependencies.ts
  deno.json
  dotenv/parse.ts
  encoding/base58.ts
  url/basename_test.ts
  url/dirname_test.ts
  url/extname_test.ts
  url/join_test.ts
  url/normalize_test.ts
Labels: dotenv, encoding, url

#4439 docs(assert): add module example
  assert/mod.ts
Labels: assert

#4286 fix(expect): fix custom equality test case
  expect/_custom_equality_tester_test.ts
  expect/_matchers.ts
  expect/_utils.ts
Labels: expect

#4414 fix(path): fix common() results that depend on the order and/or number of input paths
  path/_common/common.ts
  path/common_test.ts
Labels: path

#4443 chore(cli): prepare for `noUncheckedIndexedAccess`
  cli/parse_args.ts
Labels: cli

#4446 refactor(expect): use `===` instead of `==`
  expect/_asymmetric_matchers.ts
Labels: expect

#4422 [unstable] BREAKING(semver): remove `reverseSort()`
  semver/mod.ts
  semver/reverse_sort.ts
  semver/reverse_sort_test.ts
Labels: semver

#4423 [unstable] BREAKING(semver): remove deprecated operators
  semver/_constants.ts
  semver/constants.ts
  semver/parse_range_test.ts
  semver/range_intersects.ts
  semver/range_max.ts
  semver/range_min.ts
  semver/test_range.ts
  semver/types.ts
Labels: semver

#4450 [unstable] BREAKING(semver): remove `gtr()` and `ltr()`
  semver/gtr.ts
  semver/gtr_test.ts
  semver/ltr.ts
  semver/ltr_test.ts
  semver/mod.ts
Labels: semver

#4453 docs(http): prepare for `noUncheckedIndexedAccess`
  http/unstable_signed_cookie.ts
Labels: http

#4458 docs(path): add examples for posix basename, dirname and extname
  path/posix/basename.ts
  path/posix/dirname.ts
  path/posix/extname.ts
Labels: path

#4445 refactor(uuid): prepare for `noUncheckedIndexedAccess`
  uuid/mod.ts
  uuid/v1.ts
  uuid/v1_test.ts
  uuid/v3.ts
  uuid/v5.ts
Labels: uuid

#4457 refactor(yaml): prepare for `noUncheckedIndexedAccess`
  yaml/_dumper/dumper.ts
  yaml/_dumper/dumper_state.ts
  yaml/_loader/loader.ts
  yaml/_type/binary.ts
  yaml/_type/float.ts
  yaml/_type/pairs.ts
  yaml/_type/timestamp.ts
  yaml/schema.ts
Labels: yaml

#4467 docs(cli): add missing documentation
  cli/mod.ts
  cli/prompt_secret.ts
  cli/spinner.ts
Labels: cli

#4466 docs(bytes): module docs
  bytes/mod.ts
Labels: bytes

#4465 docs(async): add module example
  async/mod.ts
Labels: async

#4463 refactor(archive): various cleanups
  archive/_common.ts
  archive/tar.ts
  archive/untar.ts
Labels: archive

#4464 refactor(expect): prepare for `noUncheckedIndexedAccess`
  expect/expect.ts
Labels: expect

#4461 chore: fix "Wasm" casing
  .github/workflows/ci.yml
  crypto/crypto.ts
Labels: crypto

#4462 docs(archive): further documentation
  archive/_common.ts
  archive/mod.ts
  archive/tar.ts
  archive/untar.ts
Labels: archive

#4471 chore: enable `no-sync-fn-in-async-fn` lint rule
  deno.json
  fs/ensure_link_test.ts
  http/file_server_test.ts
  http/server.ts
Labels: http, fs

#4470 refactor(io): prepare for `noUncheckedIndexedAccess`
  io/buf_reader.ts
  io/buf_writer_test.ts
  io/read_delim.ts
  io/string_writer_test.ts
Labels: io

#4475 docs(collections): add module example
  collections/_utils.ts
  collections/mod.ts
Labels: collections

#4476 docs(crypto): add module example
  crypto/mod.ts
Labels: crypto

#4477 docs(data_structures): add module example
  data_structures/mod.ts
Labels: data_structures

#4479 refactor(http): use `cert` and `key` for `Deno.listenTls()`
  http/server.ts
Labels: http

#4482 refactor(log): prepare for `noUncheckedIndexedAccess`
  log/logger_test.ts
  log/test.ts
Labels: log

#4483 refactor(path): prepare for `noUncheckedIndexedAccess`
  path/basename_test.ts
  path/dirname_test.ts
  path/extname_test.ts
  path/relative_test.ts
Labels: path

#4413 refactor(io): format test names
  io/buf_reader_test.ts
  io/buf_writer_test.ts
  io/buffer_test.ts
Labels: io

#4485 Revert "refactor(cli): cleanup `parse_args.ts` (#4189)"
  cli/parse_args.ts
Labels: cli

#4488 chore: enable `single-var-declarator` lint rule
  assert/_diff.ts
  bytes/ends_with.ts
  bytes/starts_with.ts
  csv/stringify.ts
  deno.json
  encoding/ascii85.ts
  encoding/base64.ts
  encoding/varint.ts
  expect/_diff.ts
  path/_common/normalize_string.ts
  path/posix/join.ts
  testing/mock.ts
  yaml/_dumper/dumper.ts
  yaml/_loader/loader.ts
  yaml/_mark.ts
Labels: testing, csv, bytes, encoding, path, yaml, assert, expect

#4490 fix(tar): leak in `Tar() checks directory entry type` test
  archive/tar_test.ts
Labels: archive

#4489 docs(path): add more details to `ParsedPath` and other examples
  path/_interface.ts
  path/basename.ts
  path/format.ts
  path/parse.ts
  path/windows/basename.ts
Labels: path

#4487 refactor(cli): reland cleanup `parse_args.ts`
  cli/parse_args.ts
  cli/parse_args_test.ts
Labels: cli

#4496 docs(datetime): add module doc
  datetime/mod.ts
Labels: datetime

#4498 docs(media_types): module doc
  media_types/mod.ts
Labels: media_types

#4499 refactor(front_matter): cleanup `_formats.ts`
  front_matter/_formats.ts
  front_matter/create_extractor.ts
  front_matter/test.ts
Labels: front_matter

#4504 chore(crypto): upgrade to `rust@1.76.0` and `2021` edition
  .github/workflows/ci.yml
  crypto/_wasm/Cargo.toml
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.mjs
  crypto/_wasm/rust-toolchain.toml
Labels: crypto

#4505 docs(front_matter): cleanup and improve docs
  crypto/crypto.ts
  front_matter/any.ts
  front_matter/json.ts
  front_matter/mod.ts
  front_matter/test.ts
  front_matter/toml.ts
  front_matter/yaml.ts
Labels: crypto, front_matter

#4513 chore: fix lint error in canary
  archive/untar.ts
Labels: archive

#4512 fix(expect/assert): missing constructor equality check
  expect/_equal.ts
  expect/_equal_test.ts
Labels: expect

#4510 refactor(crypto): removed unused code from Wasm build
  crypto/_wasm/Cargo.toml
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.d.mts
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.mjs
  crypto/_wasm/mod.ts
  crypto/_wasm/src/digest.rs
  crypto/_wasm/src/lib.rs
Labels: crypto

#4507 fix(yaml): speciously restrictive type for `stringify()`
  yaml/stringify.ts
  yaml/stringify_test.ts
Labels: yaml

#4516 chore(crypto): switch Wasm crate's sha-1 dependency to sha1 to reflect rename by maintainer
  crypto/_wasm/Cargo.lock
  crypto/_wasm/Cargo.toml
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.mjs
Labels: crypto

#4509 docs(console): improve documentation
  console/mod.ts
  console/unicode_width.ts
Labels: console

#4518 docs(http): fix default algorithm for etag in docs
  http/etag.ts
Labels: http

#4515 fix(crypto): move FNV hashes from TypeScript to Rust/Wasm and implement iteration functionality
  crypto/_benches/bench.ts
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.mjs
  crypto/_wasm/mod.ts
  crypto/_wasm/src/digest.rs
  crypto/_wasm/src/fnv.rs
  crypto/_wasm/src/lib.rs
  crypto/crypto.ts
  crypto/crypto_test.ts
Labels: crypto

#4508 feat(expect): add `expect.{closeTo, stringContaining, stringMatching}`
  expect/_asymmetric_matchers.ts
  expect/_close_to_test.ts
  expect/_equal.ts
  expect/_string_containing_test.ts
  expect/_string_matching_test.ts
  expect/expect.ts
  expect/mod.ts
Labels: expect

#4521 docs(datetime): polish documentation
  datetime/constants.ts
  datetime/day_of_year.ts
  datetime/difference.ts
  datetime/format.ts
  datetime/is_leap.ts
  datetime/mod.ts
  datetime/parse.ts
  datetime/week_of_year.ts
Labels: datetime

#4522 chore(datetime): rename `_common.ts` to `_date_time_formatter.ts`
  datetime/_date_time_formatter.ts
  datetime/format.ts
  datetime/parse.ts
Labels: datetime

#4527 chore(fs): remove `test.ts`
  fs/test.ts
Labels: fs

#4528 fix(fs): `SubdirectoryMoveError` extends `Error` correctly
  fs/move.ts
  fs/walk.ts
Labels: fs

#4526 docs(fs): polish documentation
  fs/copy.ts
  fs/empty_dir.ts
  fs/ensure_dir.ts
  fs/ensure_file.ts
  fs/ensure_link.ts
  fs/ensure_symlink.ts
  fs/eol.ts
  fs/exists.ts
  fs/expand_glob.ts
  fs/mod.ts
  fs/move.ts
  fs/walk.ts
Labels: fs

#4530 chore(crypto): upgrade dependencies
  .github/workflows/ci.yml
  crypto/_wasm/Cargo.lock
  crypto/_wasm/Cargo.toml
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.mjs
  crypto/_wasm/rust-toolchain.toml
  deno.json
Labels: crypto

#4533 [unstable] BREAKING(semver): remove comparator.semver field
  semver/constants.ts
  semver/format.ts
  semver/format_range.ts
  semver/is_range.ts
  semver/is_range_test.ts
  semver/parse_range.ts
  semver/parse_range_test.ts
  semver/range_max.ts
  semver/range_min.ts
  semver/test_range.ts
  semver/types.ts
Labels: semver

#4525 deprecation(crypto): rename an export to match style guide, deprecating original and two other obsolete imports
  crypto/_benches/bench.ts
  crypto/crypto.ts
  crypto/crypto_test.ts
Labels: crypto
