Repository denoland/std, pull requests merged in 2024-02, with the labels that each got.

#4257 deprecation(semver): postpone removals to 0.215.0
  semver/comparator_format.ts
  semver/comparator_intersects.ts
  semver/comparator_max.ts
  semver/comparator_min.ts
  semver/eq.ts
  semver/gt.ts
  semver/gte.ts
  semver/is_comparator.ts
  semver/lt.ts
  semver/lte.ts
  semver/neq.ts
  semver/parse_comparator.ts
  semver/range_format.ts
  semver/sort.ts
  semver/test_comparator.ts
  semver/try_parse_comparator.ts
Labels: semver

#4261 refactcor(dotenv): prepare for `noUncheckedIndexedAccess`
  dotenv/mod.ts
  dotenv/parse.ts
  dotenv/parse_test.ts
Labels: dotenv

#4254 refactor(log): refactor log codebase to adhere to singe-export files
  log/_config.ts
  log/_state.ts
  log/critical.ts
  log/debug.ts
  log/error.ts
  log/formatters.ts
  log/get_logger.ts
  log/info.ts
  log/mod.ts
  log/setup.ts
  log/warn.ts
Labels: log

#4259 BREAKING(path): remove `glob.ts` files
  fs/expand_glob.ts
  path/glob.ts
  path/glob_to_regexp.ts
  path/join_globs.ts
  path/normalize_glob.ts
  path/posix/glob.ts
  path/posix/join_globs.ts
  path/posix/normalize_glob.ts
  path/windows/glob.ts
  path/windows/join_globs.ts
  path/windows/normalize_glob.ts
Labels: fs, path

#4260 BREAKING(path): remove `separator.ts` files
  path/mod.ts
  path/posix/mod.ts
  path/posix/separator.ts
  path/separator.ts
  path/windows/mod.ts
Labels: path

#4264 BREAKING(semver): remove `sort()`
  semver/mod.ts
  semver/sort.ts
  semver/sort_test.ts
Labels: semver

#4265 BREAKING(semver): remove `rangeFormat()`
  semver/mod.ts
  semver/range_format.ts
Labels: semver

#4258 BREAKING(log): remove `WARNING` log level
  log/base_handler_test.ts
  log/console_handler.ts
  log/file_handler_test.ts
  log/levels.ts
  log/logger.ts
  log/logger_test.ts
  log/mod.ts
  log/mod_test.ts
  log/rotating_file_handler_test.ts
  log/test.ts
  log/warn.ts
Labels: log

#4267 chore(semver): postpone removal versions of some APIs
  semver/eq.ts
  semver/gt.ts
  semver/gte.ts
  semver/is_semver_range.ts
  semver/lt.ts
  semver/lte.ts
  semver/neq.ts
  semver/outside.ts
  semver/types.ts
Labels: semver

#4266 refactor(semver): cleanup comparison functions
  semver/comparator_intersects.ts
  semver/comparator_min.ts
  semver/constants.ts
  semver/gtr.ts
  semver/ltr.ts
  semver/max_satisfying.ts
  semver/min_satisfying.ts
  semver/outside.ts
  semver/range_max.ts
  semver/range_min.ts
  semver/range_min_test.ts
  semver/test_comparator.ts
  semver/test_range.ts
Labels: semver

#4268 refactor(collections): prepare for `noUncheckedIndexedAccess`
  collections/drop_last_while.ts
  collections/drop_while.ts
  collections/filter_keys.ts
  collections/map_keys.ts
  collections/map_keys_test.ts
  collections/permutations.ts
  collections/sort_by.ts
  collections/take_last_while.ts
  collections/take_while.ts
Labels: collections

#4269 refactor(console): prepare for `noUncheckedIndexedAccess`
  console/_run_length.ts
  console/unicode_width.ts
Labels: console

#4270 refactor(crypto): prepare for `noUncheckedIndexedAccess`
  crypto/crypto_test.ts
  crypto/unstable_keystack.ts
Labels: crypto

#4278 BREAKING(semver): remove `Comparator` functions
  semver/_comparator_format.ts
  semver/_comparator_intersects.ts
  semver/_comparator_intersects_test.ts
  semver/_comparator_max.ts
  semver/_comparator_min.ts
  semver/_is_comparator.ts
  semver/_is_comparator_test.ts
  semver/_parse_comparator.ts
  semver/comparator_test.ts
  semver/format_range.ts
  semver/is_range.ts
  semver/is_semver_range.ts
  semver/mod.ts
  semver/parse_range.ts
  semver/range_intersects.ts
  semver/range_max.ts
  semver/range_min.ts
  semver/test_comparator.ts
  semver/test_comparator_test.ts
  semver/test_range.ts
  semver/try_parse_comparator.ts
Labels: semver

#4228 deprecation(semver): deprecate `ltr()` and `gtr()`
  semver/gtr.ts
  semver/ltr.ts
Labels: semver

#4255 feat(expect): add `expect.addEqualityTesters` api.
  expect/_assert_equals.ts
  expect/_assert_not_equals.ts
  expect/_build_message.ts
  expect/_custom_equality_tester.ts
  expect/_custom_equality_tester_test.ts
  expect/_equal.ts
  expect/_matchers.ts
  expect/_types.ts
  expect/_utils.ts
  expect/expect.ts
Labels: expect

#4277 refactor(fs): prepare for `noUncheckedIndexedAccess`
  fs/expand_glob.ts
  fs/move_test.ts
  fs/testdata/empty_dir.ts
  fs/testdata/empty_dir_sync.ts
Labels: fs

#4283 docs(async): use `Array.fromAsync()` in `debounce()` example
  async/debounce.ts
Labels: async

#4280 deprecation(semver): deprecate `reverseSort()`
  semver/reverse_sort.ts
Labels: semver

#4287 refactor(expect): format test names
  expect/_assert_not_equals_test.ts
  expect/_diff_test.ts
  expect/_equal_test.ts
  expect/_to_be_instance_of_test.ts
  expect/_to_be_less_than_or_equal_test.ts
  expect/_to_equal_test.ts
  expect/_to_have_been_nth_called_with_test.ts
Labels: expect

#4293 BREAKING(semver): remove `outside()`
  semver/mod.ts
  semver/outside.ts
  semver/outside_test.ts
Labels: semver

#4285 feat(datetime): `format()` options
  datetime/format.ts
  datetime/format_test.ts
Labels: datetime

#4292 BREAKING(path): remove `path/windows/separator.ts`
  path/windows/mod.ts
  path/windows/separator.ts
Labels: path

#4294 BREAKING(semver): remove `eq()`, `gt()`, `gte()`, `lt()`, `lte()` and `neq()`
  _tools/check_deprecation.ts
  semver/eq.ts
  semver/gt.ts
  semver/gte.ts
  semver/lt.ts
  semver/lte.ts
  semver/mod.ts
  semver/neq.ts
Labels: semver

#4295 BREAKING(semver): remove `SemVerRange` and `isSemVerRange()`
  semver/_comparator_intersects_test.ts
  semver/format_range.ts
  semver/format_range_test.ts
  semver/gtr.ts
  semver/is_semver_range.ts
  semver/is_semver_range_test.ts
  semver/ltr.ts
  semver/max_satisfying.ts
  semver/min_satisfying.ts
  semver/mod.ts
  semver/parse_range.ts
  semver/range_intersects.ts
  semver/range_intersects_test.ts
  semver/range_max.ts
  semver/range_min.ts
  semver/range_min_test.ts
  semver/test_range.ts
  semver/try_parse_range.ts
  semver/types.ts
Labels: semver

#4189 refactor(cli): cleanup `parse_args.ts`
  cli/parse_args.ts
Labels: cli

#4303 docs(fmt/colors): warn that `dim` is incompatible accross terminals
  fmt/colors.ts
Labels: fmt

#4297 refactor(html): prepare for `noUncheckedIndexedAccess`
  html/entities.ts
Labels: html

#4314 fix(semver): return new object instance in `comparatorMin()` and `comparatorMax()`
  semver/_comparator_max.ts
  semver/_comparator_min.ts
Labels: semver

#4316 refactor(semver): simplify args for `comparatorMin()` and `comparatorMax()`
  semver/_comparator_intersects.ts
  semver/_comparator_max.ts
  semver/_comparator_min.ts
  semver/range_max.ts
  semver/range_min.ts
  semver/test_range.ts
Labels: semver

#4315 chore(semver): add tests for `rangeMax()`
  semver/range_max_test.ts
Labels: semver

#4324 docs(semver): remove obsolete docs
  semver/mod.ts
Labels: semver

#4328 docs(semver): fix arg names in jsdoc
  semver/compare.ts
Labels: semver

#4298 refactor(http): prepare for `noUncheckedIndexedAccess`
  http/_negotiation/encoding.ts
  http/_negotiation/language.ts
  http/_negotiation/media_type.ts
  http/cookie.ts
  http/file_server.ts
  http/server_test.ts
  http/user_agent.ts
Labels: http

#4335 refactor(ini): prepare for `noUncheckedIndexedAccess`
  ini/ini_map.ts
Labels: ini

#4337 doc: fix `std/path/posix` link
  path/mod.ts
Labels: path

#4334 chore(semver): align removal version of reverseSort to others
  semver/reverse_sort.ts
Labels: semver

#4338 chore(semver): align removal version
  semver/types.ts
Labels: semver

#4306 feat(testing): explicit resource management for `spy()` and `stub()`
  http/file_server_test.ts
  testing/bdd_test.ts
  testing/mock.ts
  testing/mock_test.ts
Labels: testing, http

#4339 chore(semver): rename range_test.ts
  semver/test_range_test.ts
Labels: semver

#4323 fix(semver): fix `prerelease` handlings in range utils
  semver/_comparator_intersects.ts
  semver/_shared.ts
  semver/range_intersects_test.ts
  semver/range_min_test.ts
  semver/test_range.ts
  semver/test_range_test.ts
Labels: semver

#4347 docs(media_types): fix erroneous docs in extensions_by_type.ts
  media_types/extensions_by_type.ts
Labels: media_types

#4350 fix(semver): fix parse_range for `>x.y` pattern
  semver/parse_range.ts
  semver/test_range_test.ts
Labels: semver

#4271 deprecation(semver): deprecate `==`, `===`, `!==`, and `""` operators
  semver/_comparator_format.ts
  semver/_comparator_max.ts
  semver/_comparator_min.ts
  semver/_constants.ts
  semver/_is_comparator.ts
  semver/_parse_comparator.ts
  semver/parse_range.ts
  semver/types.ts
Labels: semver

#4351 fix(media_types): load extensions when directly importing `extensionsByTypes()`
  media_types/extensions_by_type.ts
  media_types/extensions_by_type_test.ts
Labels: media_types

#4352 test(semver): add test for fix #4350
  semver/test_range_test.ts
Labels: semver

#4354 refactor(semver): prepare for `noUncheckedIndexedAccess`
  semver/_parse_comparator.ts
  semver/parse.ts
  semver/parse_range.ts
  semver/range_intersects.ts
Labels: semver

#4356 refactor(path): prepare for `noUncheckedIndexedAccess`
  path/_common/assert_path.ts
  path/_common/glob_to_reg_exp.ts
  path/posix/join.ts
  path/posix/resolve.ts
  path/windows/join.ts
  path/windows/resolve.ts
  path/windows/to_file_url.ts
Labels: path

#4367 chore(crypto): move test scripts to own files
  crypto/crypto_test.ts
  crypto/testdata/digest_large_inputs.ts
  crypto/testdata/digest_many_calls.ts
Labels: crypto

#4368 chore(http): fix spawned tests after migration script
  http/file_server_test.ts
Labels: http

#4345 test(semver): add test for parse_range
  semver/parse_range_test.ts
Labels: semver

#4373 refactor(semver): rename `comparatorFormat()` to `formatComparator()`
  semver/_format_comparator.ts
  semver/comparator_test.ts
  semver/format_range.ts
Labels: semver

#4372 chore(semver): move breaking versions
  semver/gtr.ts
  semver/ltr.ts
  semver/reverse_sort.ts
  semver/types.ts
Labels: semver

#4374 chore(semver): remove legacy `Range.ranges` object definition
  semver/parse_range.ts
Labels: semver

#4377 refactor(streams): prepare for `noUncheckedIndexedAccess`
  streams/_common.ts
  streams/delimiter_stream.ts
  streams/merge_readable_streams.ts
  streams/text_delimiter_stream.ts
Labels: streams

#4275 refactor(encoding): prepare for `noUncheckedIndexedAccess`
  encoding/ascii85.ts
  encoding/ascii85_test.ts
  encoding/base32.ts
  encoding/base32_test.ts
  encoding/base58.ts
  encoding/base58_test.ts
  encoding/base64.ts
  encoding/base64_test.ts
  encoding/base64url_test.ts
  encoding/hex.ts
  encoding/varint.ts
Labels: encoding

#4381 chore(msgpack): format test names
  msgpack/decode_test.ts
  msgpack/encode_test.ts
Labels: msgpack

#4218 feat(collections): Add `pick` and `omit`
  collections/mod.ts
  collections/omit.ts
  collections/omit_test.ts
  collections/pick.ts
  collections/pick_test.ts
Labels: collections, feedback welcome

#4380 chore(media_types): format test names
  media_types/_util_test.ts
  media_types/content_type_test.ts
  media_types/extension_test.ts
  media_types/extensions_by_type_test.ts
  media_types/format_media_type_test.ts
  media_types/get_charset_test.ts
  media_types/parse_media_type_test.ts
  media_types/type_by_extension_test.ts
Labels: media_types

#4393 chore(log): sync `level` and `levelName` in BaseHandler
  log/base_handler.ts
Labels: log

#4395 docs: link to `assertThrows()` and `assertRejects()`
  assert/assert_rejects.ts
  assert/assert_throws.ts
Labels: assert

#4396 chore(jsonc): format test names
  jsonc/parse_test.ts
Labels: jsonc

#4399 chore(front_matter): format test names
  front_matter/any_test.ts
  front_matter/create_extractor_test.ts
  front_matter/json_test.ts
  front_matter/test_test.ts
  front_matter/toml_test.ts
  front_matter/yaml_test.ts
Labels: front_matter

#4401 fix(log): add missing return types
  log/base_handler.ts
Labels: log

#4402 docs(jsonc): add module-level docs
  jsonc/mod.ts
  jsonc/parse.ts
Labels: jsonc

#4400 chore(http): format test names
  http/cookie_test.ts
  http/etag_test.ts
  http/negotiation_test.ts
  http/server_sent_event_stream_test.ts
  http/server_test.ts
  http/status_test.ts
Labels: http

#4394 chore(log): format test names
  log/base_handler_test.ts
  log/file_handler_test.ts
  log/formatters_test.ts
  log/logger_test.ts
  log/mod_test.ts
  log/rotating_file_handler_test.ts
  log/test.ts
Labels: log

#4378 chore(streams): format test names
  streams/buffer_test.ts
  streams/byte_slice_stream_test.ts
  streams/delimiter_stream_test.ts
  streams/early_zip_readable_streams_test.ts
  streams/iterate_reader_test.ts
  streams/limited_bytes_transform_stream_test.ts
  streams/limited_transform_stream_test.ts
  streams/merge_readable_streams_test.ts
  streams/readable_stream_from_reader_test.ts
  streams/reader_from_iterable_test.ts
  streams/reader_from_stream_reader_test.ts
  streams/text_delimiter_stream_test.ts
  streams/text_line_stream_test.ts
  streams/to_array_buffer_test.ts
  streams/to_blob_test.ts
  streams/to_json_test.ts
  streams/to_text_test.ts
  streams/to_transform_stream_test.ts
  streams/writable_stream_from_writer_test.ts
  streams/writer_from_stream_writer_test.ts
  streams/zip_readable_streams_test.ts
Labels: streams

#4397 chore(json): format test names
  json/concatenated_json_parse_stream_test.ts
  json/json_parse_stream_test.ts
  json/json_stringify_stream_test.ts
Labels: json

#4371 fix(fs/ensure_symlink): check symlink is pointing the given target
  fs/ensure_symlink.ts
  fs/ensure_symlink_test.ts
Labels: fs

#4366 feat(expect): add asymmetric matchers (#3964)
  expect/_any_test.ts
  expect/_anything_test.ts
  expect/_array_containing_test.ts
  expect/_asymmetric_matchers.ts
  expect/_equal.ts
  expect/expect.ts
Labels: expect

#4405 feat(assert): optional `reason` param for `unreachable` (#4404)
  assert/unreachable.ts
  assert/unreachable_test.ts
Labels: assert

#4379 chore(semver): format test names
  semver/_comparator_intersects_test.ts
  semver/_is_comparator_test.ts
  semver/can_parse_test.ts
  semver/comparator_test.ts
  semver/compare_test.ts
  semver/difference_test.ts
  semver/equals_test.ts
  semver/format_range_test.ts
  semver/format_test.ts
  semver/greater_or_equal_test.ts
  semver/greater_than_test.ts
  semver/gtr_test.ts
  semver/increment_test.ts
  semver/is_range_test.ts
  semver/is_semver_test.ts
  semver/less_or_equal_test.ts
  semver/less_than_test.ts
  semver/ltr_test.ts
  semver/max_satisfying_test.ts
  semver/min_satisfying_test.ts
  semver/not_equals_test.ts
  semver/parse_range_test.ts
  semver/parse_test.ts
  semver/range_min_test.ts
Labels: semver

#4301 feat(uuid): add type predicate return type to validate (v4)
  uuid/v4.ts
Labels: uuid

#4416 chore(testing): update snapshot testing expectations
  .github/workflows/ci.yml
  testing/__snapshots__/snapshot_test.ts.snap
Labels: testing

#4418 chore: latest verbatim-module-syntax fixes
  archive/tar.ts
  csv/parse.ts
  semver/_is_comparator_test.ts
  semver/is_range_test.ts
Labels: csv, archive, semver
