Repository denoland/std, pull requests merged in 2024-08, with the labels that each got.

#5560 fix(async): `abortableAsyncIterable()` should call `.return()` on the generator once aborted
  async/abortable.ts
  async/abortable_test.ts
Labels: async

#5456 feat(html/unstable): add `isValidCustomElementName()`
  html/deno.json
  html/is_valid_custom_element_name.ts
  html/is_valid_custom_element_name_test.ts
  html/mod.ts
Labels: html

#5596 test(async): fix `abortable.AsyncIterable() calls return before throwing` test
  async/abortable_test.ts
Labels: async

#5597 docs(csv): clarify `parse` document
  csv/parse.ts
Labels: csv

#5600 feat(csv): support `fieldsPerRecord` in `CsvParseStream`
  csv/parse_stream.ts
  csv/parse_stream_test.ts
Labels: csv

#5598 refactor(cli): use `for of` instead of `for in` loop
  cli/parse_args.ts
Labels: cli

#5602 refactor(cli): remove `broken` variable in favour of loop label
  cli/parse_args.ts
Labels: cli

#5604 fix(csv): show 1-based line and column numbers in error messages
  csv/_io.ts
  csv/parse.ts
  csv/parse_stream.ts
  csv/parse_stream_test.ts
  csv/parse_test.ts
Labels: csv

#5610 chore(datetime): remove console log
  datetime/_date_time_formatter_test.ts
Labels: datetime

#5599 chore(cli): simplify `setNested()` and `hasNested()`
  cli/parse_args.ts
Labels: cli

#5601 chore(cli): simplify `parseArgs()` logic
  cli/parse_args.ts
Labels: cli

#5608 refactor(cli): simplify `argv` and `notFlags` push
  cli/parse_args.ts
Labels: cli

#5530 deprecation(url): deprecate `@std/url`
  url/basename.ts
  url/dirname.ts
  url/extname.ts
  url/join.ts
  url/mod.ts
  url/normalize.ts
Labels: url

#5592 fix(ini): correctly handle quoted values in `parse()`
  ini/_ini_map.ts
  ini/parse_test.ts
Labels: ini

#5611 test(async): improve test speed of `async/pool_test.ts`
  async/pool_test.ts
Labels: async

#5613 docs(csv): clarify `CsvParseStream` description
  csv/parse_stream.ts
Labels: csv

#5605 docs(csv): more examples for `parse` and `CsvParseStream`
  csv/_io.ts
  csv/mod.ts
  csv/parse.ts
  csv/parse_stream.ts
  csv/parse_stream_test.ts
  csv/parse_test.ts
Labels: csv

#5617 fix(csv): remove `undefined` from possible value type of parse result
  csv/_io.ts
  csv/parse.ts
  csv/parse_stream.ts
  csv/parse_stream_test.ts
  csv/parse_test.ts
Labels: csv

#5618 refactor(cli): use non-null assertion in `parseArgs()` logic
  cli/parse_args.ts
Labels: cli

#5606 docs(csv): more examples for `stringify` and `CsvStringifyStream`
  csv/stringify.ts
  csv/stringify_stream.ts
Labels: csv

#5588 feat(ini): add type param for value type
  ini/_ini_map.ts
  ini/parse.ts
  ini/parse_test.ts
Labels: ini

#5624 docs(semver): remove diagram line overlaps
  semver/mod.ts
Labels: semver

#5607 refactor(cli): `isNumber()`
  cli/parse_args.ts
Labels: cli

#5219 chore(csv): release `csv@1.0.0`
  csv/deno.json
  deno.json
Labels: csv

#5609 fix(async): abortable should not change original outputs
  async/abortable.ts
  async/abortable_test.ts
Labels: async

#5625 refactor(yaml): move functions to class methods
  yaml/_loader.ts
Labels: yaml

#5628 refactor(cli): minor cleanups
  cli/parse_args.ts
Labels: cli

#5631 chore(url): release `url@0.225.0`
  deno.json
  url/deno.json
Labels: url

#5635 fix(csv,streams): use string arrays in `ReadableStream.from()` in docs and tests
  csv/parse_stream_test.ts
  streams/mod.ts
  streams/text_line_stream_test.ts
Labels: csv, streams

#4320 feat(http/unstable): `methods` module
  http/deno.json
  http/method.ts
  http/method_test.ts
  http/mod.ts
Labels: http, feedback welcome

#4317 feat(http/unstable): `headers` module
  http/deno.json
  http/header.ts
  http/header_test.ts
  http/mod.ts
Labels: http, feedback welcome

#5639 docs(archive): mark public APIs as unstable/experimental
  archive/_common.ts
  archive/mod.ts
  archive/tar.ts
  archive/untar.ts
Labels: archive

#5642 refactor(http): use `headers` module in `file-server` module
  http/file_server.ts
Labels: http

#5637 fix(archive): make `block` and `reader` properties in `Untar` private
  archive/untar.ts
Labels: archive

#4995 feat(streams/unstable): `FixedChunkStream`
  streams/deno.json
  streams/fixed_chunk_stream.ts
  streams/fixed_chunk_stream_test.ts
  streams/mod.ts
Labels: streams, after 1.0

#5645 fix(archive): make `data` property private in `Tar`
  archive/tar.ts
Labels: archive

#5644 feat(http/unstable): `route` module
  http/deno.json
  http/mod.ts
  http/route.ts
  http/route_test.ts
Labels: http

#5643 fix(http): handle wrong request method correctly
  http/file_server.ts
  http/file_server_test.ts
Labels: http

#5652 fix(http/unstable): make `info` parameter optional
  http/route.ts
  http/route_test.ts
Labels: http

#5655 perf(uuid): make `bytesToUuid()` up to 100x faster
  uuid/_common.ts
Labels: uuid

#5657 refactor(io): cleanup `BufferFullError` and `PartialReadError` logic
  archive/_common.ts
  io/buf_reader.ts
  io/buf_reader_test.ts
Labels: archive, io

#5651 refactor(yaml): move exports to import file
  yaml/_dumper_state.ts
  yaml/_loader_state.ts
  yaml/parse.ts
  yaml/stringify.ts
Labels: yaml

#5656 docs(io): document `std/io`
  _tools/check_docs.ts
  io/buf_reader.ts
  io/buf_writer.ts
  io/buffer.ts
  io/copy.ts
  io/copy_n.ts
  io/iterate_reader.ts
  io/limited_reader.ts
  io/mod.ts
  io/multi_reader.ts
  io/read_all.ts
  io/read_delim.ts
  io/read_int.ts
  io/read_lines.ts
  io/read_long.ts
  io/read_range.ts
  io/read_short.ts
  io/read_string_delim.ts
  io/reader_from_stream_reader.ts
  io/slice_long_to_bytes.ts
  io/string_reader.ts
  io/string_writer.ts
  io/to_readable_stream.ts
  io/to_writable_stream.ts
  io/write_all.ts
Labels: io

#5647 BREAKING(datetime): replace `utc` with `timeZone` option
  datetime/format.ts
  datetime/format_test.ts
Labels: datetime

#5649 refactor(datetime): cleanup `DateTimeFormatter` and `parse()` function
  datetime/_date_time_formatter.ts
  datetime/_date_time_formatter_test.ts
  datetime/parse.ts
Labels: datetime

#5659 refactor(front-matter): remove `Extractor` type
  front_matter/_formats.ts
  front_matter/_shared.ts
  front_matter/_types.ts
  front_matter/test.ts
Labels: front-matter

#5406 fix(datetime): handle am / pm variants
  datetime/_date_time_formatter.ts
  datetime/_date_time_formatter_test.ts
Labels: datetime

#4931 feat(encoding/unstable): `decodeBase32Hex()` and `encodeBase32Hex()`
  encoding/_base32_common.ts
  encoding/base32.ts
  encoding/base32_test.ts
  encoding/base32hex.ts
  encoding/base32hex_test.ts
  encoding/deno.json
  encoding/mod.ts
Labels: encoding, after 1.0

#5121 feat(streams/unstable): `toLines()`
  streams/deno.json
  streams/mod.ts
  streams/to_lines.ts
  streams/to_lines_test.ts
Labels: streams, after 1.0

#5670 perf(uuid): make `uuidToBytes()` up to 2.5x faster
  uuid/_common.ts
Labels: uuid

#5665 test(encoding): cleanup base32 tests
  encoding/base32_test.ts
Labels: encoding

#5668 refactor(http): use `methods` module in `file-server` module
  http/file_server.ts
Labels: http

#5646 feat(text/unstable): add `slugify()` function
  text/deno.json
  text/mod.ts
  text/slugify.ts
  text/slugify_test.ts
Labels: text

#5684 refactor(yaml): remove `result` property
  yaml/_dumper_state.ts
Labels: yaml

#5685 fix(front-matter): allow whitespaces after the header
  front_matter/_formats.ts
  front_matter/json_test.ts
  front_matter/toml_test.ts
  front_matter/yaml_test.ts
Labels: front-matter

#5691 refactor(yaml): Make `version` property required
  yaml/_loader_state.ts
Labels: yaml

#5692 refactor(yaml): remove `schema` property
  yaml/_loader_state.ts
Labels: yaml

#5676 fix(testing): fix false positive in `IsExact`
  testing/types.ts
  testing/types_test.ts
Labels: testing

#5690 feat(assert/unstable): add `assertNever`
  assert/deno.json
  assert/mod.ts
  assert/never.ts
  assert/never_test.ts
Labels: assert

#5693 refactor(yaml): redefine `include` as optional `Schema`
  yaml/_schema.ts
Labels: yaml

#5696 refactor(yaml): use `Map` for `tagMap` and `anchorMap`
  yaml/_loader_state.ts
Labels: yaml

#5697 refactor(yaml): use `Set` for `overridableKeys`
  yaml/_loader_state.ts
Labels: yaml

#5699 refactor(yaml): boolean constants
  yaml/_type/bool.ts
Labels: yaml

#5703 docs(assert): Add additional example in assertObjectMatch docs
  assert/object_match.ts
Labels: assert

#5707 refactor(yaml): add `stringify()` method to `DumperState`
  yaml/_dumper_state.ts
  yaml/stringify.ts
Labels: yaml

#5694 refactor(yaml): use `Map`s for `TypeMap`
  yaml/_loader_state.ts
  yaml/_schema.ts
Labels: yaml

#5704 test(yaml): add edge case test for `stringify`
  yaml/stringify_test.ts
Labels: yaml

#5700 refactor(semver): unify param names
  semver/can_parse.ts
  semver/compare.ts
  semver/difference.ts
  semver/equals.ts
  semver/format.ts
  semver/greater_or_equal.ts
  semver/greater_than.ts
  semver/greater_than_range.ts
  semver/increment.ts
  semver/less_or_equal.ts
  semver/less_than.ts
  semver/less_than_range.ts
  semver/not_equals.ts
  semver/parse.ts
  semver/parse_range.ts
  semver/range_intersects.ts
  semver/satisfies.ts
  semver/try_parse.ts
  semver/try_parse_range.ts
Labels: semver

#5713 test(yaml): add test for deprecated boolean syntax
  yaml/stringify_test.ts
Labels: yaml

#5716 refactor(crypto): remove old unused `_fnv` folder
  crypto/_fnv/fnv32.ts
  crypto/_fnv/fnv64.ts
  crypto/_fnv/mod.ts
  crypto/_fnv/mod_test.ts
  crypto/_fnv/util.ts
  crypto/_fnv/util_test.ts
Labels: crypto

#5724 refactor(log): replace `protected` properties with `Symbol`s
  log/_file_handler_symbols.ts
  log/file_handler.ts
  log/rotating_file_handler.ts
Labels: log

#5671 refactor(io): create a style guide for error messages, align error messages to the style guide
  .github/CONTRIBUTING.md
  io/buf_reader.ts
  io/buf_reader_test.ts
  io/buffer.ts
  io/copy_n.ts
  io/read_range.ts
  io/read_range_test.ts
  io/to_readable_stream_test.ts
  io/to_writable_stream_test.ts
Labels: io

#5730 chore(async): add browser-compat declarations
  async/deadline.ts
  async/mod.ts
Labels: async

#5732 docs(datetime): add constants to module docs
  datetime/mod.ts
Labels: datetime

#5735 fix(csv): accept readonly cell/header data (#5734)
  csv/_io.ts
  csv/stringify.ts
  csv/stringify_test.ts
Labels: csv

#5715 refactor(yaml): cleanup `Schema`
  yaml/_dumper_state.ts
  yaml/_loader_state.ts
  yaml/_schema.ts
Labels: yaml

#5689 refactor(yaml): remove `tag` property
  yaml/_dumper_state.ts
Labels: yaml

#5683 refactor(yaml): remove `dump` property
  yaml/_dumper_state.ts
Labels: yaml

#5636 docs(archive): complete documentation
  _tools/check_docs.ts
  archive/mod.ts
  archive/tar.ts
  archive/untar.ts
Labels: archive

#5738 refactor(yaml): rename `DumperState` methods
  yaml/_dumper_state.ts
Labels: yaml

#5741 refactor(yaml): remove variable underscore
  yaml/_dumper_state.ts
Labels: yaml

#5750 refactor(yaml): replace `chooseScalarType()` callback with `implicitTypes ` argument
  yaml/_dumper_state.ts
Labels: yaml

#5751 perf(cli,http,ini,internal,media-types): replace `trim()` comparisons with regexps
  cli/parse_args.ts
  http/etag.ts
  ini/_ini_map.ts
  internal/diff_str.ts
  media_types/parse_media_type.ts
Labels: http, media-types, cli, ini, internal

#5754 refactor(webgpu): align additional error messages
  webgpu/texture_with_data.ts
Labels: webgpu

#5747 feat(path/unstable): support `URL` input in `dirname()`
  path/dirname.ts
  path/dirname_test.ts
  path/posix/dirname.ts
  path/windows/dirname.ts
Labels: path

#5706 refactor(archive,cache,datetime,fmt,front-matter): align error messages to the style guide
  archive/tar.ts
  archive/untar.ts
  cache/_serialize_arg_list.ts
  datetime/_date_time_formatter.ts
  datetime/_date_time_formatter_test.ts
  fmt/printf.ts
  fmt/printf_test.ts
  front_matter/_shared.ts
Labels: fmt, archive, datetime, front-matter

#5745 fix(dotenv): show warning when there is invalid key in `.env` file
  dotenv/mod.ts
  dotenv/parse.ts
  dotenv/parse_test.ts
Labels: dotenv

#5748 feat(front-matter/unstable): add pass-through `ParseOptions` argument for YAML parser
  front_matter/yaml.ts
  front_matter/yaml_test.ts
Labels: front-matter

#5740 refactor(yaml): move options to options object
  yaml/_dumper_state.ts
Labels: yaml

#5705 refactor(toml,msgpack,crypto,data-structures): align the error messages to the style guide
  crypto/crypto.ts
  crypto/crypto_test.ts
  data_structures/binary_heap.ts
  data_structures/binary_heap_test.ts
  data_structures/binary_search_tree.ts
  data_structures/binary_search_tree_test.ts
  data_structures/red_black_tree.ts
  data_structures/red_black_tree_test.ts
  msgpack/decode.ts
  msgpack/decode_test.ts
  toml/_parser.ts
  toml/parse_test.ts
Labels: crypto, toml, data-structures, msgpack

#5764 refactor(yaml): add `BOM` constant
  yaml/_chars.ts
  yaml/_dumper_state.ts
Labels: yaml

#5761 refactor(yaml): remove `ArrayObject`
  yaml/_dumper_state.ts
  yaml/_loader_state.ts
  yaml/_type.ts
  yaml/_utils.ts
Labels: yaml

#5765 refactor(yaml): remove `ResultType`
  yaml/_loader_state.ts
Labels: yaml

#5763 refactor(yaml): inline `yamlDirectiveHandler()`
  yaml/_loader_state.ts
Labels: yaml

#5760 refactor(yaml): change `styleMap` type to `Map`
  yaml/_dumper_state.ts
Labels: yaml

#4915 feat(encoding/unstable): adds streaming versions for hex, base32, base32hex, base64 and base64url
  encoding/_random_slice_stream.ts
  encoding/base32_stream.ts
  encoding/base32_stream_test.ts
  encoding/base32hex_stream.ts
  encoding/base32hex_stream_test.ts
  encoding/base64_stream.ts
  encoding/base64_stream_test.ts
  encoding/base64url_stream.ts
  encoding/base64url_stream_test.ts
  encoding/deno.json
  encoding/hex_stream.ts
  encoding/hex_stream_test.ts
  encoding/mod.ts
Labels: encoding, after 1.0

#5766 refactor(internal): align additional error messages
  internal/diff.ts
  internal/diff_test.ts
Labels: internal

#5722 docs(text): fix `slugify()` summary
  text/slugify.ts
  text/slugify_test.ts
Labels: text

#5768 refactor(cli): align additional error messages
  cli/_tools/generate_data.ts
  cli/prompt_secret.ts
Labels: cli

#5758 refactor(async): align the error messages to the style guide
  async/pool.ts
  async/pool_test.ts
  async/retry.ts
  async/retry_test.ts
Labels: async

#5737 refactor(log): make `BaseHandler` abstract
  log/base_handler.ts
  log/console_handler.ts
  log/file_handler.ts
Labels: log

#5672 docs(archive,assert,cache,cli,encoding,html,http,net,streams,text): remove unstable Markdown alert
  .github/CONTRIBUTING.md
  archive/_common.ts
  archive/mod.ts
  archive/tar.ts
  archive/untar.ts
  assert/never.ts
  cache/lru_cache.ts
  cache/memoize.ts
  cli/spinner.ts
  encoding/base32hex.ts
  html/is_valid_custom_element_name.ts
  http/header.ts
  http/method.ts
  http/route.ts
  http/signed_cookie.ts
  net/get_network_address.ts
  streams/fixed_chunk_stream.ts
  streams/to_lines.ts
  text/slugify.ts
  text/to_constant_case.ts
Labels: http, streams, archive, encoding, html, assert, text, cli, net

#5752 fix(front-matter): remove os specific newline
  front_matter/_formats.ts
Labels: front-matter

#5744 refactor(yaml): cleanup `stringifyFlowSequence()`
  yaml/_dumper_state.ts
Labels: yaml

#5771 refactor(yaml): inline `tagDirectiveHandler()`
  yaml/_loader_state.ts
Labels: yaml

#5775 refactor(yaml): inline `captureSegment()`
  yaml/_loader_state.ts
Labels: yaml

#5776 refactor(yaml): inline `readBlockSequence()`
  yaml/_loader_state.ts
Labels: yaml

#5772 fix(http/unstable): match request method
  http/route.ts
  http/route_test.ts
Labels: http

#5778 refactor(yaml): use `Set` in `inspectNode()`
  yaml/_dumper_state.ts
Labels: yaml

#5777 refactor(yaml): inline `mergeMappings()`
  yaml/_loader_state.ts
Labels: yaml

#5780 test(yaml): add `condenseFlow()` test
  yaml/stringify_test.ts
Labels: yaml

#5781 refactor(yaml): remove `storeMappingPair()` result `null` type
  yaml/_loader_state.ts
Labels: yaml

#5779 refactor(yaml): inline `storeMappingPair()`
  yaml/_loader_state.ts
Labels: yaml

#5783 refactor(yaml): inline `readLineBreak()`
  yaml/_loader_state.ts
Labels: yaml

#5718 refactor(path,streams): align additional error messages
  path/_common/assert_path.ts
  path/_common/assert_path_test.ts
  path/_common/basename.ts
  path/_common/basename_test.ts
  path/_common/format.ts
  path/_common/format_test.ts
  path/_common/from_file_url.ts
  path/dirname_test.ts
  path/from_file_url_test.ts
  path/posix/resolve.ts
  path/posix/to_file_url.ts
  path/to_file_url_test.ts
  path/windows/resolve.ts
  path/windows/to_file_url.ts
  streams/buffer.ts
  streams/buffer_test.ts
  streams/byte_slice_stream.ts
  streams/delimiter_stream.ts
Labels: streams, path

#5785 refactor(semver): align additional error messages
  semver/_shared.ts
  semver/increment.ts
  semver/parse.ts
  semver/parse_range.ts
  semver/parse_range_test.ts
Labels: semver

#5792 refactor(yaml): inline `skipSeparationSpace()`
  yaml/_loader_state.ts
Labels: yaml

#5795 refactor(yaml): remove type mod file
  yaml/_schema.ts
  yaml/_type/mod.ts
Labels: yaml

#5798 refactor(yaml): remove `schema` property
  yaml/_dumper_state.ts
Labels: yaml

#5807 test(text): move case tests to separate files
  text/case_test.ts
  text/to_camel_case_test.ts
  text/to_constant_case_test.ts
  text/to_kebab_case_test.ts
  text/to_pascal_case_test.ts
  text/to_snake_case_test.ts
Labels: text

#5808 test(front-matter): remove duplicate tests
  front_matter/any_test.ts
  front_matter/json_test.ts
  front_matter/toml_test.ts
  front_matter/yaml_test.ts
Labels: front-matter

#5799 refactor(jsonc): align additional error messages
  jsonc/parse.ts
  jsonc/parse_test.ts
Labels: jsonc

#5800 refactor(media-types): align additional error messages
  media_types/parse_media_type.ts
  media_types/parse_media_type_test.ts
Labels: media-types

#5801 refactor(log): align additional error messages
  log/levels.ts
  log/rotating_file_handler.ts
  log/rotating_file_handler_test.ts
Labels: log

#5782 refactor(yaml): remove `any` types
  yaml/_type/binary.ts
  yaml/_type/float.ts
  yaml/_type/omap.ts
  yaml/_type/pairs.ts
  yaml/_type/regexp.ts
  yaml/_type/set.ts
Labels: yaml

#5793 refactor(yaml): inline `testDocumentSeparator()`
  yaml/_loader_state.ts
Labels: yaml

#5805 refactor(yaml): remove `Mark` class
  yaml/_loader_state.ts
  yaml/_mark.ts
Labels: yaml

#5788 docs(expect): correct `expect()` docs
  expect/expect.ts
Labels: expect

#5812 refactor(yaml): inline `writeFoldedLines()`
  yaml/_loader_state.ts
Labels: yaml

#5804 refactor(yaml): move `getDuplicateReferences()` into `stringify()`
  yaml/_dumper_state.ts
Labels: yaml

#5814 test(yaml): add `undefined` array entry test with `skipInvalid` option
  yaml/stringify_test.ts
Labels: yaml

#5813 refactor(yaml): inline `readPlainScalar()`
  yaml/_loader_state.ts
Labels: yaml

#5759 refactor(yaml): cleanup `detectType()`
  yaml/_dumper_state.ts
Labels: yaml

#5742 refactor(yaml): cleanup `stringifyBlockSequence()`
  yaml/_dumper_state.ts
Labels: yaml

#5743 refactor(yaml): cleanup `stringifyFlowMapping()`
  yaml/_dumper_state.ts
Labels: yaml

#5802 refactor(fs): align additional error messages
  fs/copy.ts
  fs/copy_test.ts
  fs/ensure_dir.ts
  fs/ensure_dir_test.ts
  fs/ensure_file.ts
  fs/ensure_file_test.ts
  fs/exists.ts
  fs/exists_test.ts
Labels: fs

#5803 refactor(uuid): align additional error messages
  uuid/common.ts
  uuid/v1.ts
  uuid/v1_test.ts
  uuid/v3.ts
  uuid/v3_test.ts
  uuid/v5.ts
  uuid/v5_test.ts
Labels: uuid

#5819 test(uuid): assert error message of `version()`
  uuid/common_test.ts
Labels: uuid

#5791 refactor(http): align additional error messages
  http/cookie.ts
  http/cookie_test.ts
  http/server_sent_event_stream.ts
Labels: http

#5796 refactor(csv): align additional error messages
  csv/_io.ts
  csv/parse.ts
  csv/parse_stream.ts
  csv/parse_stream_test.ts
  csv/parse_test.ts
Labels: csv

#5810 refactor(testing): align additional error messages
  testing/_test_suite.ts
  testing/bdd.ts
  testing/bdd_test.ts
  testing/mock.ts
  testing/mock_test.ts
  testing/time.ts
  testing/time_test.ts
Labels: testing

#5811 refactor(expect): align additional error messages
  expect/_equal.ts
  expect/expect.ts
  expect/test.ts
Labels: expect

#5821 test(cli): reduce flakiness of Spinner test
  cli/testdata/spinner_cases/change_message.ts
Labels: cli

#5818 feat(path/unstable): support `URL` in `extname()`
  path/extname.ts
  path/extname_test.ts
  path/posix/extname.ts
  path/windows/extname.ts
Labels: path

#5822 refactor(yaml): use `isObject()`
  yaml/_dumper_state.ts
Labels: yaml

#5829 test(yaml): add undefined object entry with skipInvalid and flowLevel option test
  yaml/stringify_test.ts
Labels: yaml

#5827 refactor(yaml): inline `readSingleQuotedScalar()`
  yaml/_loader_state.ts
Labels: yaml

#5823 refactor(yaml): move `isObject()`
  yaml/_dumper_state.ts
Labels: yaml

#5825 test(yaml): add duplicate array reference test
  yaml/stringify_test.ts
Labels: yaml

#5828 test(yaml): add undefined array entry with `skipInvalid` and `flowLevel` options test
  yaml/stringify_test.ts
Labels: yaml
