Repository denoland/std, pull requests merged in 2025-08, with the labels that each got.

#6781 refactor(streams/unstable): toByteStream to make use of autoAllocateChunkSize
  streams/unstable_to_byte_stream.ts
Labels: streams

#6786 feat(net/unstable): add matchSubnets on @std/net
  net/unstable_ip.ts
  net/unstable_ip_test.ts
Labels: net

#6793 test(tar): improve TarStream's tests
  tar/tar_stream_test.ts
Labels: tar
