Repository denoland/std, pull requests merged in 2025-02, with the labels that each got.

#6379 feat(fs/unstable): add rename
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_rename.ts
  fs/unstable_rename_test.ts
Labels: fs

#6362 refactor(semver): clean up `parseRange`, add missing tests
  semver/compare_test.ts
  semver/greater_than_range_test.ts
  semver/is_range_test.ts
  semver/is_semver_test.ts
  semver/less_than_range_test.ts
  semver/parse_range.ts
  semver/parse_range_test.ts
  semver/try_parse_range_test.ts
  semver/types.ts
Labels: semver

#6390 refactor(front-matter): call `extract()` functions in `any.ts`
  front_matter/any.ts
  front_matter/toml.ts
Labels: front-matter

#6391 feat(fs/unstable): add makeTempDir and makeTempDirSync
  _tools/node_test_runner/run_test.mjs
  fs/_utils.ts
  fs/deno.json
  fs/unstable_make_temp_dir.ts
  fs/unstable_make_temp_dir_test.ts
  fs/unstable_types.ts
Labels: fs

#6394 feat(fs/unstable): add readFile and readFileSync
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_read_file.ts
  fs/unstable_read_file_test.ts
  fs/unstable_types.ts
Labels: fs

#6378 feat(cli/unstable): introduce `new ProgressBar()` & `new ProgressBarStream()`
  cli/deno.json
  cli/unstable_progress_bar.ts
  cli/unstable_progress_bar_stream.ts
  cli/unstable_progress_bar_stream_test.ts
  cli/unstable_progress_bar_test.ts
Labels: cli

#6396 feat(fs/unstable): add renameSync
  fs/unstable_rename.ts
  fs/unstable_rename_test.ts
Labels: fs

#6400 docs(fs): add missing docs
  _tools/check_docs.ts
  fs/unstable_read_dir.ts
  fs/unstable_read_file.ts
  fs/unstable_symlink.ts
Labels: fs

#6401 refactor(front-matter): use relative path for importing module in the same package
  front_matter/any.ts
Labels: front-matter

#6402 fix(cli): update interval in ProgressBar
  cli/unstable_progress_bar.ts
Labels: cli

#6393 perf(front-matter): remove regexp `m` flags, reduce unnecessary string operations
  front_matter/_formats.ts
  front_matter/_shared.ts
Labels: front-matter

#6404 test(cli): fix flaky spinner test
  cli/unstable_spinner_test.ts
Labels: cli

#6405 feat(fs/unstable): add readTextFileSync and readTextFile
  _tools/check_docs.ts
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_read_text_file.ts
  fs/unstable_read_text_file_test.ts
Labels: fs

#6413 fix(async/unstable): fix flaky `waitFor()` test
  async/unstable_wait_for_test.ts
Labels: async

#6418 refactor(front-matter): cleanup `_shared.ts`
  front_matter/_formats.ts
  front_matter/_shared.ts
  front_matter/any.ts
  front_matter/json.ts
  front_matter/toml.ts
  front_matter/unstable_yaml.ts
  front_matter/yaml.ts
Labels: front-matter

#6412 test(async): fix flaky `pooledMap()` test
  async/pool_test.ts
Labels: async

#6416 feat(fs/unstable): add truncate and truncateSync
  _tools/check_docs.ts
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_truncate.ts
  fs/unstable_truncate_test.ts
Labels: fs

#6424 docs(fmt): fix `printf` module doc absense
  fmt/printf.ts
Labels: fmt

#6423 test(async/unstable): add `retry()` tests
  async/unstable_retry_test.ts
Labels: async

#6420 refactor(cli/unstable): clean up `start` end `stop` methods of `Spinner`, add test cases for multiple start/stop calls
  cli/unstable_spinner.ts
  cli/unstable_spinner_test.ts
Labels: cli

#6432 fix(uuid): handle `rng` correctly in uuid v1
  uuid/v1.ts
  uuid/v1_test.ts
Labels: uuid

#6431 test(fs/unstable): add test case for reading text file with BOM
  fs/testdata/copy_file_bom.txt
  fs/unstable_read_text_file_test.ts
Labels: fs

#6425 feat(fs/unstable): add `copyFile` and `copyFileSync`
  _tools/check_docs.ts
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_copy_file.ts
  fs/unstable_copy_file_test.ts
Labels: fs

#6436 feat(fs/unstable): add mkdir and mkdirSync
  _tools/check_docs.ts
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_mkdir.ts
  fs/unstable_mkdir_test.ts
Labels: fs

#6441 fix(fs/unstable): fix node.js test runner, fix readTextFile and copyFile in Node.js
  _tools/node_test_runner/run_test.mjs
  collections/invert_test.ts
  fs/unstable_copy_file.ts
  fs/unstable_copy_file_test.ts
  fs/unstable_read_text_file.ts
Labels: fs, collections

#6410 feat(text/unstable): add `reverse` function
  text/_test_util.ts
  text/_test_util_test.ts
  text/deno.json
  text/unstable_reverse.ts
  text/unstable_reverse_bench.ts
  text/unstable_reverse_test.ts
Labels: text

#6440 BREAKING(tar/unstable): fix handling of mode, uid, and gid
  tar/tar_stream.ts
  tar/tar_stream_test.ts
  tar/untar_stream.ts
  tar/untar_stream_test.ts
Labels: tar

#6448 test(fs/unstable): remove windows specific paths and fix ci
  fs/unstable_rename_test.ts
Labels: fs

#6446 feat(fs/unstable): add utime and utimeSync
  _tools/check_docs.ts
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_utime.ts
  fs/unstable_utime_test.ts
Labels: fs

#6454 feat(fs/unstable): add umask
  _tools/check_docs.ts
  _tools/node_test_runner/run_test.mjs
  deno.json
  fs/_utils.ts
  fs/deno.json
  fs/unstable_umask.ts
  fs/unstable_umask_test.ts
Labels: fs
