Repository denoland/std, pull requests merged in 2025-05, with the labels that each got.

#6634 fix(html/unstable): add missing range (`unstable_is_valid_custom_element_name`)
  html/unstable_is_valid_custom_element_name.ts
  html/unstable_is_valid_custom_element_name_test.ts
Labels: html

#6635 chore: run some test cases in bun in CI
  .github/workflows/ci.yml
  .gitignore
  _tools/node_test_runner/.gitignore
  _tools/node_test_runner/run_test.mjs
  _tools/node_test_runner/tsconfig_for_bun.json
  collections/invert_test.ts
  deno.json
  fs/_node_fs_file_test.ts
  fs/unstable_chown_test.ts
  fs/unstable_read_file_test.ts
  fs/unstable_read_text_file_test.ts
  fs/unstable_remove_test.ts
  fs/unstable_truncate_test.ts
  fs/unstable_write_file_test.ts
  fs/unstable_write_text_file_test.ts
Labels: fs, collections

#6638 fix(toml): should use lowercase value for nan
  toml/parse_test.ts
  toml/stringify.ts
  toml/stringify_test.ts
Labels: toml

#6639 fix(bytes): allow to concat() readonly arrays of bytes arrays
  bytes/concat.ts
  bytes/concat_test.ts
Labels: bytes

#6644 feat(collections): stabilize `Iterable` input for `chunk`, `dropLastWhile`, `dropWhile`, `intersect`, `sample`, `slidingWindows`, `sortBy`, `takeLastWhile`, `takeWhile`, and `withoutAll`
  collections/chunk.ts
  collections/chunk_test.ts
  collections/deno.json
  collections/drop_last_while.ts
  collections/drop_last_while_test.ts
  collections/drop_while.ts
  collections/drop_while_test.ts
  collections/intersect.ts
  collections/intersect_test.ts
  collections/sample.ts
  collections/sample_test.ts
  collections/sliding_windows.ts
  collections/sliding_windows_test.ts
  collections/sort_by.ts
  collections/sort_by_test.ts
  collections/take_last_while.ts
  collections/take_last_while_test.ts
  collections/take_while.ts
  collections/take_while_test.ts
  collections/unstable_chunk.ts
  collections/unstable_chunk_test.ts
  collections/unstable_drop_last_while.ts
  collections/unstable_drop_last_while_test.ts
  collections/unstable_drop_while.ts
  collections/unstable_drop_while_test.ts
  collections/unstable_intersect.ts
  collections/unstable_intersect_test.ts
  collections/unstable_sample.ts
  collections/unstable_sample_test.ts
  collections/unstable_sliding_windows.ts
  collections/unstable_sliding_windows_test.ts
  collections/unstable_sort_by.ts
  collections/unstable_take_last_while.ts
  collections/unstable_take_last_while_test.ts
  collections/unstable_take_while.ts
  collections/unstable_without_all.ts
  collections/unstable_without_all_test.ts
  collections/without_all.ts
  collections/without_all_test.ts
Labels: collections

#6561 chore: add `exported-function-args-maximum` Deno Style Guide linter plugin
  _tools/lint_plugin.ts
  _tools/lint_plugin_test.ts
  collections/reduce_groups.ts
  collections/running_reduce.ts
  encoding/varint.ts
  fs/unstable_chown.ts
  fs/unstable_utime.ts
  streams/to_transform_stream.ts
  webgpu/create_capture.ts
  webgpu/row_padding.ts
  webgpu/texture_with_data.ts
Labels: streams, fs, collections, encoding, webgpu

#6646 fix(expect,testing,internal): throw if `expect.hasAssertion` and `expect.assertions` are not checked
  expect/_assertions_test.ts
  internal/assertion_state.ts
  internal/assertion_state_test.ts
  testing/_test_suite.ts
  testing/bdd.ts
Labels: testing, expect, internal

#6648 docs(fmt): clarify runtime compatiblity
  fmt/README.md
  fmt/printf.ts
Labels: fmt

#6628 feat(collections/unstable): add non-exact binary search function
  collections/deno.json
  collections/unstable_binary_search.ts
  collections/unstable_binary_search_test.ts
Labels: collections

#6651 feat(path): add support of URL input for basename, dirname, extname, join, and normalize
  path/basename.ts
  path/basename_test.ts
  path/deno.json
  path/dirname.ts
  path/dirname_test.ts
  path/extname.ts
  path/extname_test.ts
  path/join.ts
  path/join_test.ts
  path/normalize.ts
  path/normalize_test.ts
  path/posix/basename.ts
  path/posix/dirname.ts
  path/posix/extname.ts
  path/posix/join.ts
  path/posix/normalize.ts
  path/posix/unstable_basename.ts
  path/posix/unstable_dirname.ts
  path/posix/unstable_extname.ts
  path/posix/unstable_join.ts
  path/posix/unstable_normalize.ts
  path/unstable_basename.ts
  path/unstable_dirname.ts
  path/unstable_extname.ts
  path/unstable_join.ts
  path/unstable_normalize.ts
  path/windows/basename.ts
  path/windows/dirname.ts
  path/windows/extname.ts
  path/windows/join.ts
  path/windows/normalize.ts
  path/windows/unstable_basename.ts
  path/windows/unstable_dirname.ts
  path/windows/unstable_extname.ts
  path/windows/unstable_join.ts
  path/windows/unstable_normalize.ts
Labels: path

#6580 refactor(toml): rewrite `deepAssignWithTable`
  toml/_parser.ts
  toml/parse_test.ts
Labels: toml

#6530 feat(testing/unstable): add `assertInlineSnapshot()`
  _tools/lint_plugin.ts
  testing/_snapshot_utils.ts
  testing/deno.json
  testing/snapshot.ts
  testing/unstable_snapshot.ts
  testing/unstable_snapshot_test.ts
Labels: testing

#6654 chore(http): remove unused `_mock_conn.ts`
  http/_mock_conn.ts
Labels: http

#6653 refactor(toml): move `_parser.ts` tests to separate file
  toml/_parser_test.ts
  toml/parse_test.ts
Labels: toml

#6655 fix(internal): support AssertionState cleanup in node and bun
  _tools/node_test_runner/run_test.mjs
  _tools/node_test_runner/tsconfig_for_bun.json
  internal/assertion_state.ts
  internal/assertion_state_test.ts
Labels: internal

#6659 refactor(http): format file server HTML
  http/file_server.ts
Labels: http

#6406 BREAKING(cli/unstable): rename `ProgressBar` `end()` method to `stop()`
  cli/unstable_progress_bar.ts
  cli/unstable_progress_bar_stream.ts
  cli/unstable_progress_bar_test.ts
Labels: cli

#6409 BREAKING(cli/unstable): make `ProgressBar` `writable` optional
  cli/unstable_progress_bar.ts
  cli/unstable_progress_bar_stream.ts
  cli/unstable_progress_bar_stream_test.ts
  cli/unstable_progress_bar_test.ts
Labels: cli

#6430 BREAKING(cli/unstable): make `ProgressBar` `value` and `max` properties public
  cli/unstable_progress_bar.ts
  cli/unstable_progress_bar_stream.ts
  cli/unstable_progress_bar_test.ts
Labels: cli

#6662 refactor(datetime): simplify month difference
  datetime/difference.ts
Labels: datetime

#6675 fix(cli/unstable): fix resource leak of ProgressBar
  cli/unstable_progress_bar.ts
  cli/unstable_progress_bar_test.ts
Labels: cli

#6667 fix(text/unstable): make dedent match reference for multiline substitutions
  text/unstable_dedent.ts
  text/unstable_dedent_test.ts
Labels: text

#6666 feat(yaml/unstable): support `quoteStyle`
  yaml/_dumper_state.ts
  yaml/stringify_test.ts
  yaml/unstable_stringify.ts
Labels: yaml

#6683 docs(uuid): update module docs to mention UUIDv7
  uuid/mod.ts
Labels: uuid

#6676 refactor(cli/unstable): print initial `ProgressBar`
  cli/unstable_progress_bar.ts
Labels: cli

#6626 feat(random/unstable): allow generating seeded random bytes and 53-bit-entropy floats in [0, 1) (add `getRandomValuesSeeded` and `nextFloat64`)
  random/_pcg32.ts
  random/_pcg32_test.ts
  random/_platform.ts
  random/_seed_bytes_from_uint64.ts
  random/_test_utils.ts
  random/_types.ts
  random/deno.json
  random/get_random_values_seeded.ts
  random/mod.ts
  random/next_float_64.ts
  random/next_float_64_test.ts
  random/seeded.ts
  random/seeded_test.ts
Labels: random

#6677 BREAKING(cli/unstable): make `ProgressBarFormatter.styledTime` a getter
  cli/unstable_progress_bar.ts
Labels: cli

#6695 chore(fs/unstable): ignore some rename and renameSync tests on windows
  fs/unstable_rename_test.ts
Labels: fs

#6689 fix(random/unstable): fixed results for some seeds
  random/_pcg32.ts
  random/seeded_test.ts
Labels: random

#6690 fix(cli/unstable): clamp `ratio`
  cli/unstable_progress_bar.ts
  cli/unstable_progress_bar_test.ts
Labels: cli
