Repository denoland/std, pull requests merged in 2025-07, with the labels that each got.

#6742 feat(cli/unstable): valued prompt items
  cli/unstable_prompt_multiple_select.ts
  cli/unstable_prompt_multiple_select_test.ts
  cli/unstable_prompt_select.ts
  cli/unstable_prompt_select_test.ts
Labels: cli

#6751 refactor(cli/unstable): rename `title` to `label` for valued prompt items
  cli/unstable_prompt_multiple_select.ts
  cli/unstable_prompt_multiple_select_test.ts
  cli/unstable_prompt_select.ts
  cli/unstable_prompt_select_test.ts
Labels: cli

#6754 feat(data-structures/unstable): 2d array
  _tools/check_export_names.ts
  data_structures/deno.json
  data_structures/unstable_2d_array.ts
  data_structures/unstable_2d_array_test.ts
Labels: data-structures

#6763 fix(http): respect colors and other `Deno.inspect` options when logging `UserAgent`s
  http/user_agent.ts
Labels: http

#6657 refactor(yaml): remove `version` property, separate directive handling
  yaml/_loader_state.ts
Labels: yaml

#6741 feat(cli/unstable): add search to promptSelect and promptMultipleSelect
  cli/unstable_prompt_multiple_select.ts
  cli/unstable_prompt_multiple_select_test.ts
  cli/unstable_prompt_select.ts
  cli/unstable_prompt_select_test.ts
Labels: cli

#6707 BREAKING(cli/unstable): rename `fmt` of `ProgressBarOption` to `formatter`
  cli/unstable_progress_bar.ts
  cli/unstable_progress_bar_test.ts
Labels: cli, feedback welcome

#6756 feat(cli/unstable): Introduce Ansi module
  cli/deno.json
  cli/unstable_ansi.ts
Labels: cli

#6769 refactor(cli/unstable): dedupe logic between promptSelect and promptMultipleSelect
  cli/_prompt_select.ts
  cli/unstable_prompt_multiple_select.ts
  cli/unstable_prompt_select.ts
Labels: cli

#6765 feat(net/unstable): add ip utilities
  net/deno.json
  net/unstable_ip.ts
  net/unstable_ip_test.ts
Labels: net

#6780 test(collections): fix mapValues mutation test so it actually tests mutation
  collections/map_values_test.ts
Labels: collections
