Repository denoland/std, pull requests merged in 2025-01, with the labels that each got.

#6310 test(fmt): add invalid duration `style` option test
  fmt/duration_test.ts
Labels: fmt

#6321 test(log): re-enable doc tests for `FileHandler`
  .gitignore
  _tmp/.keep
  _tools/check_docs.ts
  _tools/check_licence.ts
  log/file_handler.ts
Labels: log

#6329 docs(expect): correct minor typo
  expect/mod.ts
Labels: expect

#6333 docs(expect,text): remove no-eval directives that appear to be unneccessary
  expect/expect.ts
  text/unstable_slugify.ts
Labels: expect, text

#6311 perf(cbor): encodeCbor & encodeCborSequence
  cbor/_common_encode.ts
  cbor/encode_cbor.ts
  cbor/encode_cbor_sequence.ts
  cbor/encode_cbor_test.ts
Labels: cbor

#6323 perf(cbor): decodeCbor & decodeCborSequence
  cbor/_common_decode.ts
  cbor/decode_cbor.ts
  cbor/decode_cbor_sequence.ts
Labels: cbor

#6309 refactor(fmt): cleanup duration `format()` and utils
  fmt/duration.ts
Labels: fmt

#6300 feat(fs/unstable): add statSync and lstatSync
  _tools/check_docs.ts
  fs/_utils.ts
  fs/deno.json
  fs/unstable_lstat.ts
  fs/unstable_lstat_test.ts
  fs/unstable_stat.ts
  fs/unstable_stat_test.ts
  fs/unstable_types.ts
Labels: fs

#6313 fix(datetime): correct parsing of day period
  datetime/_date_time_formatter.ts
  datetime/_date_time_formatter_test.ts
  datetime/parse_test.ts
Labels: datetime

#6339 chore: use native type stripping of Node.js in node testing
  .github/workflows/ci.yml
  _tools/node_test_runner/deno_compat_hooks.mjs
  _tools/node_test_runner/package.json
  collections/max_with.ts
  collections/min_with.ts
  deno.json
Labels: collections

#6318 fix(cli): Handle overflow in `promptSecret`
  cli/prompt_secret.ts
  cli/prompt_secret_test.ts
Labels: cli

#6336 docs(collections): add the word "unique" to `distinctBy` JSDoc for grepping purposes (#6335)
  collections/distinct.ts
  collections/distinct_by.ts
Labels: collections

#6337 test(csv): unstable stringify tests
  csv/unstable_stringify_test.ts
Labels: csv

#6338 feat(fs/unstable): add readDir
  _tools/node_test_runner/register_deno_shim.mjs
  _tools/node_test_runner/run_test.mjs
  fs/_to_dir_entry.ts
  fs/deno.json
  fs/unstable_read_dir.ts
  fs/unstable_read_dir_test.ts
  fs/unstable_types.ts
Labels: fs

#6342 fix(assert): handle `__proto__` correctly in `assertObjectMatch`
  .github/workflows/ci.yml
  assert/object_match.ts
  assert/object_match_test.ts
  deno.json
Labels: assert

#6343 feat(fs/unstable): add chmod and chmodSync
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_chmod.ts
  fs/unstable_chmod_test.ts
Labels: fs

#6352 feat(fs/unstable): add symlink and symlinkSync
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_symlink.ts
  fs/unstable_symlink_test.ts
  fs/unstable_types.ts
Labels: fs

#6230 feat(async/unstable): add `waitFor` function to wait for condition to be true (#6213)
  async/delay_test.ts
  async/deno.json
  async/unstable_wait_for.ts
  async/unstable_wait_for_test.ts
Labels: async

#6355 fix(io): fix readAllSync for the case when read source is slow
  async/unstable_wait_for.ts
  async/unstable_wait_for_test.ts
  io/read_all.ts
  io/read_all_test.ts
Labels: async, io

#6357 docs(expect): fix typo on objectContaining example
  expect/expect.ts
Labels: expect

#6296 test(expect): check error message of `.toBeCloseTo()`
  expect/_to_be_close_to_test.ts
Labels: expect

#6350 feat(cli/unstable): support stderr on spinner
  cli/unstable_spinner.ts
  cli/unstable_spinner_test.ts
Labels: cli

#6366 feat(fs/unstable): add realPath and realPathSync
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_real_path.ts
  fs/unstable_real_path_test.ts
Labels: fs

#6360 fix(fmt): make printf working with colors.
  fmt/printf.ts
  fmt/printf_test.ts
Labels: fmt

#6364 docs(log): mention potential deprecation of @std/log
  log/mod.ts
Labels: log

#6369 feat(fs/unstable): add link and linkSync
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_link.ts
  fs/unstable_link_test.ts
Labels: fs

#6368 docs(crypto): clarify doc comment
  crypto/crypto.ts
Labels: crypto

#6372 refactor(bytes,crypto,encoding,http,io,msgpack,streams,tar): make Uint8Array usages compatible with TS 5.7
  bytes/_types.ts
  bytes/concat.ts
  bytes/repeat.ts
  crypto/crypto.ts
  encoding/_base32_common.ts
  encoding/_types.ts
  encoding/ascii85.ts
  encoding/base32.ts
  encoding/base58.ts
  encoding/base58_test.ts
  encoding/base64.ts
  encoding/base64_test.ts
  encoding/base64url.ts
  encoding/hex.ts
  encoding/unstable_base32_stream.ts
  encoding/unstable_base32crockford.ts
  encoding/unstable_base32hex.ts
  encoding/unstable_base32hex_stream.ts
  encoding/unstable_base64_stream.ts
  encoding/unstable_base64url_stream.ts
  encoding/unstable_hex_stream.ts
  encoding/varint.ts
  http/file_server_test.ts
  io/buffer.ts
  msgpack/_types.ts
  msgpack/encode.ts
  streams/buffer.ts
  streams/to_array_buffer.ts
  tar/untar_stream_test.ts
Labels: http, streams, bytes, crypto, encoding, io, msgpack, tar

#6373 feat(fs/unstable): add readLink and readLinkSync
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_read_link.ts
  fs/unstable_read_link_test.ts
Labels: fs
