Repository denoland/std, pull requests merged in 2025-10, with the labels that each got.

#6839 fix(async/unstable): fix handling of async predicate in waitFor
  async/unstable_wait_for.ts
  async/unstable_wait_for_test.ts
Labels: async

#6825 fix(semver): allow users to set prerelease number during increment
  semver/increment.ts
  semver/increment_test.ts
Labels: semver

#6845 fix(internal): fix error in module reference
  internal/truncate_build_message.ts
Labels: internal
