Repository denoland/std, pull requests merged in 2025-06, with the labels that each got.

#6693 refactor(cli/unstable): move unit related stuff to separate file
  cli/_unit.ts
  cli/unstable_progress_bar.ts
Labels: cli

#6702 feat(yaml/unstable): export `unstable_stringify.ts`
  yaml/deno.json
Labels: yaml

#6231 feat(http/unstable): add `cleanUrls` option to `serveDir`
  http/deno.json
  http/file_server.ts
  http/file_server_test.ts
  http/testdata/test_clean_urls.html
  http/testdata/test_clean_urls/.gitkeep
  http/unstable_file_server.ts
Labels: http

#6706 fix(cli/unstable): `Spinner` print on `start()`
  cli/unstable_spinner.ts
  cli/unstable_spinner_test.ts
Labels: cli

#6705 refactor(toml): use RegExp groups for month validation
  toml/_parser.ts
Labels: toml

#6658 refactor(yaml): move `composeNode()` params in an object
  yaml/_loader_state.ts
Labels: yaml

#6714 refactor(streams): throw `RangeError` within `Buffer` methods
  streams/buffer.ts
  streams/buffer_test.ts
Labels: streams

#6708 feat(streams/unstable): add `AbortStream`
  streams/deno.json
  streams/unstable_abort_stream.ts
  streams/unstable_abort_stream_test.ts
Labels: streams

#6720 chore(collections): add browser compatibility declaration to `unstable-cycle` module
  collections/unstable_cycle.ts
Labels: collections

#6725 chore: update html formatting in file_server
  http/file_server.ts
Labels: http

#6701 feat(text/unstable): add `toTitleCase()` and `toSentenceCase()`
  text/_test_util.ts
  text/_title_case_util.ts
  text/_title_case_util_test.ts
  text/_tools/generate_title_case_data.ts
  text/deno.json
  text/title_case_mapping.json
  text/unstable_to_sentence_case.ts
  text/unstable_to_sentence_case_test.ts
  text/unstable_to_title_case.ts
  text/unstable_to_title_case_test.ts
Labels: text

#6734 feat(text/unstable): add `longestCommonPrefix`
  text/deno.json
  text/unstable_longest_common_prefix.ts
  text/unstable_longest_common_prefix_test.ts
Labels: text

#6744 fix(fs,internal,path): unify `isWindows` implementations
  _tools/node_test_runner/tsconfig_for_bun.json
  fs/_to_file_info.ts
  fs/_utils.ts
  fs/copy.ts
  fs/ensure_symlink.ts
  fs/expand_glob.ts
  internal/_os.ts
  internal/_os_test.ts
  internal/_testing.ts
  internal/_testing_test.ts
  internal/deno.json
  internal/mod.ts
  internal/os.ts
  path/_os.ts
  path/basename.ts
  path/constants.ts
  path/dirname.ts
  path/extname.ts
  path/format.ts
  path/from_file_url.ts
  path/glob_to_regexp.ts
  path/is_absolute.ts
  path/join.ts
  path/join_globs.ts
  path/normalize.ts
  path/normalize_glob.ts
  path/parse.ts
  path/relative.ts
  path/resolve.ts
  path/to_file_url.ts
  path/to_namespaced_path.ts
  random/_test_utils.ts
  text/_test_util.ts
Labels: fs, path, text, internal, random
