Repository denoland/std, pull requests merged in 2025-03, with the labels that each got.

#6438 feat(fs/unstable): add `remove` and `removeSync` api.
  _tools/check_docs.ts
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_remove.ts
  fs/unstable_remove_test.ts
  fs/unstable_types.ts
Labels: fs

#6457 feat(encoding/unstable): add format option to encodeBase64 and decodeBase64
  _tools/check_docs.ts
  encoding/_common64.ts
  encoding/_common_detach.ts
  encoding/deno.json
  encoding/unstable_base64.ts
  encoding/unstable_base64_test.ts
Labels: encoding

#6444 feat(fs/unstable): add writeFile and writeFileSync
  _tools/node_test_runner/run_test.mjs
  fs/_get_fs_flag.ts
  fs/deno.json
  fs/unstable_types.ts
  fs/unstable_write_file.ts
  fs/unstable_write_file_test.ts
Labels: fs

#6459 fix(cbor): bug in preallocating space for string encoding
  cbor/_common_encode.ts
  cbor/encode_cbor.ts
  cbor/encode_cbor_sequence.ts
  cbor/encode_cbor_test.ts
Labels: cbor

#6463 feat(fs/unstable): add writeTextFile and writeTextFileSync
  _tools/check_docs.ts
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_write_text_file.ts
  fs/unstable_write_text_file_test.ts
Labels: fs

#6468 test(async): use FakeTime in pooledMap testing
  async/pool_test.ts
Labels: async

#6458 feat(cbor): add support for bignums
  cbor/_common_decode.ts
  cbor/_common_encode.ts
  cbor/decode_cbor_test.ts
  cbor/encode_cbor_test.ts
Labels: cbor

#6467 test(async): fix flaky waitFor test
  async/unstable_wait_for_test.ts
Labels: async

#6466 refactor(front-matter): inline `recognize()`
  front_matter/any.ts
Labels: front-matter

#6451 BREAKING(encoding/unstable): merge Base64Url(Encoder|Decoder)Stream to Base64(Encoder|Decoder)Stream
  _tools/check_docs.ts
  encoding/deno.json
  encoding/unstable_base64_stream.ts
  encoding/unstable_base64_stream_test.ts
  encoding/unstable_base64url_stream.ts
  encoding/unstable_base64url_stream_test.ts
Labels: encoding

#6471 BREAKING(encoding/unstable): merge base32 variations, add format option to encodeBase32 and decodeBase32
  _tools/check_docs.ts
  encoding/_common32.ts
  encoding/deno.json
  encoding/unstable_base32.ts
  encoding/unstable_base32_test.ts
  encoding/unstable_base32crockford.ts
  encoding/unstable_base32crockford_test.ts
  encoding/unstable_base32hex.ts
  encoding/unstable_base32hex_stream.ts
  encoding/unstable_base32hex_stream_test.ts
  encoding/unstable_base32hex_test.ts
Labels: encoding

#6461 perf(encoding): improve base64 encode/decode performance
  encoding/base64.ts
  encoding/base64url.ts
  encoding/base64url_test.ts
Labels: encoding

#6473 test(toml): inline test data
  toml/parse_test.ts
  toml/testdata/CRLF.toml
  toml/testdata/arrayTable.toml
  toml/testdata/arrays.toml
  toml/testdata/boolean.toml
  toml/testdata/cargo.toml
  toml/testdata/cargoTest.toml
  toml/testdata/comment.toml
  toml/testdata/datetime.toml
  toml/testdata/error-invalid-string.toml
  toml/testdata/error-invalid-whitespace1.toml
  toml/testdata/error-invalid-whitespace2.toml
  toml/testdata/error-open-string.toml
  toml/testdata/float.toml
  toml/testdata/inlineArrayOfInlineTable.toml
  toml/testdata/inlineTable.toml
  toml/testdata/integer.toml
  toml/testdata/keys.toml
  toml/testdata/simple.toml
  toml/testdata/string.toml
  toml/testdata/table.toml
Labels: toml

#6474 test(front-matter): remove double tests in `any_test.ts`
  front_matter/any_test.ts
Labels: front-matter

#6476 fix(encoding/unstable): encodeBase32 missing default option for format
  encoding/unstable_base32.ts
Labels: encoding

#6477 fix(encoding): decoding base64 with invalid bytes >= 128
  encoding/_common64.ts
  encoding/unstable_base32_test.ts
  encoding/unstable_base64_test.ts
Labels: encoding

#6452 BREAKING(encoding/unstable): merge Base32Hex(Encoder|Decoder)Stream to Base32(Encoder|Decoder)Stream
  _tools/check_docs.ts
  encoding/deno.json
  encoding/unstable_base32_stream.ts
  encoding/unstable_base32_stream_test.ts
  encoding/unstable_base32hex_stream.ts
  encoding/unstable_base32hex_stream_test.ts
Labels: encoding

#6478 chore(encoding): remove reductant JSDoc in base64 stream
  encoding/unstable_base64_stream.ts
Labels: encoding

#6469 feat(fs/unstable): add makeTempFile and makeTempFileSync
  _tools/check_docs.ts
  _tools/node_test_runner/run_test.mjs
  fs/_utils.ts
  fs/deno.json
  fs/unstable_make_temp_file.ts
  fs/unstable_make_temp_file_test.ts
Labels: fs

#6475 test(front-matter): simplify asserts
  front_matter/json_test.ts
  front_matter/toml_test.ts
  front_matter/yaml_test.ts
Labels: front-matter

#6488 chore: add browser compatibility comments
  cache/lru_cache.ts
  cache/memoize.ts
  cache/ttl_cache.ts
  cli/unstable_progress_bar.ts
  encoding/mod.ts
  front_matter/any.ts
  front_matter/json.ts
  front_matter/mod.ts
  front_matter/toml.ts
  front_matter/types.ts
  front_matter/unstable_yaml.ts
  front_matter/yaml.ts
  fs/eol.ts
  fs/unstable_errors.d.ts
  fs/unstable_types.ts
  internal/assertion_state.ts
  internal/diff_str.ts
  internal/types.ts
  io/mod.ts
  semver/satisfies.ts
  streams/concat_readable_streams.ts
  streams/unstable_fixed_chunk_stream.ts
  streams/unstable_to_byte_stream.ts
  streams/unstable_to_lines.ts
  tar/untar_stream.ts
Labels: streams, fs, encoding, front-matter, io, semver, cli, internal, tar

#6480 feat(encoding/unstable): add encode/decodeRawHex and rewrite underlying code
  _tools/check_docs.ts
  encoding/_common16.ts
  encoding/deno.json
  encoding/unstable_hex.ts
  encoding/unstable_hex_test.ts
Labels: encoding

#6493 chore(webgpu): ignore createTextureWithData() test case on windows
  webgpu/texture_with_data_test.ts
Labels: webgpu

#6497 refactor(cli/unstable): replace `ProgressBar` `#options` property with actual properties
  cli/unstable_progress_bar.ts
Labels: cli

#6479 perf(encoding): improve base32 encode/decode performance
  encoding/_base32_common.ts
  encoding/base32.ts
  encoding/base32_test.ts
Labels: encoding

#6453 feat(encoding/unstable): add options argument to hex streaming & performance
  _tools/check_docs.ts
  encoding/unstable_hex_stream.ts
  encoding/unstable_hex_stream_test.ts
Labels: encoding

#6503 refactor(cli/unstable): make `ProgressBar.#print()` better readable
  cli/unstable_progress_bar.ts
Labels: cli

#6491 chore: update doc linter, replace hardcoded entry list with dynamically created one
  _tools/check_docs.ts
  _tools/check_mod_exports.ts
  _tools/utils.ts
  cli/unstable_progress_bar.ts
  cli/unstable_progress_bar_stream.ts
  cli/unstable_prompt_select.ts
  collections/unstable_chunk.ts
  collections/unstable_drop_while.ts
  collections/unstable_sample.ts
  expect/fn.ts
  front_matter/any.ts
  media_types/vendor/db.ts
  testing/unstable_bdd.ts
  uuid/v1.ts
Labels: testing, collections, front-matter, media-types, uuid, expect, cli

#6499 perf(encoding): improve hex encode/decode performance
  encoding/_common16.ts
  encoding/hex.ts
  encoding/hex_test.ts
  encoding/unstable_hex_test.ts
Labels: encoding

#6496 fix(toml): handle hexadecimal, octal, and binary numbers
  toml/_parser.ts
  toml/parse_test.ts
Labels: toml

#6485 fix(assert,expect,internal,testing): improve handling of escaped chars in diff_str
  internal/diff_str.ts
  internal/diff_str_test.ts
Labels: internal

#6500 feat(text/unstable): add dedent
  text/deno.json
  text/unstable_dedent.ts
  text/unstable_dedent_test.ts
Labels: text

#6481 fix(front-matter): handle empty frontMatter data
  front_matter/_formats.ts
  front_matter/json.ts
  front_matter/json_test.ts
  front_matter/test_test.ts
  front_matter/toml.ts
  front_matter/toml_test.ts
  front_matter/yaml.ts
  front_matter/yaml_test.ts
Labels: front-matter

#6504 refactor(encoding): align error messages
  encoding/_common16.ts
  encoding/_common32.ts
  encoding/_common64.ts
  encoding/base32_test.ts
  encoding/base64url_test.ts
  encoding/hex_test.ts
  encoding/unstable_base32.ts
  encoding/unstable_base32_test.ts
  encoding/unstable_base64.ts
  encoding/unstable_base64_test.ts
  encoding/unstable_hex.ts
  encoding/unstable_hex_test.ts
Labels: encoding

#6502 BREAKING(cli/unstable): remove trailing whitespaces from `ProgressBarFormatter` properties
  cli/unstable_progress_bar.ts
Labels: cli

#6507 fix(front-matter): handle BOM when recognizing format
  front_matter/_formats.ts
  front_matter/any_test.ts
Labels: front-matter

#6508 feat(encoding/unstable): add Uint8Array support to decodeBase64, 32, and hex
  encoding/unstable_base32.ts
  encoding/unstable_base64.ts
  encoding/unstable_hex.ts
Labels: encoding

#6511 refactor(ini): remove `IniMap.prototype.#cleanFormatting()`
  ini/_ini_map.ts
Labels: ini

#6517 fix(ini): replace `isRecord()` with `isPlainObject()`
  ini/_ini_map.ts
  ini/stringify_test.ts
Labels: ini
