Repository denoland/std, pull requests merged in 2025-04, with the labels that each got.

#6516 fix(datetime): fix formatting of `fractionalSecond`, fix parsing of `yy` and `yyyy`, test each part type in dateTimeFormatter.format
  datetime/_date_time_formatter.ts
  datetime/_date_time_formatter_test.ts
  datetime/parse_test.ts
Labels: datetime

#6514 refactor(ini): simplify `stringify()`
  ini/_ini_map.ts
  ini/stringify.ts
Labels: ini

#6381 feat(fs/unstable): add readDirSync
  fs/unstable_read_dir.ts
  fs/unstable_read_dir_test.ts
Labels: fs

#6526 chore(semver): remove `MIN` constant
  semver/_constants.ts
  semver/is_range_test.ts
  semver/is_semver_test.ts
Labels: semver

#6525 fix(expect): include diff when `expect.toMatchObject` throws
  expect/_build_message.ts
  expect/_matchers.ts
  expect/_to_match_object_test.ts
  internal/format_test.ts
Labels: expect, internal

#6513 BREAKING(encoding/unstable): Replace `encodeRaw` with `encodeInto` & Remove `decodeRaw`
  encoding/_common16.ts
  encoding/_common32.ts
  encoding/_common64.ts
  encoding/base32.ts
  encoding/base64.ts
  encoding/base64url.ts
  encoding/hex.ts
  encoding/unstable_base32.ts
  encoding/unstable_base32_stream.ts
  encoding/unstable_base32_test.ts
  encoding/unstable_base64.ts
  encoding/unstable_base64_stream.ts
  encoding/unstable_base64_test.ts
  encoding/unstable_hex.ts
  encoding/unstable_hex_stream.ts
  encoding/unstable_hex_test.ts
Labels: encoding

#6534 refactor(toml): improve `Scanner` `next()` method
  toml/_parser.ts
Labels: toml

#6532 refactor(toml): add `Scanner` `startsWith()` method
  toml/_parser.ts
Labels: toml

#6506 refactor(cli/unstable): add `ProgressBar` `Unit` type
  cli/unstable_progress_bar.ts
Labels: cli

#6533 refactor(toml): improve `integer()` function
  toml/_parser.ts
Labels: toml

#6512 refactor(ini): simplify `parse()`
  ini/_ini_map.ts
  ini/parse.ts
  ini/parse_test.ts
Labels: ini

#6549 test(ini): refactor ini tests
  ini/parse_test.ts
  ini/stringify_test.ts
Labels: ini

#6537 fix(http): use relative urls in file server dirlisting
  http/file_server.ts
  http/file_server_test.ts
  http/testdata/nested-subdirs/subdir/test_file.txt
Labels: http

#6552 feat(fs/unstable): add chown and chownSync
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_chown.ts
  fs/unstable_chown_test.ts
Labels: fs

#6550 chore: Deno Style Guide lint plugin
  _tools/lint_plugin.ts
  _tools/lint_plugin_test.ts
  deno.json
  testing/types_test.ts
Labels: testing

#6515 refactor(ini): remove `IniMap`
  ini/_ini_map.ts
  ini/parse.ts
  ini/stringify.ts
Labels: ini

#6557 docs(encoding): fixed for calcSize functions
  encoding/_common16.ts
  encoding/_common32.ts
  encoding/_common64.ts
Labels: encoding

#6560 docs(json): update link to NDJSON
  json/parse_stream.ts
  json/stringify_stream.ts
Labels: json

#6559 chore: add `naming-convention` Deno Style Guide linter plugin
  _tools/lint_plugin.ts
  _tools/lint_plugin_test.ts
  assert/object_match.ts
  assert/object_match_test.ts
  fmt/printf.ts
  fs/eol_test.ts
  io/to_writable_stream.ts
  jsonc/parse.ts
  media_types/content_type.ts
  testing/bdd.ts
  testing/time.ts
  testing/types_test.ts
  ulid/_util.ts
Labels: testing, fmt, fs, io, jsonc, media-types, assert, ulid

#6524 feat(fs/unstable): add open, openSync, and FsFile class
  _tools/node_test_runner/run_test.mjs
  fs/_get_fs_flag.ts
  fs/_node_fs_file.ts
  fs/_node_fs_file_test.ts
  fs/_utils.ts
  fs/deno.json
  fs/unstable_open.ts
  fs/unstable_open_test.ts
  fs/unstable_types.ts
Labels: fs

#6564 refactor(toml): add `Scanner` `skipWhitespaces()` method
  toml/_parser.ts
  toml/parse_test.ts
Labels: toml

#6567 refactor(toml): cleanup `parserFactory()`
  toml/_parser.ts
Labels: toml

#6569 docs(path): add many more examples to `mod.ts`
  path/mod.ts
Labels: path

#6570 docs(encoding): add many more examples to `mod.ts`
  encoding/mod.ts
Labels: encoding

#6571 docs(csv): add many more examples to `mod.ts`
  csv/mod.ts
Labels: csv

#6572 fix(ini): fix quoted value bug
  ini/parse.ts
  ini/parse_test.ts
Labels: ini

#6562 chore: add `no-external-code` rule to Deno Style Guide lint plugin
  _tools/lint_plugin.ts
  _tools/lint_plugin_test.ts
  cli/_tools/compare_with_rust.ts
Labels: cli

#6558 chore: add `no-top-level-arrow-syntax` rule to Deno Style Guide linter plugin
  _tools/lint_plugin.ts
  _tools/lint_plugin_test.ts
  assert/equals_test.ts
  expect/_assert_equals_test.ts
  expect/_extend_test.ts
  expect/_to_equal_test.ts
  fs/_map_error.ts
  ini/stringify.ts
  log/base_handler.ts
  log/formatters_test.ts
Labels: fs, log, assert, expect, ini

#6585 fix(toml): fix empty string handling
  toml/_parser.ts
  toml/parse_test.ts
Labels: toml

#6582 refactor(toml): fix object check in 'merge' util
  toml/_parser.ts
Labels: toml

#6586 test(toml): move `stringify()` tests to `stringify_test.ts`
  toml/parse_test.ts
  toml/stringify_test.ts
Labels: toml

#6595 docs(cli/unstable): fix Spinner example typo
  cli/unstable_spinner.ts
Labels: cli

#6593 refactor(yaml): remove `throwError()` method
  yaml/_loader_state.ts
Labels: yaml

#6598 feat(data-structures/unstable): BidirectionalMap constructor accept iterables of key-value pairs
  data_structures/unstable_bidirectional_map.ts
  data_structures/unstable_bidirectional_map_test.ts
Labels: data-structures

#6600 feat(fs/unstable): add create and createSync
  _tools/node_test_runner/run_test.mjs
  fs/deno.json
  fs/unstable_create.ts
  fs/unstable_create_test.ts
Labels: fs

#6588 refactor(yaml): add `skipComment()` method
  yaml/_loader_state.ts
Labels: yaml

#6538 perf(toml): add `Scanner` `match()` method, capturing numbers and bare key patterns using sticky regexp
  toml/_parser.ts
  toml/parse_test.ts
Labels: toml

#6523 feat(cli/unstable): promptSelect scrolls when the list is too large
  cli/unstable_prompt_select.ts
  cli/unstable_prompt_select_test.ts
Labels: cli

#6603 refactor(yaml): add `skipWhitespaces()` method
  yaml/_loader_state.ts
Labels: yaml

#6594 refactor(yaml): declare-on-use variables
  yaml/_loader_state.ts
Labels: yaml

#6605 fix(toml): fix handling of leading and trailing underscores in number literals
  toml/_parser.ts
  toml/parse_test.ts
Labels: toml

#6606 fix(data-structures/unstable): BidirectionalMap differentiate extant `undefined` from missing values
  data_structures/unstable_bidirectional_map.ts
  data_structures/unstable_bidirectional_map_test.ts
Labels: data-structures

#6596 test(fmt): reduce unnecessary output during test run
  fmt/printf_test.ts
Labels: fmt

#6608 BREAKING(encoding/unstable): base64/32 functions to match proposal-arraybuffer-base64 API
  encoding/_common32.ts
  encoding/_common64.ts
  encoding/unstable_base32.ts
  encoding/unstable_base32_stream.ts
  encoding/unstable_base32_stream_test.ts
  encoding/unstable_base32_test.ts
  encoding/unstable_base64.ts
  encoding/unstable_base64_stream.ts
  encoding/unstable_base64_stream_test.ts
  encoding/unstable_base64_test.ts
Labels: encoding

#6573 BREAKING(text/unstable): fix dedent export path
  text/deno.json
  text/unstable_dedent.ts
Labels: text

#6553 refactor(assert,cbor,collections,fs,toml,uuid): align error messages to the style guide, add `error-message` Deno Style Guide linter plugin
  _tools/lint_plugin.ts
  _tools/lint_plugin_test.ts
  assert/equal.ts
  cbor/_common_decode.ts
  collections/sliding_windows.ts
  collections/sliding_windows_test.ts
  crypto/crypto.ts
  fs/_get_fs_flag.ts
  fs/_node_fs_file.ts
  testing/_test_suite.ts
  toml/stringify.ts
  toml/stringify_test.ts
  uuid/unstable_v6.ts
  uuid/unstable_v6_test.ts
  uuid/v1.ts
  uuid/v1_test.ts
Labels: testing, fs, collections, crypto, toml, uuid, assert, cbor

#6587 fix(toml): fix empty inline table bug
  toml/_parser.ts
  toml/parse_test.ts
Labels: toml

#6563 refactor(toml): split `symbol` parser
  toml/_parser.ts
  toml/parse_test.ts
Labels: toml

#6618 test(jsonc): move `node-jsonc-parser` out of separate `testdata` folder
  jsonc/parse_test.ts
  jsonc/testdata/node-jsonc-parser/README.md
  jsonc/testdata/node-jsonc-parser/test.ts
Labels: jsonc

#6576 chore(http): do not request to example.com in doc testing
  http/status.ts
Labels: http

#6610 fix(http): don't set the Date header in file_server.ts responses (use the default Date header value)
  http/file_server.ts
  http/file_server_test.ts
Labels: http

#6611 chore(crypto): update `crypto/_wasm` and `wasmbuild` task
  .github/typos.toml
  .github/workflows/ci.yml
  crypto/_wasm/.rustfmt.toml
  crypto/_wasm/Cargo.lock
  crypto/_wasm/Cargo.toml
  crypto/_wasm/lib/deno_std_wasm_crypto.d.mts
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.d.mts
  crypto/_wasm/lib/deno_std_wasm_crypto.generated.mjs
  crypto/_wasm/lib/deno_std_wasm_crypto.internal.mjs
  crypto/_wasm/lib/deno_std_wasm_crypto.mjs
  crypto/_wasm/mod.ts
  crypto/_wasm/rust-toolchain.toml
  crypto/_wasm/test.ts
  crypto/crypto.ts
  crypto/testdata/digest_large_inputs.ts
  crypto/testdata/digest_many_calls.ts
  deno.json
Labels: crypto

#6623 chore: replace instances of `deno_std` with `std`
  .github/CONTRIBUTING.md
  .github/FAQ.md
  .github/SECURITY.md
  assert/array_includes_test.ts
  assert/object_match.ts
  bytes/equals.ts
  bytes/equals_test.ts
  cli/unicode_width_test.ts
  dotenv/load.ts
  dotenv/testdata/app_load_child.ts
  dotenv/testdata/app_load_parent.ts
  expect/_to_equal_test.ts
  fs/walk_test.ts
  internal/build_message.ts
  testing/snapshot_test.ts
  toml/stringify_test.ts
Labels: testing, fs, bytes, dotenv, toml, assert, expect, cli, internal

#6312 fix(async): `abortable` should prevent uncaught error when promise is rejected
  async/abortable.ts
  async/abortable_test.ts
Labels: async

#6386 feat(collections/unstable): add cycle iterator utility
  collections/deno.json
  collections/unstable_cycle.ts
  collections/unstable_cycle_test.ts
Labels: enhancement, collections

#6621 feat(dotenv): add URL as envPath type
  dotenv/mod.ts
  dotenv/mod_test.ts
Labels: dotenv

#6544 feat(data-structures/unstable): add `BinarySearchTree` methods `ceiling`, `floor`, `higher`, `lower`
  data_structures/binary_search_tree_test.ts
  data_structures/deno.json
  data_structures/unstable_binary_search_tree.ts
  data_structures/unstable_binary_search_tree_test.ts
Labels: data-structures
